Repository VisActor/VChart, pull requests merged in 2023-12, with the labels that each got.

#1687 feat: semi site docs
  docs/assets/guide/en/tutorial_docs/Theme/private/Semi_en.md
  docs/assets/guide/zh/tutorial_docs/Theme/private/Semi_zh.md
Labels: docs

#1696 fix: update version of vscale
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/__tests__/runtime/browser/test-page/vtable-cell.ts
  packages/vchart/package.json
  packages/vchart/src/component/axis/cartesian/band-axis.ts
  packages/vchart/src/component/axis/cartesian/util/common.ts
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1697 docs: fix invalid link in api doc
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
Labels: docs

#1728 fix: export tooltip dimension event types
  packages/vchart/src/event/events/index.ts
  packages/vchart/src/event/index.ts
  packages/vchart/src/index.ts
Labels: vchart

#1731 chore: upgrade vrender 0.16.21
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1727 Fix/rose extension mark
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/rose/rose.ts
Labels: vchart

#1734 perf: simplify the default key of data
  packages/vchart/src/series/base/base-series.ts
Labels: vchart

#1733 feat: optimize map resize
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/series/map/map.ts
Labels: vchart

#1739 fix: marker should update when data change
  packages/vchart-editor/src/core/editor-layer.ts
  packages/vchart-editor/src/core/interface.ts
  packages/vchart-editor/src/elements/chart/chart.ts
Labels: typescript

#1747 Sync/main
  common/changes/@visactor/vchart/feat-support-interaction-group-in-region_2023-11-30-08-18.json
  common/changes/@visactor/vchart/fix-label_theme_change_2023-12-06-09-10.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-types/package.json
  packages/vchart-types/types/component/label/label.d.ts
  packages/vchart-types/types/component/label/util.d.ts
  packages/vchart-types/types/constant/index.d.ts
  packages/vchart-types/types/event/events/index.d.ts
  packages/vchart-types/types/event/index.d.ts
  packages/vchart-types/types/index.d.ts
  packages/vchart-types/types/region/interface.d.ts
  packages/vchart-types/types/region/region.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types

#1738 size: wordcloud_3d_transform_config
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/series/word-cloud/word-cloud-3d.ts
Labels: vchart

#1765 fix: fix type definition of VChartProps, close #1656
  packages/react-vchart/src/VChart.tsx
Labels: react-vchart

#1768 fix: fix the version of vutils to ~0.16.19
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1770 feat: add api about brush clear. fix#1769
  docs/assets/api/en/API/event.md
  docs/assets/api/zh/API/event.md
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/constant/event.ts
Labels: vchart, docs

#1782 feat: data module refactor
  common/config/rush/pnpm-lock.yaml
  packages/vmind/__tests__/browser/src/pages/ChartPreview.tsx
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/__tests__/browser/src/pages/Home.tsx
  packages/vmind/package.json
  packages/vmind/src/common/chartAdvisor/chartAdvisorHandler.ts
  packages/vmind/src/common/dataProcess/index.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/NLToChartPipe.ts
  packages/vmind/src/gpt/chart-generation/constants.ts
  packages/vmind/src/gpt/chart-generation/index.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/chart-generation/utils.ts
  packages/vmind/src/gpt/dataProcess/index.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/chart-generation/NLToChartPipe.ts
  packages/vmind/src/skylark/chart-generation/utils.ts
  packages/vmind/src/typings/index.ts
Labels: chore

#1781 refactor: do not import ColorUtil from vutils
  packages/vchart/src/theme/color-scheme/util.ts
  packages/vchart/src/util/color.ts
Labels: vchart

#1780 refactor: optimize pie & pie3d code
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/constant/polar.ts
  packages/vchart/src/mark/arc-3d.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/pie/3d/pie-3d.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, typescript

#1785 Fix/1219
  packages/vchart/__tests__/unit/component/cartesian/axis/linear-axis.test.ts
Labels: vchart, chore, typescript

#1788 fix: gauge pointer animation
  packages/vchart/src/series/gauge/animation.ts
  packages/vchart/src/series/gauge/gauge-pointer.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/polar/progress-like/animation.ts
  packages/vchart/src/series/progress/circular/circular.ts
Labels: vchart

#1787 fix: register richText graphic in text mark
  packages/vchart/src/mark/text.ts
Labels: vchart

#1790 Fix/gauge pointer animation
  common/changes/@visactor/vchart/fix-gauge-pointer-animation_2023-12-19-10-47.json
Labels: chore

#1795 fix: depend vrender
  packages/vchart-editor/package.json
  packages/vchart-editor/src/component/box-selection.ts
  packages/vchart-editor/src/component/highlight-box.ts
  packages/vchart-editor/src/component/layer-zoom-move.ts
  packages/vchart-editor/src/component/layout-component.ts
  packages/vchart-editor/src/component/transform-component2.ts
  packages/vchart-editor/src/core/editor-controller.ts
  packages/vchart-editor/src/core/editor-layer.ts
  packages/vchart-editor/src/core/interface.ts
  packages/vchart-editor/src/core/vchart-editor.ts
  packages/vchart-editor/src/elements/base-element.ts
  packages/vchart-editor/src/elements/chart/chart.ts
  packages/vchart-editor/src/elements/chart/editor-elements/base-editor-element.ts
  packages/vchart-editor/src/elements/chart/editor-elements/common-model-editor.ts
  packages/vchart-editor/src/elements/chart/editor-elements/layout-editor.ts
  packages/vchart-editor/src/elements/chart/editor-elements/marker/area.ts
  packages/vchart-editor/src/elements/chart/editor-elements/marker/base.ts
  packages/vchart-editor/src/elements/chart/editor-elements/marker/growth-line.ts
  packages/vchart-editor/src/elements/chart/editor-elements/marker/hierarchical-diff-line.ts
  packages/vchart-editor/src/elements/chart/editor-elements/marker/value-line.ts
  packages/vchart-editor/src/elements/chart/interface.ts
  packages/vchart-editor/src/elements/chart/utils/common.ts
  packages/vchart-editor/src/elements/chart/utils/layout.ts
  packages/vchart-editor/src/elements/chart/utils/marker/common.ts
  packages/vchart-editor/src/elements/chart/utils/text.ts
  packages/vchart-editor/src/elements/interface.ts
  packages/vchart-editor/src/elements/text/text.ts
  packages/vchart-editor/src/utils/element.ts
  packages/vchart-editor/src/utils/space.ts
Labels: typescript

#1799 Fix/select trigger off
  common/changes/@visactor/vchart/fix-select_triggerOff_2023-12-20-08-53.json
  packages/vchart/src/interaction/trigger.ts
Labels: vchart, chore

#1819 Fix/option animation not work
  common/changes/@visactor/vchart/develop_2023-12-22-03-55.json
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/common.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#1823 docs: add custom shape example cover image
  docs/assets/examples/en/custom/bar-image-extension.md
  docs/assets/examples/en/custom/custom-shape.md
  docs/assets/examples/en/custom/pie-extend-bars.md
  docs/assets/examples/zh/custom/bar-image-extension.md
  docs/assets/examples/zh/custom/custom-shape.md
  docs/assets/examples/zh/custom/pie-extend-bars.md
Labels: docs

#1825 chore: scrollbar docs writing error
  docs/assets/option/en/component/scrollbar.md
  docs/assets/option/zh/component/scrollbar.md
Labels: docs

#1821 fix: fix bug of release wordflows
  .github/workflows/release-changelog.yml
  .github/workflows/sync-main-to-develop.yml
Labels: chore

#1842 Dev vmind/1.2.0
  common/config/rush/pnpm-lock.yaml
  package-lock.json
  package.json
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/pages/ChartPreview.tsx
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/__tests__/browser/src/pages/Home.tsx
  packages/vmind/__tests__/browser/vite.config.ts
  packages/vmind/package.json
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/constants.ts
  packages/vmind/src/chart-generation/data/country-data.ts
  packages/vmind/src/chart-generation/data/idols.ts
  packages/vmind/src/chart-generation/data/province-data.ts
  packages/vmind/src/chart-generation/index.ts
  packages/vmind/src/chart-generation/utils.ts
  packages/vmind/src/common/chartAdvisor/chartAdvisorHandler.ts
  packages/vmind/src/common/chartAdvisor/index.ts
  packages/vmind/src/common/dataProcess/index.ts
  packages/vmind/src/common/dataProcess/utils.ts
  packages/vmind/src/common/schema.ts
  packages/vmind/src/common/vizDataToSpec/constants.ts
  packages/vmind/src/common/vizDataToSpec/index.ts
  packages/vmind/src/common/vizDataToSpec/pipes.ts
  packages/vmind/src/common/vizDataToSpec/utils.ts
  packages/vmind/src/common/vizDataToSpec/vizDataToSpec.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/chart-generation/index.ts
  packages/vmind/src/gpt/chart-generation/prompts.ts
  packages/vmind/src/gpt/chart-generation/utils.ts
  packages/vmind/src/gpt/dataProcess/index.ts
  packages/vmind/src/gpt/dataProcess/prompts.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/chart-generation/index.ts
  packages/vmind/src/skylark/chart-generation/prompts.ts
  packages/vmind/src/skylark/chart-generation/utils.ts
  packages/vmind/src/skylark/typings/index.ts
  packages/vmind/src/skylark/utils.ts
  packages/vmind/src/typings/index.ts
Labels: chore

#1836 Feat/treemap label
  packages/vchart/__tests__/unit/chart/treemap.test.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/treemap/treemap-transform.ts
  packages/vchart/src/series/treemap/treemap.ts
Labels: vchart

#1849 chore: optimize hotfix-release.yml and release-changelog.yml
  .github/workflows/hotfix-release.yml
  .github/workflows/release-changelog.yml
Labels: chore

#1851 fix: fix `getCurrentSize()` of vchart
  packages/vchart/src/core/vchart.ts
Labels: vchart

#1848 chore: add clear api of brush
  packages/vchart/src/component/brush/brush.ts
Labels: vchart

#1838 Fix/marker content padding
  common/changes/@visactor/vchart/fix-marker-content-padding_2023-12-25-09-07.json
  common/changes/@visactor/vchart/fix-marker-content-padding_2023-12-25-11-19.json
  docs/assets/examples/en/marker/mark-area-range.md
  docs/assets/examples/en/marker/mark-area-with-label.md
  docs/assets/examples/en/marker/mark-line-multi.md
  docs/assets/examples/en/marker/mark-point-image.md
  docs/assets/examples/zh/marker/mark-area-range.md
  docs/assets/examples/zh/marker/mark-area-with-label.md
  docs/assets/examples/zh/marker/mark-line-multi.md
  docs/assets/examples/zh/marker/mark-point-image.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
  packages/vchart/src/component/marker/utils.ts
Labels: vchart, chore, docs

#1853 fix: add listener to gesture in mobile or miniapp
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart

#1856 Fix/dual dim tooltip
  common/changes/@visactor/vchart/fix-dual-dim-tooltip_2023-12-28-06-59.json
  packages/vchart/src/component/tooltip/processor/base.ts
Labels: vchart, chore

#1857 fix: brush bounds error
  packages/vchart/src/component/brush/brush.ts
Labels: vchart

#1858 Fix/undefined global this
  common/changes/@visactor/vchart/fix-undefined-globalThis_2023-12-28-07-56.json
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/util/env.ts
  tools/story-player/src/utils/dom.ts
Labels: vchart, chore

#1859 Fix/fix bug in layout when band axis has no domain
  common/changes/@visactor/vchart/fix-fix-bug-in-layout-when-band-axis-has-no-domain_2023-12-28-08-04.json
  packages/vchart/src/layout/layout-item.ts
Labels: vchart, chore

#1860 fix: error in chart spec info
  packages/vchart/src/plugin/chart/media-query/media-query.ts
  packages/vchart/src/plugin/chart/media-query/util/action.ts
  packages/vchart/src/plugin/chart/media-query/util/filter.ts
Labels: vchart

#1837 fix: fix the error of log scale when some value is null or undefined
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1864 Fix/funnel clip animation
  common/changes/@visactor/vchart/fix-funnel_clip_animation_2023-12-28-10-42.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#1863 fix: mark overlap params of direction
  packages/vchart/src/series/mixin/line-mixin.ts
Labels: vchart

#1866 docs: supply animatio site demo
  docs/assets/examples/en/storytelling/appear-animation-config.md
  docs/assets/examples/en/storytelling/area-streamlight.md
  docs/assets/examples/en/storytelling/bar-highlight-animation.md
  docs/assets/examples/en/storytelling/bar-oneByOne-group.md
  docs/assets/examples/en/storytelling/bar-oneByOne-rect.md
  docs/assets/examples/en/storytelling/bar-oneByOne-series.md
  docs/assets/examples/en/storytelling/pie-preset-animation.md
  docs/assets/examples/en/storytelling/ring-carousel-animation.md
  docs/assets/examples/en/storytelling/simple-animation-arrangement.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/storytelling/appear-animation-config.md
  docs/assets/examples/zh/storytelling/area-streamlight.md
  docs/assets/examples/zh/storytelling/bar-highlight-animation.md
  docs/assets/examples/zh/storytelling/bar-oneByOne-group.md
  docs/assets/examples/zh/storytelling/bar-oneByOne-rect.md
  docs/assets/examples/zh/storytelling/bar-oneByOne-series.md
  docs/assets/examples/zh/storytelling/pie-preset-animation.md
  docs/assets/examples/zh/storytelling/ring-carousel-animation.md
  docs/assets/examples/zh/storytelling/simple-animation-arrangement.md
  docs/public/vchart/preview/appear-animation-config_1.8.3.gif
  docs/public/vchart/preview/area-streamlight_1.8.3.gif
  docs/public/vchart/preview/bar-highlight_1.8.3.gif
  docs/public/vchart/preview/bar-oneByOne-group_1.8.3.gif
  docs/public/vchart/preview/bar-oneByOne-rect_1.8.3.gif
  docs/public/vchart/preview/bar-oneByOne-series_1.8.3.gif
  docs/public/vchart/preview/pie-preset-animation_1.8.3.gif
  docs/public/vchart/preview/ring-carousel-animation_1.8.3.gif
  docs/public/vchart/preview/simple-animation-arrangement_1.8.3.gif
Labels: docs

#1870 Feat vmind performance test
  .vscode/settings.json
  common/config/rush/pnpm-lock.yaml
  packages/vmind/__tests__/browser/src/Layout.tsx
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/pages/ChartPreview.tsx
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/__tests__/browser/src/pages/Home.tsx
  packages/vmind/__tests__/performance/output.json
  packages/vmind/__tests__/performance/performanceTest.ts
  packages/vmind/jest.performance.config.js
  packages/vmind/package.json
  packages/vmind/src/chart-to-video/index.ts
  packages/vmind/src/common/chartAdvisor/chartAdvisorHandler.ts
  packages/vmind/src/common/dataProcess/index.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/utils.ts
  packages/vmind/src/skylark/utils.ts
  packages/vmind/src/typings/index.ts
  packages/vmind/test-setup.js
Labels: chore

#1874 fix: the issue of duplicated label component when labelLayout is region
  packages/vchart/src/component/label/label.ts
Labels: vchart
