Repository VisActor/VChart, pull requests merged in 2023-08, with the labels that each got.

#339 feat: geo-coordinate support zoom api in #292
  common/changes/@visactor/vchart/feat-map_zoom_api_2023-07-27-10-46.json
  packages/vchart/src/component/geo/geo-coordinate.ts
Labels: vchart, chore

#356 fix: fix the issue of geo source lost
  common/changes/@visactor/vchart/fix-should_not_remove_geo_source_2023-08-01-06-57.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#364 Sync/main
  common/changes/@visactor/lark-vchart/fix-issue-321_2023-08-01-06-21.json
  common/changes/@visactor/lark-vchart/issue-335_2023-07-31-13-05.json
  common/changes/@visactor/react-vchart/fix-issue-321_2023-08-01-06-21.json
  common/changes/@visactor/react-vchart/issue-335_2023-07-31-13-05.json
  common/changes/@visactor/taro-vchart/fix-issue-321_2023-08-01-06-21.json
  common/changes/@visactor/taro-vchart/issue-335_2023-07-31-13-05.json
  common/changes/@visactor/vchart/feat-map_zoom_api_2023-07-27-10-46.json
  common/changes/@visactor/vchart/fix-issue-321_2023-08-01-06-21.json
  common/changes/@visactor/vchart/fix-issue-358_2023-08-01-07-58.json
  common/changes/@visactor/vchart/fix-should_not_remove_geo_source_2023-08-01-06-57.json
  common/changes/@visactor/vchart/fix-updateSpec_cannot_show_label_2023-07-28-06-18.json
  common/changes/@visactor/vchart/issue-335_2023-07-31-13-05.json
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/CHANGELOG.json
  packages/lark-vchart/CHANGELOG.md
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/CHANGELOG.json
  packages/react-vchart/CHANGELOG.md
  packages/react-vchart/package.json
  packages/taro-vchart/CHANGELOG.json
  packages/taro-vchart/CHANGELOG.md
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#377 chore: update common/config/rush/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Labels: chore

#390 fix: fixing the exception thrown when updating the map updateSpec
  common/changes/@visactor/vchart/fix-updateSpec_throw_error_2023-08-03-06-48.json
  packages/vchart/src/series/geo/geo.ts
Labels: vchart, chore

#394 Feat log axis dev/1.2.0
  common/changes/@visactor/lark-vchart/feat-log-axis-update_2023-07-28-13-03.json
  common/changes/@visactor/react-vchart/feat-log-axis-update_2023-07-28-13-03.json
  common/changes/@visactor/taro-vchart/feat-log-axis-update_2023-07-28-13-03.json
  common/changes/@visactor/vchart-schema/feat-log-axis-update_2023-07-28-13-03.json
  common/changes/@visactor/vchart/feat-log-axis-update_2023-07-28-13-03.json
  packages/vchart/__tests__/runtime/browser/test-page/log-axis.ts
  packages/vchart/src/component/axis/cartesian/index.ts
  packages/vchart/src/component/axis/cartesian/interface/spec.ts
  packages/vchart/src/component/axis/cartesian/linear-axis.ts
  packages/vchart/src/component/axis/cartesian/log-axis.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/index.ts
  packages/vchart/src/component/interface/type.ts
  packages/vchart/src/theme/buildin-theme/light/component/axis/log-axis.ts
  packages/vchart/src/vchart-all.ts
Labels: vchart, chore, typescript

#402 fix: fixing the issue where updateSpec does not have an effect on map…
  common/changes/@visactor/vchart/fix-map_updateSpec_2023-08-03-10-07.json
  packages/vchart/src/series/map/map.ts
Labels: vchart, chore

#412 Sync/main
  common/changes/@visactor/lark-vchart/fix-341-sourceField-targetField_2023-08-01-12-18.json
  common/changes/@visactor/lark-vchart/fix-343-sankeyChart-nodeAlign_2023-08-01-12-52.json
  common/changes/@visactor/react-vchart/fix-341-sankeyChart-support-sourceField_2023-08-01-12-34.json
  common/changes/@visactor/react-vchart/fix-343-sankeyChart-nodeAlign_2023-08-01-12-52.json
  common/changes/@visactor/taro-vchart/fix-341-sankeyChart-support-sourceField_2023-08-01-12-34.json
  common/changes/@visactor/taro-vchart/fix-343-sankeyChart-nodeAlign_2023-08-01-12-52.json
  common/changes/@visactor/vchart/fix-341-sankeyChart-support-sourceField_2023-08-01-12-34.json
  common/changes/@visactor/vchart/fix-343-sankeyChart-nodeAlign_2023-08-01-12-52.json
  common/changes/@visactor/vchart/fix-dataZoom-bug_2023-08-02-12-52.json
  common/changes/@visactor/vchart/fix-issue-337_2023-08-01-13-36.json
  common/changes/@visactor/vchart/fix-map_updateSpec_2023-08-03-10-07.json
  common/changes/@visactor/vchart/fix-updateSpec_throw_error_2023-08-03-06-48.json
  common/changes/@visactor/vchart/fix-waterfall-bar-style-setting_2023-08-03-03-54.json
  common/changes/@visactor/vchart/fix-waterfall-datazoom_2023-08-03-04-06.json
  common/changes/@visactor/vchart/fix-word-cloud_2023-08-01-16-29.json
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/CHANGELOG.json
  packages/lark-vchart/CHANGELOG.md
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/CHANGELOG.json
  packages/react-vchart/CHANGELOG.md
  packages/react-vchart/package.json
  packages/taro-vchart/CHANGELOG.json
  packages/taro-vchart/CHANGELOG.md
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#423 chore: upgrade vrender to v0.14
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart

#431 Fix/wrong update of react components
  common/changes/@visactor/lark-vchart/fix-wrong-update-of-react-components_2023-08-04-10-12.json
  common/changes/@visactor/taro-vchart/fix-wrong-update-of-react-components_2023-08-04-10-12.json
  common/changes/@visactor/vchart/fix-wrong-update-of-react-components_2023-08-04-10-12.json
Labels: chore, react-vchart

#480 chore: upgrade vrender version to 0.13.9, vrender-component version t…
  common/config/rush/pnpm-lock.yaml
Labels: chore

#486 fix(react-vchart): fix the issue <VChart /> update wrong `eventsBind…
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: react-vchart

#504 chore: because of the pnpm strategy, update the version accurately
  common/config/rush/pnpm-lock.yaml
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart

#532 Chore/tsconfig
  share/ts-config/tsconfig.base.json
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/tasks/modules.ts
Labels: typescript, bundler

#549 Fix/dimension tooltip 1.2.0
  packages/vchart/src/component/tooltip/handler/utils/get-spec.ts
  packages/vchart/src/series/base/tooltip-helper.ts
Labels: vchart

#564 fix: default word-break in multiline text measure
  packages/vchart/src/component/tooltip/handler/utils/attribute.ts
Labels: vchart, chore, typescript, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, bundler, vchart-schema

#510 Feat/total label
  common/changes/@visactor/vchart/feat-total_label_2023-08-11-07-46.json
  packages/vchart/src/chart/base-chart.ts
  packages/vchart/src/chart/cartesian/cartesian.ts
  packages/vchart/src/chart/stack.ts
  packages/vchart/src/component/index.ts
  packages/vchart/src/component/interface/common.ts
  packages/vchart/src/component/interface/theme.ts
  packages/vchart/src/component/interface/type.ts
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/totalLabel.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/constant/index.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/theme/buildin-theme/light/component/index.ts
  packages/vchart/src/theme/buildin-theme/light/component/total-label.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/vchart-all.ts
Labels: vchart, chore, typescript

#586 fix: fix the problem that the title component clear incompletely
  common/changes/@visactor/vchart/fix-title_not_clear_2023-08-21-03-37.json
  packages/vchart/src/component/title/title.ts
Labels: vchart, chore

#588 fix(vchart-schema): fix the vchart schema of patternProperties
  common/config/rush/pnpm-lock.yaml
  packages/vchart-schema/README.md
  packages/vchart-schema/__tests__/pie-chart-spec.test.ts
  packages/vchart-schema/vchart.json
  tools/typescript-json-schema/typescript-json-schema.ts
Labels: chore, test, vchart-schema, typescript-json-schema

#525 feat: new performance test page
  packages/vchart/__tests__/runtime/browser/test-page/performance-line.ts
Labels: vchart

#595 Feat/layout support percent and offset
  packages/vchart/src/chart/base-chart.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/util/space.ts
Labels: vchart, typescript

#604 chore: reduce postinstall build content and improve rush update speed
  common/config/rush/pnpm-lock.yaml
  packages/vchart/bundler.config.js
  packages/vchart/package.json
  tools/bundler/README.md
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/logic/config.ts
Labels: vchart, chore, bundler

#609 chore: optimize rush update to increase speed
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  packages/vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore

#618 fix: error when mouse hovering during updateSpec executing
  packages/vchart/src/component/tooltip/handler/base.ts
  packages/vchart/src/component/tooltip/handler/utils/common.ts
  packages/vchart/src/series/line/line.ts
Labels: vchart

#523 Feat/access arc label component
  common/changes/@visactor/vchart/feat-access-arc-label-component_2023-08-14-08-19.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/__tests__/runtime/browser/test-page/pie-label.ts
  packages/vchart/package.json
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/pie.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/layout/label/arc-label.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/rose/interface.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/theme/buildin-theme/light/series/rose.ts
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs

#572 feat: react-vchart disable exitAnimation when update
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: react-vchart

#648 Fix/parent element
  packages/vchart/src/model/base-model.ts
Labels: vchart

#649 build: prelease version 1.3.0-beta.7
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs

#658 chore: reopen bugserver in release workflow
  .github/workflows/release.yml
Labels: chore

#660 test: add performance test in bugserver
  packages/vchart/scripts/trigger-test.ts
Labels: vchart

#669 fix: missing datum for valueToPositionY
  packages/vchart/src/series/cartesian/cartesian.ts
Labels: vchart

#684 chore: add readme for document
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.md
  README.zh-CN.md
  docs/assets/examples/menu.json
  docs/src/option.tsx
  docs/src/option/description.tsx
Labels: docs

#678 chore: supply docs of marker
  docs/assets/options/en/component/marker-common/marker-label.md
  docs/assets/options/zh/component/marker-common/marker-label.md
Labels: docs

#701 feat: geo coordinate component support location and getScale API
  common/changes/@visactor/vchart/feat-geocordinate_api_2023-08-29-12-19.json
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/geo/projection.ts
Labels: vchart, chore

#717 docs: add docs of sortDataByAxis
  docs/assets/options/en/common/cartesian-series.md
  docs/assets/options/zh/common/cartesian-series.md
Labels: docs

#719 fix: should not throw error for illegal data
  packages/vchart/src/component/geo/geo-coordinate.ts
Labels: vchart

#716 Docs/add tutorials of gradient
  docs/assets/tutorials/en/concepts/series/mark.md
  docs/assets/tutorials/zh/concepts/series/mark.md
Labels: docs

#724 docs: change extension-mark docs from fixed prefix to dynamic prefix
  docs/assets/options/en/common/extension-mark.md
  docs/assets/options/zh/common/extension-mark.md
Labels: docs

#374 fix: flatten sankeyNodeElement, legend data filter of sankey, fix #345
  common/changes/@visactor/vchart/feat-flatten-sankeyNodeElement_2023-08-30-09-31.json
  common/config/rush/pnpm-lock.yaml
  packages/vchart/__tests__/runtime/browser/test-page/sankey.ts
  packages/vchart/src/data/transforms/legend-data/discrete/discrete.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore

#727 docs: add site docs readme
  README.md
  README.zh-CN.md
  docs/README.md
  docs/README.zh-CN.md
Labels: docs
