Repository VisActor/VChart, pull requests merged in 2023-09, with the labels that each got.

#731 feat: reduce pie label package size
  packages/vchart/src/layout/label/arc-label.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart

#737 docs: add docs of updateFullData api
  docs/assets/api/en/vchart.md
  docs/assets/api/zh/vchart.md
Labels: docs

#730 docs/rose chart label spec
  docs/assets/examples/en/rose-chart/basic-rose.md
  docs/assets/examples/en/sankey-chart/hierarchical-sankey.md
  docs/assets/examples/en/tooltip/custom-tooltip-handler.md
  docs/assets/examples/zh/rose-chart/basic-rose.md
  docs/assets/examples/zh/sankey-chart/hierarchical-sankey.md
  docs/assets/examples/zh/tooltip/custom-tooltip-handler.md
  docs/assets/options/en/component/indicator/indicator.md
  docs/assets/options/en/series/pie.md
  docs/assets/options/en/series/rose.md
  docs/assets/options/zh/component/indicator/indicator.md
  docs/assets/options/zh/series/pie.md
  docs/assets/options/zh/series/rose.md
  packages/vchart/__tests__/runtime/browser/test-page/custom-tooltip-handler.ts
Labels: vchart, docs

#761 chore: fix version errorn in `set-preprelease-version`
  common/scripts/set-prerelease-version.js
  common/scripts/version-policies.js
Labels: chore

#762 feat: vmind docs
  docs/assets/tutorials/en/intelligent-visualization/getting-started-data-video.md
  docs/assets/tutorials/zh/intelligent-visualization/getting-started-data-video.md
Labels: docs

#766 chore: bigger CHECK_PHOTO_TEST_MAX_COUNT
  packages/vchart/scripts/trigger-test.ts
Labels: vchart

#800 chore(taro-vchart): update readme and demo
  packages/taro-vchart/README.md
  packages/taro-vchart/gallery/data/crosshair.js
  packages/taro-vchart/gallery/pages/index/index.tsx
Labels: taro-vchart

#798 feat: support example preview generation
  .gitignore
  .vscode/launch.json
  common/config/rush/pnpm-lock.yaml
  docs/libs/preview.js
  docs/package.json
  docs/src/markdown.tsx
Labels: chore, docs

#779 Refactor/seperate grid
  common/changes/@visactor/vchart/refactor-seperate-grid_2023-09-05-01-59.json
  common/changes/@visactor/vchart/refactor-seperate-grid_2023-09-05-02-01.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/axis/inverse.md
  docs/assets/examples/zh/axis/inverse.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/package.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/interface.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/constant/index.ts
  packages/vchart/src/vchart-all.ts
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs

#864 docs: the on-demand reference method still needs to be optimized. The…
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/zh/tutorial_docs/Basic/How_to_Import_VChart.md
Labels: chore, docs

#842 fix: varify [Bug] rose chart label conflict with legend #694, and [Bu…
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/__tests__/runtime/browser/test-page/custom-tooltip-handler.ts
  packages/vchart/__tests__/runtime/browser/test-page/pie-label.ts
  packages/vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#880 chore: update band axis option doc
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/component/axis-common/band-axis.md
  docs/assets/option/zh/component/axis-common/band-axis.md
Labels: chore, docs

#879 demo: fix incorrect demo spec
  docs/assets/examples/zh/legend/custom-line-legend.md
Labels: docs

#893 docs: add docs of py-vchart
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/python.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/python.md
  docs/package.json
Labels: chore, docs

#895 docs: correct sampling configuration instructions
  docs/assets/examples/en/axis/axis-label-autoHide-and-autoRotate.md
  docs/assets/examples/en/axis/axis-label-autoHide.md
  docs/assets/examples/en/axis/disable-sampling.md
  docs/assets/examples/zh/axis/axis-label-autoHide-and-autoRotate.md
  docs/assets/examples/zh/axis/axis-label-autoHide.md
  docs/assets/examples/zh/axis/disable-sampling.md
Labels: docs

#917 Fix/884 rose chart inner label
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/__tests__/runtime/browser/test-page/pie-label.ts
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, jest, block-vchart, lark-vchart, tt-vchart, bundler, eslint, test, vchart-schema, docs

#934 demo: update gauge indicator spec
  docs/assets/examples/en/gauge-chart/gauge-progress.md
  docs/assets/examples/zh/gauge-chart/gauge-progress.md
Labels: docs

#931 chore: upgrade vutils to 0.15.14
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#939 docs: selectMode, not selectedMode
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/zh/component/legend-discrete.md
Labels: chore, docs

#936 Fix/scrollbar config
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/region/region.ts
Labels: vchart

#940 Feat/scrollbar config 1.4.0
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/region/region.ts
Labels: vchart

#944 Feat/scrollbar config 1.4.0
  packages/vchart/src/chart/polar/polar.ts
  packages/vchart/src/chart/sequence/sequence.ts
  packages/vchart/src/component/data-zoom/constant.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
  packages/vchart/src/component/data-zoom/interface.ts
  packages/vchart/src/component/data-zoom/scroll-bar/interface.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
  packages/vchart/src/region/region.ts
Labels: vchart, typescript

#943 fix: scrolbar interface error
  packages/vchart/src/chart/polar/polar.ts
  packages/vchart/src/component/data-zoom/constant.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
  packages/vchart/src/component/data-zoom/interface.ts
  packages/vchart/src/component/data-zoom/scroll-bar/interface.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
  packages/vchart/src/region/region.ts
Labels: vchart, typescript

#952 Feat: vmind demo
  common/config/rush/pnpm-lock.yaml
  docs/assets/demos/vmind-chart-generation/App.tsx
  docs/assets/demos/vmind-chart-generation/Layout.tsx
  docs/assets/demos/vmind-chart-generation/constants/index.ts
  docs/assets/demos/vmind-chart-generation/index.html
  docs/assets/demos/vmind-chart-generation/index.scss
  docs/assets/demos/vmind-chart-generation/index.tsx
  docs/assets/demos/vmind-chart-generation/pages/Home.tsx
  docs/assets/demos/vmind-chart-generation/pages/LeftInput.tsx
  docs/assets/demos/vmind-chart-generation/pages/RightChart.tsx
  docs/assets/demos/vmind-chart-generation/pages/index.scss
  docs/menu.json
  docs/package.json
  docs/src/app.tsx
  docs/src/vmind.tsx
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
Labels: vchart, chore, docs

#954 docs: fix incorrect demo spec in animation tutorial
  docs/assets/guide/en/tutorial_docs/Animation/Animation_Types.md
  docs/assets/guide/zh/tutorial_docs/Animation/Animation_Types.md
Labels: docs

#955 feat: dark mode of vmind playground
  docs/assets/demos/vmind-chart-generation/constants/index.ts
  docs/assets/demos/vmind-chart-generation/pages/Home.tsx
  docs/assets/demos/vmind-chart-generation/pages/LeftInput.tsx
  docs/assets/demos/vmind-chart-generation/pages/RightChart.tsx
  docs/assets/demos/vmind-chart-generation/pages/index.scss
  docs/vite.config.js
Labels: docs

#962 feat: update input style
  docs/assets/demos/vmind-chart-generation/pages/LeftInput.tsx
Labels: demos, VMind

#970 feat: add demo selection
  docs/assets/demos/vmind-chart-generation/constants/index.ts
  docs/assets/demos/vmind-chart-generation/pages/Home.tsx
  docs/assets/demos/vmind-chart-generation/pages/LeftInput.tsx
Labels: docs

#945 Feat/pie: minAngle
  common/changes/@visactor/vchart/feat-pie-min-angle_2023-09-14-09-08.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/src/chart/pie/base.ts
  packages/vchart/src/constant/polar.ts
  packages/vchart/src/data/transforms/pie.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore, typescript, docs

#978 Sync/main
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs

#995 fix: modify the Sankey diagram event listening level
  common/config/rush/pnpm-lock.yaml
  packages/vchart/__tests__/runtime/browser/test-page/pie-label.ts
  packages/vchart/__tests__/runtime/browser/test-page/sankey.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore

#1010 chore: upgrade vmind
  common/config/rush/pnpm-lock.yaml
  docs/package.json
Labels: chore, docs

#1009 Fix/site bad demos
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/area-chart/stacked-dash-area.md
  docs/assets/examples/en/box-plot/grouped-box-plot.md
  docs/assets/examples/en/brush/rect-linked-brush.md
  docs/assets/examples/en/chart-3d/funnel3d.md
  docs/assets/examples/en/chart-3d/pie3d.md
  docs/assets/examples/en/chart-3d/wordcloud3d.md
  docs/assets/examples/en/combination/easing-visualization.md
  docs/assets/examples/en/crosshair/multiple-region.md
  docs/assets/examples/en/scatter-chart/stack-scatter.md
  docs/assets/examples/zh/area-chart/stacked-dash-area.md
  docs/assets/examples/zh/box-plot/grouped-box-plot.md
  docs/assets/examples/zh/brush/rect-linked-brush.md
  docs/assets/examples/zh/chart-3d/funnel3d.md
  docs/assets/examples/zh/chart-3d/pie3d.md
  docs/assets/examples/zh/chart-3d/wordcloud3d.md
  docs/assets/examples/zh/combination/easing-visualization.md
  docs/assets/examples/zh/crosshair/multiple-region.md
  docs/assets/examples/zh/scatter-chart/stack-scatter.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore, react-vchart, docs

#1017 feat: upgrade vscale for enable threshold scale
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1021 fix: upgrade vmind
  common/config/rush/pnpm-lock.yaml
  docs/package.json
Labels: chore, docs

#1006 crosshair docs update & upgrade vrender to 0.15.3
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/component/crosshair-common/crosshair-data-bind.md
  docs/assets/option/en/component/legend-common/base-legend.md
  docs/assets/option/zh/component/crosshair-common/crosshair-data-bind.md
  docs/assets/option/zh/component/legend-common/base-legend.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/legend/interface.ts
  packages/vutils-extension/bundler.config.js
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, bundler, docs

#1031 chore: docs link update
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Series/Mark.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Series/Mark.md
Labels: docs

#1035 Fix/tick mask
  packages/vchart/__tests__/runtime/browser/test-page/circular-progress.ts
  packages/vchart/src/chart/progress/circular/circular.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/theme/builtin/common/series/circular-progress.ts
  packages/vchart/src/theme/builtin/common/series/gauge.ts
Labels: vchart

#1028 Fix/sankey support color
  common/changes/@visactor/vchart/feat-sankey-support-color_2023-09-20-14-33.json
  common/config/rush/pnpm-lock.yaml
  packages/vchart/__tests__/runtime/browser/test-page/sankey.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore, typescript

#1041 demo: add axis vertical label demo
  docs/assets/examples/en/axis/axis-band-size.md
  docs/assets/examples/en/axis/axis-vertical-label.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/axis/axis-band-size.md
  docs/assets/examples/zh/axis/axis-vertical-label.md
  docs/public/vchart/preview/axis-vertical-label_1.4.0.png
Labels: docs

#1056 chore: upgrade vgrammar
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, docs

#1058 docs: remove uncorrect doc
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
Labels: docs

#1072 Fix/label config override
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/label/label.ts
Labels: vchart, chore, react-vchart, docs

#1086 fix: mark-area's label does not support refX refY and refAngle
  docs/assets/option/en/component/mark-area.md
  docs/assets/option/en/component/marker-common/marker-label.md
  docs/assets/option/zh/component/mark-area.md
  docs/assets/option/zh/component/marker-common/marker-label.md
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/interface/theme.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
Labels: vchart, typescript, docs

#1104 Sync/main
  common/changes/@visactor/vchart/fix-data-not-exist-in-updateSpec-with-theme_2023-09-26-07-37.json
  common/changes/@visactor/vchart/fix-data-not-exist-in-updateSpec-with-theme_2023-09-26-08-39.json
  common/changes/@visactor/vchart/fix-data-zoom-bounds_2023-09-25-20-23.json
  common/changes/@visactor/vchart/fix-issue-900_2023-09-26-06-40.json
  common/changes/@visactor/vchart/fix-theme-fontFamily-not-work_2023-09-26-09-43.json
  common/changes/@visactor/vchart/fix-update-full-data_2023-09-25-12-03.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs

#1110 fix: axis title can not set pickable: false
  packages/vchart/src/component/axis/base-axis.ts
Labels: vchart
