Repository VisActor/VChart, pull requests merged in 2023-07, with the labels that each got.

#134 feat: add bandwidth attribute to context that in mark function call
  common/changes/@visactor/react-vchart/feat-116-feature-mark-style-function-attribute-add-bandsize_2023-07-06-02-50.json
  common/changes/@visactor/vchart/feat-116-feature-mark-style-function-attribute-add-bandsize_2023-07-06-02-50.json
  packages/vchart/src/series/cartesian/cartesian.ts
Labels: vchart, chore

#139 fix: fix barWidth not work in bar chart
  common/changes/@visactor/react-vchart/fix-bar-chart-spec-transform_2023-07-06-07-50.json
  common/changes/@visactor/vchart/fix-bar-chart-spec-transform_2023-07-06-07-50.json
  packages/vchart/src/chart/bar/bar.ts
Labels: vchart, chore

#143 chore: change bugserver wait time
  packages/vchart/github-ci.js
Labels: vchart

#183 chore: log respose while request bugserver '/ci/trigger' api
  packages/vchart/github-ci.js
Labels: vchart

#186 Pre release/1.1.0 beta.4
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#191 fix: box-plot direction and axis bug
  packages/vchart/src/chart/box-plot/box-plot.ts
Labels: vchart

#207 chore: add site link in readme doc
  README.md
  README.zh-CN.md
  packages/block-vchart/README.md
  packages/lark-vchart/README.md
  packages/react-vchart/README.md
  packages/react-vchart/docs/1. 快速开始.md
  packages/taro-vchart/README.md
  packages/tt-vchart/README.md
  packages/vchart/README.md
Labels: vchart, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#208 build: prelease version 1.1.0-beta.6
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#215 build: prelease version 1.1.0-beta.7
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#219 fix: correctly update global-scale when updateSpec
  common/changes/@visactor/vchart/fix-216-bug-the-updatespec-method-does-not-handle-the-globalscale-cause-color-is-not-updated_2023-07-18-09-17.json
  packages/vchart/src/chart/base-chart.ts
  packages/vchart/src/scale/global-scale.ts
  packages/vchart/src/scale/interface.ts
Labels: vchart, chore, typescript

#229 docs: add links for README
  README.md
  README.zh-CN.md
  packages/react-vchart/docs/README.md
Labels: react-vchart

#230 fix: typed chart cannot enable progressive render
  common/changes/@visactor/vchart/fix-228-support-progressive-render-in-typed-chart_2023-07-19-08-23.json
  packages/vchart/src/chart/base-chart.ts
Labels: vchart, chore

#234 fix: pickable shoule be false if label component is configured `inter…
  common/changes/@visactor/vchart/fix-label-interactive-pickable_2023-07-19-09-10.json
  packages/vchart/src/component/label/label.ts
Labels: vchart, chore

#236 fix: remove adaptive type conversion and decrease execution times of `getBoundingClientRect()`
  common/config/rush/pnpm-lock.yaml
  packages/vchart/src/component/tooltip/handler/base.ts
  packages/vchart/src/component/tooltip/handler/dom/model/content-column-model.ts
  packages/vchart/src/component/tooltip/handler/dom/model/title-model.ts
  packages/vchart/src/component/tooltip/handler/utils/attribute.ts
  packages/vchart/src/component/tooltip/handler/utils/common.ts
Labels: vchart, chore

#255 refactor: refactor ci trigger test script and support retry request w…
  packages/vchart/.eslintrc.js
  packages/vchart/bundler.config.js
  packages/vchart/github-ci.js
  packages/vchart/package.json
  packages/vchart/scripts/trigger-test.ts
Labels: vchart, bundler, eslint

#256 chore: remove optimizeDeps.exclude in vchart's demo vite config
  packages/vchart/__tests__/runtime/browser/vite.config.js
Labels: vchart

#261 build: prelease version 1.1.0-beta.9
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart

#266 feat: support image-mark & add background attribute to fill-mark
  common/changes/@visactor/vchart/feat-feature-support-image_2023-07-24-06-39.json
  packages/vchart/src/core/index.ts
  packages/vchart/src/mark/image.ts
  packages/vchart/src/mark/interface/type.ts
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/visual.ts
Labels: vchart, chore, typescript

#269 fix: fix the mistake of compute totalPosition in waterfall
  common/changes/@visactor/vchart/fix-waterfall-label-position_2023-07-24-10-12.json
  packages/vchart/src/series/waterfall/waterfall.ts
Labels: vchart, chore

#295 ci: update trigger rules for bug-server and unit-test workflow
  .github/workflows/bug-server.yml
  .github/workflows/unit-test.yml
Labels: chore

#297 feat: export react-vchart type define
  packages/react-vchart/src/charts/index.ts
  packages/react-vchart/src/index.ts
Labels: react-vchart

#314 fix: fix the issue that the update of label visible fails to take eff…
  common/changes/@visactor/vchart/fix-updateSpec_cannot_show_label_2023-07-28-06-18.json
  packages/vchart/src/component/label/label.ts
Labels: vchart, chore

#325 chore: sync the 1.1.1 publish change
  common/changes/@visactor/lark-vchart/feat-support-getLogger-api-of-vchart_2023-07-28-02-22.json
  common/changes/@visactor/lark-vchart/fix-issue-251_2023-07-27-14-40.json
  common/changes/@visactor/react-vchart/feat-support-getLogger-api-of-vchart_2023-07-28-02-22.json
  common/changes/@visactor/react-vchart/fix-issue-251_2023-07-27-14-40.json
  common/changes/@visactor/taro-vchart/feat-support-getLogger-api-of-vchart_2023-07-28-02-22.json
  common/changes/@visactor/taro-vchart/fix-issue-251_2023-07-27-14-40.json
  common/changes/@visactor/vchart/feat-support-getLogger-api-of-vchart_2023-07-28-02-22.json
  common/changes/@visactor/vchart/feat-support-getLogger-api-of-vchart_2023-07-28-03-06.json
  common/changes/@visactor/vchart/fix-274-map-issue_2023-07-26-08-36.json
  common/changes/@visactor/vchart/fix-274-map-issue_2023-07-26-08-39.json
  common/changes/@visactor/vchart/fix-issue-251_2023-07-27-14-40.json
  common/changes/@visactor/vchart/fix-map_issue_2023-07-26-08-23.json
  common/config/rush/pnpm-lock.yaml
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/CHANGELOG.json
  packages/lark-vchart/CHANGELOG.md
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/CHANGELOG.json
  packages/react-vchart/CHANGELOG.md
  packages/react-vchart/package.json
  packages/taro-vchart/CHANGELOG.json
  packages/taro-vchart/CHANGELOG.md
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart
