Repository VisActor/VChart, pull requests merged in 2023-10, with the labels that each got.

#1113 feat: enhance invalidType: zero in scatter series
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/typings/data.ts
Labels: vchart

#1125 fix: fix the sub option display
  common/config/rush/pnpm-lock.yaml
  docs/src/option.tsx
Labels: chore, docs

#1131 chore: when set version of prerelease, use version in higher priority
  common/scripts/apply-prerelease-version.js
  common/scripts/set-prerelease-version.js
Labels: chore

#1136 fix: variable error
  common/scripts/apply-prerelease-version.js
Labels: chore

#1196 chore: add workflow of hotfix release
  .github/workflows/hotfix-release.yml
  common/scripts/apply-prerelease-version.js
  common/scripts/hotfix-release.js
  common/scripts/parse-version.js
  common/scripts/set-prerelease-version.js
Labels: chore

#1208 Feat/editor spec edite merge
  packages/vchart-editor/src/component/transform-drag.ts
  packages/vchart-editor/src/core/interface.ts
  packages/vchart-editor/src/elements/chart/editor-elements/base-editor-element.ts
  packages/vchart-editor/src/elements/chart/editor-elements/layout-editor.ts
  packages/vchart-editor/src/elements/chart/editor-elements/mark-area.ts
  packages/vchart-editor/src/elements/chart/editor-elements/mark-line.ts
  packages/vchart-editor/src/elements/chart/interface.ts
  packages/vchart-editor/src/elements/chart/layout/chart-layout.ts
  packages/vchart-editor/src/elements/chart/layout/interface.ts
  packages/vchart-editor/src/elements/chart/spec-process/interface.ts
  packages/vchart-editor/src/elements/chart/spec-process/spec-process.ts
  packages/vchart-editor/src/elements/chart/utils/layout.ts
  packages/vchart-editor/src/utils/spec.ts
Labels: typescript

#1211 chore: upgrade vrender to 0.15.6
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1242 docs: add faq documents
  docs/assets/faq/en/0-template.md
  docs/assets/faq/en/74-How to configure the colors of different line segments in a line chart.md
  docs/assets/faq/en/75-How to configure it to ignore part of the display content.md
  docs/assets/faq/en/76-How to customize the display text content of the funnel chart.md
  docs/assets/faq/en/77-How to customize the colors of bars based on values in a bar chart.md
  docs/assets/faq/en/78-How to listen to the click event of the histogram to customize the style of the column.md
  docs/assets/faq/en/79-How to change the hover display content when the mouse is moved into the chart area.md
  docs/assets/faq/en/80-How to customize the length of the pie chart guide line.md
  docs/assets/faq/en/81-How to modify the text color of the percentage of the funnel chart.md
  docs/assets/faq/en/82-How to configure the transform width of the funnel chart.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/0-template.md
  docs/assets/faq/zh/74-How to configure the colors of different line segments in a line chart.md
  docs/assets/faq/zh/75-How to configure it to ignore part of the display content.md
  docs/assets/faq/zh/76-How to customize the display text content of the funnel chart.md
  docs/assets/faq/zh/77-How to customize the colors of bars based on values in a bar chart.md
  docs/assets/faq/zh/78-How to listen to the click event of the histogram to customize the style of the column.md
  docs/assets/faq/zh/79-How to change the hover display content when the mouse is moved into the chart area.md
  docs/assets/faq/zh/80-How to customize the length of the pie chart guide line.md
  docs/assets/faq/zh/81-How to modify the text color of the percentage of the funnel chart.md
  docs/assets/faq/zh/82-How to configure the transform width of the funnel chart.md
  docs/menu.json
  docs/public/vchart/faq/75-0.png
  docs/public/vchart/faq/76-0.png
  docs/public/vchart/faq/78-0.png
  docs/public/vchart/faq/79-0.png
  docs/public/vchart/faq/79-1.png
  docs/public/vchart/faq/79-2.png
  docs/public/vchart/faq/80-0.png
  docs/public/vchart/faq/81-0.png
Labels: docs

#1246 fix(vchart): fix the duplicate event registration in scrollbar, fixed…
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
Labels: vchart

#1251 fix: fix the issue of boxplot outlier animation will throw error
  common/changes/@visactor/vchart/fix-boxplot-outlier-anmation-error_2023-10-19-09-33.json
  packages/vchart/src/series/box-plot/box-plot.ts
Labels: vchart, chore

#1250 feat: tooltip transformation of correlation chart
  packages/vchart/src/series/correlation/correlation.ts
Labels: vchart

#1253 feat: add marker init and save logic
  common/config/rush/pnpm-lock.yaml
  packages/vchart-editor/__tests__/browser/main.ts
  packages/vchart-editor/package.json
  packages/vchart-editor/src/core/interface.ts
  packages/vchart-editor/src/elements/chart/chart-layer.ts
  packages/vchart-editor/src/elements/chart/editor-elements/avg-mark-line.ts
  packages/vchart-editor/src/elements/chart/editor-elements/base-editor-element.ts
  packages/vchart-editor/src/elements/chart/editor-elements/hierarchical-diff-mark-line.ts
  packages/vchart-editor/src/elements/chart/editor-elements/layout-editor.ts
  packages/vchart-editor/src/elements/chart/editor-elements/types.ts
  packages/vchart-editor/src/elements/chart/interface.ts
  packages/vchart-editor/src/elements/chart/spec-process/spec-process.ts
  packages/vchart-editor/src/elements/chart/template/templates/bar.ts
  packages/vchart-editor/src/elements/chart/utils/marker.ts
  packages/vchart-editor/src/index-all.ts
  packages/vchart-editor/src/index.ts
  packages/vchart/src/component/index.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/series/index.ts
Labels: vchart, chore, typescript

#1254 chore: upgrade vrender version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1275 chore: update vrender version
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1283 Sync/main
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs

#1284 chore: scrollbar filter mode default value. fix #1238
  docs/assets/option/en/component/scrollbar.md
  docs/assets/option/zh/component/scrollbar.md
Labels: docs

#1306 docs: add faq doc
  docs/assets/faq/en/40-How to customize Tooltip in dual axis chart.md
  docs/assets/faq/en/41-How to customize the position and offset of the tooltip in the chart.md
  docs/assets/faq/en/42-Can users click on data points within the VChart to show a list of actions.md
  docs/assets/faq/en/43-How do I customize the position of the tooltip to avoid occlusion.md
  docs/assets/faq/en/44-How to define the number of decimal places of a value displayed by a label in VChart.md
  docs/assets/faq/en/45-How can line and bar charts be displayed at the same time.md
  docs/assets/faq/en/46-How to configure chart adaptive container width and height.md
  docs/assets/faq/en/47-How to configure the axis scale alignment of a two-axis graph.md
  docs/assets/faq/en/6-How to combine percentage bar and TGI chart.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/40-How to customize Tooltip in dual axis chart.md
  docs/assets/faq/zh/41-How to customize the position and offset of the tooltip in the chart.md
  docs/assets/faq/zh/42-Can users click on data points within the VChart to show a list of actions.md
  docs/assets/faq/zh/43-How do I customize the position of the tooltip to avoid occlusion.md
  docs/assets/faq/zh/44-How to define the number of decimal places of a value displayed by a label in VChart.md
  docs/assets/faq/zh/45-How can line and bar charts be displayed at the same time.md
  docs/assets/faq/zh/46-How to configure chart adaptive container width and height.md
  docs/assets/faq/zh/47-How to configure the axis scale alignment of a two-axis graph.md
  docs/assets/faq/zh/6-How to combine percentage bar and TGI chart.md
  docs/public/vchart/faq/40-0.png
  docs/public/vchart/faq/40-1.png
  docs/public/vchart/faq/41-0.PNG
  docs/public/vchart/faq/41-1.png
  docs/public/vchart/faq/42-0.png
  docs/public/vchart/faq/42-1.png
  docs/public/vchart/faq/43-0.png
  docs/public/vchart/faq/43-1.png
  docs/public/vchart/faq/44-0.png
  docs/public/vchart/faq/44-1.png
  docs/public/vchart/faq/45-0.png
  docs/public/vchart/faq/45-1.png
  docs/public/vchart/faq/47-0.png
  docs/public/vchart/faq/47-1.png
Labels: docs

#1310 chore: faq docs form 7 to 14
  docs/assets/faq/en/10-How to customize the font size of words in Word Cloud Chart.md
  docs/assets/faq/en/11-How do I set the scrollbars for the common chart.md
  docs/assets/faq/en/12-How to configure horizontal scrollbars when there is too much data in a bar chart in an applet.md
  docs/assets/faq/en/13-How do I configure the default scroll position for chart scrollbars.md
  docs/assets/faq/en/14-How does the label of the auxiliary line automatically change lines.md
  docs/assets/faq/en/7-Can we add a horizontal line for the average value to the data.md
  docs/assets/faq/en/8-When listening to events at the Chart level, is it possible to get the type of element that was clicked via the event parameter, similar to the target parameter in dom.md
  docs/assets/faq/en/9-How to set the color and transparency of individual words inside the word cloud based on their values.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/10-How to customize the font size of words in Word Cloud Chart.md
  docs/assets/faq/zh/11-How do I set the scrollbars for the common chart.md
  docs/assets/faq/zh/12-How to configure horizontal scrollbars when there is too much data in a bar chart in an applet.md
  docs/assets/faq/zh/13-How do I configure the default scroll position for chart scrollbars.md
  docs/assets/faq/zh/14-How does the label of the auxiliary line automatically change lines.md
  docs/assets/faq/zh/7-Can we add a horizontal line for the average value to the data.md
  docs/assets/faq/zh/8-When listening to events at the Chart level, is it possible to get the type of element that was clicked via the event parameter, similar to the target parameter in dom.md
  docs/assets/faq/zh/9-How to set the color and transparency of individual words inside the word cloud based on their values.md
  docs/public/vchart/faq/10-0.png
  docs/public/vchart/faq/11-0.png
  docs/public/vchart/faq/11-1.png
  docs/public/vchart/faq/12-0.png
  docs/public/vchart/faq/13-0.png
  docs/public/vchart/faq/14-0.png
  docs/public/vchart/faq/14-1.png
  docs/public/vchart/faq/7-0.png
  docs/public/vchart/faq/8-0.png
  docs/public/vchart/faq/9-0.png
Labels: docs

#1313 docs: add faqs of 23 ~ 32
  docs/assets/faq/en/23-How to configure gradient colors for area charts.md
  docs/assets/faq/en/24-How to truncate, wrap, or perform other formatting effects on axis labels in charts.md
  docs/assets/faq/en/25-How to configure a DataZoom component in a chart that can be used on a mobile device.md
  docs/assets/faq/en/26-How to customize the label text content, color, and layout of a pie chart.md
  docs/assets/faq/en/27-How to customize the image and color of a legend.md
  docs/assets/faq/en/28-How to customize the theme for a chart.md
  docs/assets/faq/en/29-How to use charts libraries in React.md
  docs/assets/faq/en/30-How to use charts libraries in Vue.md
  docs/assets/faq/en/31-How to implement a combination of line chart and stacked bar chart.md
  docs/assets/faq/en/32-How to get the data point information in a click event using react-vchart.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/23-How to configure gradient colors for area charts.md
  docs/assets/faq/zh/24-How to truncate, wrap, or perform other formatting effects on axis labels in charts.md
  docs/assets/faq/zh/25-How to configure a DataZoom component in a chart that can be used on a mobile device.md
  docs/assets/faq/zh/26-How to customize the label text content, color, and layout of a pie chart.md
  docs/assets/faq/zh/27-How to customize the image and color of a legend.md
  docs/assets/faq/zh/28-How to customize the theme for a chart.md
  docs/assets/faq/zh/29-How to use charts libraries in React.md
  docs/assets/faq/zh/30-How to use charts libraries in Vue.md
  docs/assets/faq/zh/31-How to implement a combination of line chart and stacked bar chart.md
  docs/assets/faq/zh/32-How to get the data point information in a click event using react-vchart.md
  docs/public/vchart/faq/23-0.png
  docs/public/vchart/faq/23-1.png
  docs/public/vchart/faq/23-2.png
  docs/public/vchart/faq/23-3.png
  docs/public/vchart/faq/23-4.png
  docs/public/vchart/faq/24-0.png
  docs/public/vchart/faq/24-1.png
  docs/public/vchart/faq/24-2.png
  docs/public/vchart/faq/25-0.png
  docs/public/vchart/faq/25-1.png
  docs/public/vchart/faq/26-0.png
  docs/public/vchart/faq/26-1.png
  docs/public/vchart/faq/26-2.png
  docs/public/vchart/faq/26-3.png
  docs/public/vchart/faq/27-0.png
  docs/public/vchart/faq/27-1.png
  docs/public/vchart/faq/27-2.png
  docs/public/vchart/faq/28-0.png
  docs/public/vchart/faq/28-1.png
  docs/public/vchart/faq/29-0.png
  docs/public/vchart/faq/29-1.gif
  docs/public/vchart/faq/30-0.png
  docs/public/vchart/faq/30-1.gif
  docs/public/vchart/faq/31-0.png
  docs/public/vchart/faq/31-1.png
  docs/public/vchart/faq/31-2.png
  docs/public/vchart/faq/32-0.png
  docs/public/vchart/faq/32-1.png
Labels: docs

#1328 Fix/event on error
  packages/vchart/src/core/vchart.ts
Labels: vchart

#1331 feat: vmind package
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vmind/.babelrc
  packages/vmind/.eslintrc.cjs
  packages/vmind/README.md
  packages/vmind/docs/bar-eng.gif
  packages/vmind/docs/bar.gif
  packages/vmind/docs/getting-started.md
  packages/vmind/docs/line-eng.gif
  packages/vmind/docs/line.gif
  packages/vmind/package.json
  packages/vmind/readme-zh.md
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/constants.ts
  packages/vmind/src/chart-generation/data/country-data.ts
  packages/vmind/src/chart-generation/data/idols.ts
  packages/vmind/src/chart-generation/data/province-data.ts
  packages/vmind/src/chart-generation/index.ts
  packages/vmind/src/chart-generation/mock.ts
  packages/vmind/src/chart-generation/pipes.ts
  packages/vmind/src/chart-generation/type.ts
  packages/vmind/src/chart-generation/utils.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
  packages/vmind/src/chart-to-video/index.ts
  packages/vmind/src/chart-to-video/type.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/core/index.ts
  packages/vmind/src/excel/index.ts
  packages/vmind/src/index.ts
  packages/vmind/src/prompt.txt
  packages/vmind/src/site/App.tsx
  packages/vmind/src/site/Layout.tsx
  packages/vmind/src/site/constants/index.ts
  packages/vmind/src/site/index.html
  packages/vmind/src/site/index.scss
  packages/vmind/src/site/index.tsx
  packages/vmind/src/site/pages/Home.tsx
  packages/vmind/src/site/pages/LeftInput.tsx
  packages/vmind/src/site/pages/RightChart.tsx
  packages/vmind/src/site/pages/index.scss
  packages/vmind/tsconfig.eslint.json
  packages/vmind/tsconfig.json
  packages/vmind/tsconfig.node.json
  packages/vmind/vite.config.ts
  rush.json
Labels: chore, typescript, docs

#1325 feat: add faq 33-39
  docs/assets/faq/en/33-How to customize the axis label display spacing.md
  docs/assets/faq/en/34-How to display scales at several points on the x-axis of an area chart.md
  docs/assets/faq/en/36-When the data is all 0, how to configure the position of the x-axis.md
  docs/assets/faq/en/38-How does the Ring with Indicator Card dynamically update indicator values.md
  docs/assets/faq/en/39-How to configure the position of the markLine text label, can it be configured to display at the starting point, end point or in the middle of the line segment.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/33-How to customize the axis label display spacing.md
  docs/assets/faq/zh/34-How to display scales at several points on the x-axis of an area chart.md
  docs/assets/faq/zh/36-When the data is all 0, how to configure the position of the x-axis.md
  docs/assets/faq/zh/38-How does the Ring with Indicator Card dynamically update indicator values.md
  docs/assets/faq/zh/39-How to configure the position of the markLine text label, can it be configured to display at the starting point, end point or in the middle of the line segment.md
Labels: docs

#1342 chore: docs supply
  docs/assets/examples/en/data-zoom/preview-data.md
  docs/assets/examples/zh/data-zoom/preview-data.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/option/en/graphic/rect.md
  docs/assets/option/en/mark/rect.md
  docs/assets/option/zh/graphic/rect.md
  docs/assets/option/zh/mark/rect.md
Labels: docs

#1343 docs: optimize docs
  docs/assets/guide/en/tutorial_docs/Basic/How_to_Get_VChart.md
  docs/assets/guide/en/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/Combination.md
  docs/assets/guide/en/tutorial_docs/FAQ.md
  docs/assets/guide/zh/tutorial_docs/Basic/How_to_Get_VChart.md
  docs/assets/guide/zh/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Combination.md
  docs/assets/guide/zh/tutorial_docs/FAQ.md
  docs/assets/option/en/chart/common.md
  docs/assets/option/en/common/chart-spec.md
  docs/assets/option/zh/chart/common.md
  docs/assets/option/zh/common/chart-spec.md
Labels: docs

#1344 chore: upgrade vrender to 0.16.9
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1349 Fix vmind errors
  common/config/rush/pnpm-lock.yaml
  packages/vmind/package.json
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/utils.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/tsconfig.json
Labels: chore, typescript

#1311 docs: add 95-100 docs
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  docs/assets/examples/en/chart-3d/area3d.md
  docs/assets/examples/en/chart-3d/line3d.md
  docs/assets/examples/en/chart-3d/scatter3d.md
  docs/assets/examples/zh/chart-3d/area3d.md
  docs/assets/examples/zh/chart-3d/line3d.md
  docs/assets/examples/zh/chart-3d/scatter3d.md
  docs/assets/faq/en/100-How can VChart achieve a profile effect similar to ECharts.md
  docs/assets/faq/en/95-How to configure Tooltip to automatically wrap text.md
  docs/assets/faq/en/96-How can Tooltip achieve multi column display in VChart.md
  docs/assets/faq/en/97-How can I customize the display of fields in data in Tooltip in VChart.md
  docs/assets/faq/en/98-How can VChart set the number of display bars for Tooltip, and support effects such as scrolling, pagination, and merged display when there is too much data.md
  docs/assets/faq/en/99-How to use vchart to display charts in Notebook.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/100-How can VChart achieve a profile effect similar to ECharts.md
  docs/assets/faq/zh/95-How to configure Tooltip to automatically wrap text.md
  docs/assets/faq/zh/96-How can Tooltip achieve multi column display in VChart.md
  docs/assets/faq/zh/97-How can I customize the display of fields in data in Tooltip in VChart.md
  docs/assets/faq/zh/98-How can VChart set the number of display bars for Tooltip, and support effects such as scrolling, pagination, and merged display when there is too much data.md
  docs/assets/faq/zh/99-How to use vchart to display charts in Notebook.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/3d_Area.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/3d_Line.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/3d_Scatter.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/3d_Area.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/3d_Line.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/3d_Scatter.md
  docs/assets/option/en/common/series.md
  docs/assets/option/en/component/axis-common/base-axis.md
  docs/assets/option/en/graphic/attribute.md
  docs/assets/option/zh/common/series.md
  docs/assets/option/zh/component/axis-common/base-axis.md
  docs/assets/option/zh/graphic/attribute.md
  docs/public/vchart/faq/100-0.png
  docs/public/vchart/faq/100-1.png
  docs/public/vchart/faq/95-0.png
  docs/public/vchart/faq/95-1.png
  docs/public/vchart/faq/96-0.png
  docs/public/vchart/faq/96-1.png
  docs/public/vchart/faq/96-2.png
  docs/public/vchart/faq/97-0.png
  docs/public/vchart/faq/97-1.png
  docs/public/vchart/faq/98-0.png
  docs/public/vchart/faq/98-1.png
  docs/public/vchart/faq/98-2.png
  docs/public/vchart/faq/99-0.png
Labels: docs

#1353 Feat/vmind access rose chart, radar chart, sankey chart
  common/config/rush/pnpm-lock.yaml
  packages/vchart/src/series/sankey/sankey.ts
  packages/vmind/src/chart-generation/constants.ts
  packages/vmind/src/chart-generation/pipes.ts
  packages/vmind/src/chart-generation/type.ts
  packages/vmind/src/chart-generation/utils.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
Labels: vchart, chore, typescript

#1374 feat: support editorRun handler in editor
  packages/vchart-editor/src/core/editor-controller.ts
  packages/vchart-editor/src/core/interface.ts
  packages/vchart-editor/src/elements/chart/chart.ts
  packages/vchart-editor/src/elements/chart/editor-elements/base-editor-element.ts
  packages/vchart-editor/src/elements/chart/editor-elements/layout-editor.ts
  packages/vchart-editor/src/elements/chart/event.ts
  packages/vchart-editor/src/elements/chart/layout/chart-layout.ts
  packages/vchart-editor/src/elements/chart/template/templates/horizontal-bar.ts
  packages/vchart-editor/src/elements/chart/template/templates/line.ts
Labels: typescript

#1375 chore: theme en tutorials
  docs/assets/guide/en/tutorial_docs/Theme/Theme.md
Labels: docs

#1377 fix: marker save logix modify
  packages/vchart-editor/src/elements/chart/chart.ts
  packages/vchart-editor/src/elements/chart/spec-process/interface.ts
  packages/vchart-editor/src/elements/chart/spec-process/spec-process.ts
Labels: typescript

#1368 feat: add faq question 64 to 73
  docs/assets/faq/en/64-How to achieve a bar chart similar to the stacked column chart.md
  docs/assets/faq/en/65-How to achieve background segmentation and rounded corner effect in a gauge chart.md
  docs/assets/faq/en/66-How to customize pointer style in a gauge chart.md
  docs/assets/faq/en/67-How can chart tooltips be configured to display dimensions and measures as single or multiple rows.md
  docs/assets/faq/en/68-How to customize the axis scale value of a gauge chart.md
  docs/assets/faq/en/69-How does the label at the center of the ring chart adapt to the size of the ring.md
  docs/assets/faq/en/70-How to achieve permanent display of chart tooltips.md
  docs/assets/faq/en/71-How to customize the mounting node of the tooltip component in VChart.md
  docs/assets/faq/en/72-How to customize the tooltip display content in a dual axis chart.md
  docs/assets/faq/en/73-How to set the order of the chart tooltip display content.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/64-How to achieve a bar chart similar to the stacked column chart.md
  docs/assets/faq/zh/65-How to achieve background segmentation and rounded corner effect in a gauge chart.md
  docs/assets/faq/zh/66-How to customize pointer style in a gauge chart.md
  docs/assets/faq/zh/67-How can chart tooltips be configured to display dimensions and measures as single or multiple rows.md
  docs/assets/faq/zh/68-How to customize the axis scale value of a gauge chart.md
  docs/assets/faq/zh/69-How does the label at the center of the ring chart adapt to the size of the ring.md
  docs/assets/faq/zh/70-How to achieve permanent display of chart tooltips.md
  docs/assets/faq/zh/71-How to customize the mounting node of the tooltip component in VChart.md
  docs/assets/faq/zh/72-How to customize the tooltip display content in a dual axis chart.md
  docs/assets/faq/zh/73-How to set the order of the chart tooltip display content.md
  docs/public/vchart/faq/64-0.png
  docs/public/vchart/faq/64-1.png
  docs/public/vchart/faq/64-2.gif
  docs/public/vchart/faq/65-0.png
  docs/public/vchart/faq/66-0.png
  docs/public/vchart/faq/67-0.png
  docs/public/vchart/faq/67-1.png
  docs/public/vchart/faq/67-2.png
  docs/public/vchart/faq/67-3.png
  docs/public/vchart/faq/68-0.png
  docs/public/vchart/faq/68-1.png
  docs/public/vchart/faq/69-0.png
  docs/public/vchart/faq/69-1.png
  docs/public/vchart/faq/70-0.png
  docs/public/vchart/faq/70-1.png
  docs/public/vchart/faq/71-0.png
  docs/public/vchart/faq/72-0.png
  docs/public/vchart/faq/72-1.png
  docs/public/vchart/faq/73-0.png
  docs/public/vchart/faq/73-1.png
Labels: docs
