Repository VisActor/VChart, pull requests merged in 2023-06, with the labels that each got.

#9 chore: add bugserver ci script
  .github/workflows/bug-server.yml
  common/config/rush/pnpm-lock.yaml
  packages/vchart/github-ci.js
  packages/vchart/package.json
Labels: vchart, chore

#13 chore: bug server add param
  packages/vchart/github-ci.js
Labels: vchart

#12 chore: temp lock vrender version to check bugserver
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart

#39 Update issue templates
  .github/ISSUE_TEMPLATE/others.md
Labels: chore

#51 fix: fix the bug of 3d scatter in common chart
  common/changes/@visactor/vchart/fix-3d-scatter_2023-06-20-03-51.json
  packages/vchart/src/chart/base-chart.ts
Labels: vchart, chore

#57 fix: fix the bug of z axis in layout stage, closed #20
  common/changes/@visactor/vchart/fix-axis-z_2023-06-20-08-14.json
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/layout/layout3d/index.ts
Labels: vchart, chore

#58 chore: add code template link
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  README.zh-CN.md
  packages/vchart/README.md
  packages/vchart/README.zh-CN.md
Labels: vchart, chore

#59 chore: fix the step of release
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/scripts/pre-release.js
  common/scripts/release.js
Labels: chore

#86 feat: arc mark support radius offset
  .github/workflows/unit-test.yml
  packages/vchart/src/mark/arc.ts
  packages/vchart/src/mark/base/base-mark.ts
Labels: enhancement

#88 prerelease 1.1.0-beta.0
  common/config/rush/pnpm-lock.yaml
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/vchart/package.json
Labels: chore
