Repository VisActor/VChart, pull requests merged in 2023-11, with the labels that each got.

#1390 Fix/vmind publish
  common/config/rush/pnpm-lock.yaml
  packages/vmind/.babelrc
  packages/vmind/.eslintrc.cjs
  packages/vmind/__tests__/browser/index.html
  packages/vmind/__tests__/browser/src/App.tsx
  packages/vmind/__tests__/browser/src/Layout.tsx
  packages/vmind/__tests__/browser/src/constants/index.ts
  packages/vmind/__tests__/browser/src/index.scss
  packages/vmind/__tests__/browser/src/index.tsx
  packages/vmind/__tests__/browser/src/pages/Home.tsx
  packages/vmind/__tests__/browser/src/pages/LeftInput.tsx
  packages/vmind/__tests__/browser/src/pages/RightChart.tsx
  packages/vmind/__tests__/browser/src/pages/index.scss
  packages/vmind/__tests__/browser/tsconfig.json
  packages/vmind/__tests__/browser/tsconfig.node.json
  packages/vmind/__tests__/browser/vite.config.ts
  packages/vmind/__tests__/unit/index.test.ts
  packages/vmind/bundler.config.js
  packages/vmind/jest.config.js
  packages/vmind/package.json
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/pipes.ts
  packages/vmind/src/chart-generation/utils.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
  packages/vmind/src/chart-to-video/index.ts
  packages/vmind/src/chart-to-video/type.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/core/index.ts
  packages/vmind/src/excel/index.ts
  packages/vmind/src/index.ts
  packages/vmind/src/typings/index.ts
  packages/vmind/tsconfig.eslint.json
  packages/vmind/tsconfig.json
  packages/vmind/tsconfig.test.json
Labels: chore, typescript, jest, bundler

#1392 fix: rush docs报错
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  docs/vite.config.js
Labels: chore, docs

#1398 fix: gradient in tooltip shape
  packages/vchart/src/component/tooltip/handler/dom/model/shape-model.ts
Labels: vchart

#1404 docs: fix the order of faq docs
  docs/assets/faq/menu.json
  docs/assets/guide/menu.json
Labels: docs

#1401 docs: demo cover link
  docs/assets/examples/en/progress/circular-progress-with-text.md
  docs/assets/examples/zh/progress/circular-progress-with-text.md
  docs/public/vchart/preview/circular-progress-with-text_1.6.0.png
Labels: docs

#1400 chore: validation vrender
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/taro-vchart/gallery/pages/chart/index.tsx
  packages/vchart-editor/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, docs

#1412 perf: use group encode in static encodes
  .eslintignore
  .prettierignore
  packages/vchart/src/compile/mark/compilable-mark.ts
Labels: vchart

#1433 Feat node issues
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vmind/bundler.config.js
  packages/vmind/package.json
  packages/vmind/src/chart-generation/utils.ts
  tools/bundler/package.json
Labels: chore, bundler, docs

#1410 Fix vmind replace all
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vmind/bundler.config.js
  packages/vmind/package.json
  packages/vmind/src/chart-generation/utils.ts
  tools/bundler/package.json
Labels: chore, bundler, docs

#1365 feat(vmind): dual axis and funnel chart
  packages/vchart/src/component/tooltip/handler/dom/util.ts
  packages/vchart/src/component/tooltip/handler/utils/common.ts
  packages/vchart/src/region/region.ts
  packages/vmind/__tests__/browser/src/constants/index.ts
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/constants/mockResponse.ts
  packages/vmind/__tests__/browser/src/pages/LeftInput.tsx
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/constants.ts
  packages/vmind/src/chart-generation/pipes.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
Labels: vchart

#1439 fix: error in tooltip position processing
  packages/vchart/src/component/tooltip/handler/base.ts
Labels: vchart

#1454 Sync/main
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/themes/dark.json
  docs/assets/themes/light.json
  docs/assets/themes/vScreenBlueOrange.json
  docs/assets/themes/vScreenClean.json
  docs/assets/themes/vScreenECommercePurple.json
  docs/assets/themes/vScreenElectricGreen.json
  docs/assets/themes/vScreenFinanceYellow.json
  docs/assets/themes/vScreenOutskirts.json
  docs/assets/themes/vScreenPartyRed.json
  docs/assets/themes/vScreenRedBlue.json
  docs/assets/themes/vScreenVolcanoBlue.json
  docs/assets/themes/vScreenWenLvCyan.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-theme/package.json
  packages/vchart-theme/public/dark.json
  packages/vchart-theme/public/light.json
  packages/vchart-theme/public/vScreenBlueOrange.json
  packages/vchart-theme/public/vScreenClean.json
  packages/vchart-theme/public/vScreenECommercePurple.json
  packages/vchart-theme/public/vScreenElectricGreen.json
  packages/vchart-theme/public/vScreenFinanceYellow.json
  packages/vchart-theme/public/vScreenOutskirts.json
  packages/vchart-theme/public/vScreenPartyRed.json
  packages/vchart-theme/public/vScreenRedBlue.json
  packages/vchart-theme/public/vScreenVolcanoBlue.json
  packages/vchart-theme/public/vScreenWenLvCyan.json
  packages/vchart-types/package.json
  packages/vchart-types/types/theme/color-scheme/builtin/interface.d.ts
  packages/vchart-types/types/theme/color-scheme/legacy.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types, vchart-theme

#1450 ci: reduce build actions in some github workflow
  .github/workflows/bug-server.yml
  .github/workflows/size-limit.yml
  .github/workflows/unit-test.yml
  packages/vchart/package.json
Labels: vchart, chore

#1455 feat: add explain for area-style example
  docs/assets/examples/en/area-chart/area-style.md
  docs/assets/examples/zh/area-chart/area-style.md
Labels: docs, demos

#1456 fix: add adaption css style
  packages/vchart/src/component/tooltip/handler/dom/model/content-column-model.ts
Labels: vchart

#1466 fix: empty string should not be a valid number, fix #1463
  packages/vchart/src/util/type.ts
Labels: vchart, typescript

#1467 Fix/revert perf set attribute
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/mark/arc.ts
  packages/vchart/src/mark/base/base-mark.ts
Labels: vchart

#1474 feat: support shape component
  common/config/rush/pnpm-lock.yaml
  packages/vchart-editor-ui/__tests__/browser/src/App.tsx
  packages/vchart-editor-ui/package.json
  packages/vchart-editor-ui/src/base/shape.tsx
  packages/vchart-editor-ui/src/panels/custom-panel.tsx
  packages/vchart-editor-ui/src/style/index.less
  packages/vchart-editor-ui/src/typings/base.ts
  packages/vchart-editor-ui/src/typings/config.ts
Labels: chore

#1488 Feat/remove vchart dependency
  common/config/rush/pnpm-lock.yaml
  packages/vmind/package.json
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
Labels: chore

#1493 docs: merge the morphing & storytelling examples
  docs/assets/examples/en/storytelling/bar-to-pie.md
  docs/assets/examples/en/storytelling/bar-to-scatter.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/storytelling/bar-to-pie.md
  docs/assets/examples/zh/storytelling/bar-to-scatter.md
Labels: docs

#1516 fix: wrong url in api docs
  docs/assets/api/en/API/vchart.md
  docs/assets/api/menu.json
  docs/assets/api/zh/API/vchart.md
Labels: docs

#1511 chore: ignore test task when delete remote branches
  common/git-hooks/pre-push
Labels: chore

#1526 Sync/main
  common/changes/@visactor/vchart/fix-dataZoom---scrollBar-change-axes-range_2023-11-16-02-59.json
  common/changes/@visactor/vchart/fix-datazoom-scrollbar-bug_2023-11-14-13-11.json
  common/changes/@visactor/vchart/fix-datazoom-scrollbar-bug_2023-11-14-13-15.json
  common/changes/@visactor/vchart/fix-options-not-work_2023-11-15-08-06.json
  common/changes/@visactor/vchart/perf-sankey-data-flow_2023-11-10-09-36.json
  common/changes/@visactor/vutils-extension/feat-scrollbar-and-datazoom_2023-09-26-14-37.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-theme/package.json
  packages/vchart-types/package.json
  packages/vchart-types/types/chart/base-chart.d.ts
  packages/vchart-types/types/component/axis/cartesian/axis.d.ts
  packages/vchart-types/types/component/legend/base-legend.d.ts
  packages/vchart-types/types/component/legend/continuous/legend.d.ts
  packages/vchart-types/types/data/transforms/sankey.d.ts
  packages/vchart-types/types/series/sankey/sankey.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types, vchart-theme

#1529 feat: add @visactor/chart-advisor
  common/config/rush/pnpm-lock.yaml
  packages/vmind/package.json
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/chartAdvisorHandler.ts
  packages/vmind/src/chart-generation/pipes.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/typings/index.ts
Labels: chore

#1530 Dev vmind/1.1.0
  .gitignore
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vmind/README.md
  packages/vmind/__tests__/browser/src/constants/index.ts
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/constants/mockResponse.ts
  packages/vmind/__tests__/browser/src/pages/LeftInput.tsx
  packages/vmind/package.json
  packages/vmind/readme-zh.md
  packages/vmind/src/chart-generation/NLToChartPipe.ts
  packages/vmind/src/chart-generation/chartAdvisorHandler.ts
  packages/vmind/src/chart-generation/constants.ts
  packages/vmind/src/chart-generation/pipes.ts
  packages/vmind/src/chart-generation/utils.ts
  packages/vmind/src/chart-generation/vizDataToSpec.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/prompt.txt
  packages/vmind/src/typings/index.ts
Labels: chore, docs

#1543 Release/sync main 1.6.5 to develop
  common/changes/@visactor/vchart/develop_2023-11-16-11-34.json
  common/changes/@visactor/vchart/feat-react-vchart-skipFunctionDifff_2023-11-17-02-30.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-theme/package.json
  packages/vchart-types/package.json
  packages/vchart-types/types/chart/base-chart.d.ts
  packages/vchart-types/types/component/legend/base-legend.d.ts
  packages/vchart-types/types/component/legend/continuous/legend.d.ts
  packages/vchart-types/types/event/events/dimension/base.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types, vchart-theme

#1544 chore: add a new workflow sync-main-to-develop
  .github/workflows/sync-main-to-develop.yml
Labels: chore

#1542 fix: event link in docs
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Brush.md
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Legend.md
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Tooltip.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/lark.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/taro.md
  docs/assets/guide/en/tutorial_docs/Event.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Brush.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Legend.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/lark.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/taro.md
  docs/assets/guide/zh/tutorial_docs/Event.md
Labels: docs

#1552 docs: fix the docs of progressive_render, close #1505
  docs/assets/guide/en/tutorial_docs/Progressive_Render.md
  docs/assets/guide/zh/tutorial_docs/Progressive_Render.md
Labels: docs

#1587 chore: annotation demo
  docs/assets/examples/en/marker/mark-area-range.md
  docs/assets/examples/en/marker/mark-area-with-label.md
  docs/assets/examples/en/marker/mark-line-multi.md
  docs/assets/examples/en/marker/mark-point-image.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/marker/mark-area-range.md
  docs/assets/examples/zh/marker/mark-area-with-label.md
  docs/assets/examples/zh/marker/mark-line-multi.md
  docs/assets/examples/zh/marker/mark-point-image.md
  docs/public/vchart/preview/mark-area-range.png
  docs/public/vchart/preview/mark-area-with-label.png
  docs/public/vchart/preview/mark-line-multi.png
  docs/public/vchart/preview/mark-point-image.png
Labels: docs

#1589 docs: supply funnel demo
  docs/assets/examples/en/funnel-chart/funnel-custom-annotation.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/funnel-chart/funnel-custom-annotation.md
  docs/public/vchart/preview/funnel-extensionMark_1.7.0.png
Labels: docs

#1588 docs: optimization mini-program tutorials
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/block.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/lark.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/wx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/block.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/lark.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/wx.md
  packages/block-vchart/block/data/area.js
  packages/block-vchart/block/data/bar.js
  packages/block-vchart/block/data/line.js
  packages/block-vchart/block/data/pie.js
  packages/block-vchart/block/index.js
  packages/lark-vchart/gallery/data/area.js
  packages/lark-vchart/gallery/pages/chart/index.js
  packages/lark-vchart/gallery/pages/chart/index.ttml
  packages/wx-vchart/miniprogram/pages/gallery/data/area.js
  packages/wx-vchart/project.config.json
Labels: block-vchart, lark-vchart, docs

#1591 chore: brush option upgrade
  docs/assets/option/en/component/brush.md
  docs/assets/option/zh/component/brush.md
Labels: docs

#1594 fix: taro-vchart missing environment registration
  packages/taro-vchart/src/index.tsx
Labels: taro-vchart

#1604 fix: export chartspec in react-vchart
  packages/react-vchart/src/index.ts
Labels: react-vchart

#1603 fix: replace Math.max and Math.min
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/component/tooltip/handler/utils/attribute.ts
  packages/vchart/src/event/events/dimension/util/polar.ts
  packages/vchart/src/series/sunburst/animation/enter.ts
  packages/vchart/src/series/sunburst/animation/exit.ts
  packages/vchart/src/series/sunburst/animation/utils.ts
  packages/vutils-extension/src/transform/tick-data/discrete/linear.ts
  packages/vutils-extension/src/transform/tick-data/discrete/polar-angle.ts
  tools/story-player/src/utils/common.ts
Labels: vchart

#1629 fix: simplify theme and spec updating
  packages/vchart/__tests__/runtime/browser/test-page/vtable-cell.ts
  packages/vchart/src/chart/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
Labels: vchart, typescript

#1631 fix: fix the problem of docs
  docs/assets/guide/en/tutorial_docs/Theme/Theme.md
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme.md
Labels: docs

#1655 Sync/main
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-types/package.json
  packages/vchart-types/types/chart/base-chart.d.ts
  packages/vchart-types/types/chart/interface/chart.d.ts
  packages/vchart-types/types/component/axis/base-axis.d.ts
  packages/vchart-types/types/component/axis/cartesian/axis.d.ts
  packages/vchart-types/types/component/base/base-component.d.ts
  packages/vchart-types/types/component/brush/brush.d.ts
  packages/vchart-types/types/component/crosshair/cartesian.d.ts
  packages/vchart-types/types/component/crosshair/polar.d.ts
  packages/vchart-types/types/component/custom-mark/custom-mark.d.ts
  packages/vchart-types/types/component/data-zoom/data-filter-base-component.d.ts
  packages/vchart-types/types/component/data-zoom/data-zoom/data-zoom.d.ts
  packages/vchart-types/types/component/data-zoom/scroll-bar/scroll-bar.d.ts
  packages/vchart-types/types/component/geo/geo-coordinate.d.ts
  packages/vchart-types/types/component/indicator/indicator.d.ts
  packages/vchart-types/types/component/label/base-label.d.ts
  packages/vchart-types/types/component/label/label.d.ts
  packages/vchart-types/types/component/label/totalLabel.d.ts
  packages/vchart-types/types/component/legend/base-legend.d.ts
  packages/vchart-types/types/component/map-label/component.d.ts
  packages/vchart-types/types/component/marker/base-marker.d.ts
  packages/vchart-types/types/component/player/player.d.ts
  packages/vchart-types/types/component/title/title.d.ts
  packages/vchart-types/types/component/tooltip/tooltip.d.ts
  packages/vchart-types/types/model/base-model.d.ts
  packages/vchart-types/types/model/interface.d.ts
  packages/vchart-types/types/series/gauge/gauge-pointer.d.ts
  packages/vchart-types/types/series/gauge/interface.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types

#1648 fix: styles of docs
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
Labels: docs

#1667 demo: update error site demos
  docs/assets/examples/en/area-chart/segment-range-area.md
  docs/assets/examples/en/data-zoom/preview-data.md
  docs/assets/examples/en/layout/custom-layout.md
  docs/assets/examples/zh/area-chart/segment-range-area.md
  docs/assets/examples/zh/data-zoom/preview-data.md
  docs/assets/examples/zh/layout/custom-layout.md
Labels: docs
