Repository VisActor/VChart, pull requests merged in 2024-01, with the labels that each got.

#1885 fix: axis animition error in #1884
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/component/axis/base-axis.ts
Labels: vchart

#1888 fix: add media query spec interface to default chart spec
  common/changes/@visactor/vchart/fix-0102_2024-01-02-11-17.json
  packages/vchart/src/plugin/chart/media-query/interface/common.ts
  packages/vchart/src/plugin/chart/media-query/interface/index.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/spec/index.ts
  packages/vchart/src/typings/spec/media-query.ts
Labels: vchart, chore

#1898 fix: waterfall.label not work, closes #1897
  common/changes/@visactor/vchart/fix-waterfall_label_2024-01-03-06-32.json
  packages/vchart/src/series/waterfall/waterfall-transformer.ts
Labels: vchart, chore

#1778 Feat/crosshair timeout
  common/changes/@visactor/vchart/feat-crosshair-timeout_2023-12-20-08-00.json
  common/changes/@visactor/vchart/feat-crosshair-timeout_2023-12-20-08-01.json
  docs/assets/changelog/en/changelog.md
  docs/assets/changelog/menu.json
  docs/assets/changelog/zh/changelog.md
  docs/assets/option/en/component/crosshair.md
  docs/assets/option/zh/component/crosshair.md
  packages/vchart/__tests__/unit/component/cartesian/axis/linear-axis.test.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/config.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/interface/common.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/interaction/drill/drillable.ts
Labels: vchart, chore, docs

#1896 fix: funnel clip animation bounds
  common/changes/@visactor/vchart/fix-funnel_clip_animation_bounds_2024-01-03-07-13.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#1895 feat: add zAxis theme and set label space to 0, closed #149
  common/changes/@visactor/vchart/feat-zaxis-label-space_2024-01-03-03-06.json
  packages/vchart/src/component/axis/util.ts
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/interface/theme.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/index.ts
  packages/vchart/src/theme/builtin/common/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common/component/index.ts
Labels: vchart, chore

#1900 fix: adjustment of conversion timing when marker data is a function, …
  docs/assets/option/en/component/marker-common/marker-data-point.md
  docs/assets/option/zh/component/marker-common/marker-data-point.md
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/data/transforms/aggregation.ts
Labels: vchart, typescript, docs

#1904 fix: fix the hover state of multiple series, close #1899
  common/changes/@visactor/vchart/fix-issue-1899_2024-01-03-08-31.json
  packages/vchart/src/interaction/trigger.ts
Labels: vchart, chore

#1890 Feat/multiple axis label
  common/changes/@visactor/vchart/feat-multiple-axis-label_2024-01-02-12-00.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/axis/multiple-layers-of-axis-1.md
  docs/assets/examples/en/axis/multiple-layers-of-axis.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/axis/multiple-layers-of-axis-1.md
  docs/assets/examples/zh/axis/multiple-layers-of-axis.md
  docs/assets/option/en/component/axis-common/band-axis.md
  docs/assets/option/zh/component/axis-common/band-axis.md
  docs/public/vchart/preview/multiple-layers-of-axis-1_1.9.0.png
  docs/public/vchart/preview/multiple-layers-of-axis_1.9.0.png
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/interface/common.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/interface/common.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/util.ts
  packages/vchart/src/component/base/base-component.ts
Labels: vchart, chore, docs

#1930 Sync/develop to dev 1.9.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/option/en/component/marker-common/marker-data-point.md
  docs/assets/option/zh/component/marker-common/marker-data-point.md
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-editor/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-types/package.json
  packages/vchart-types/types/component/interface/theme.d.ts
  packages/vchart-types/types/component/marker/interface.d.ts
  packages/vchart-types/types/interaction/trigger.d.ts
  packages/vchart-types/types/theme/builtin/common-mobile/component/axis/cartesian-axis.d.ts
  packages/vchart-types/types/theme/builtin/common/component/axis/cartesian-axis.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vchart/src/component/axis/util.ts
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/interface/theme.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/data/transforms/aggregation.ts
  packages/vchart/src/interaction/trigger.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/waterfall/waterfall-transformer.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/index.ts
  packages/vchart/src/theme/builtin/common/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common/component/index.ts
  packages/vmind/README.md
  packages/vmind/__tests__/browser/src/constants/mockData.ts
  packages/vmind/__tests__/browser/src/pages/DataInput.tsx
  packages/vmind/__tests__/performance/performanceTest.ts
  packages/vmind/package.json
  packages/vmind/readme-zh.md
  packages/vmind/src/common/vizDataToSpec/vizDataToSpec.ts
  packages/vmind/src/core/VMind.ts
  packages/vmind/src/gpt/chart-generation/NLToChart.ts
  packages/vmind/src/gpt/utils.ts
  packages/vmind/src/index.ts
  packages/vmind/src/skylark/chart-generation/NLToChart.ts
  packages/vmind/src/skylark/chart-generation/constants.ts
  packages/vmind/src/skylark/chart-generation/prompts.ts
  packages/vmind/src/skylark/chart-generation/utils.ts
  packages/vmind/src/skylark/utils.ts
  packages/vmind/src/typings/index.ts
  packages/vmind/test-setup.js
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types

#1929 Chore/optimize release
  .github/workflows/hotfix-release.yml
  .github/workflows/release.yml
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  common/git-hooks/pre-push
  packages/vchart-editor/.eslintignore
  packages/vchart-editor/.eslintrc.js
  packages/vchart-editor/README.md
  packages/vchart-editor/__tests__/browser/index.html
  packages/vchart-editor/__tests__/browser/main.ts
  packages/vchart-editor/__tests__/browser/style.css
  packages/vchart-editor/__tests__/browser/vite-env.d.ts
  packages/vchart-editor/__tests__/browser/vite.config.ts
  packages/vchart-editor/__tests__/unit/index.test.ts
  packages/vchart-editor/bundler.config.js
  packages/vchart-editor/jest.config.js
  packages/vchart-editor/package.json
  packages/vchart-editor/setup-mock.js
  packages/vchart-editor/src/global.d.ts
  packages/vchart-editor/src/index.ts
  packages/vchart-editor/tsconfig.eslint.json
  packages/vchart-editor/tsconfig.json
  packages/vchart-editor/tsconfig.test.json
  packages/vchart/src/plugin/chart/media-query/util/filter.ts
  packages/vchart/src/plugin/chart/register.ts
  rush.json
Labels: vchart, chore, typescript, jest, bundler, eslint

#1903 Feat/separately interactive config in area mark
  common/changes/@visactor/vchart/feat-separately-interactive-config-in-areaMark_2024-01-03-07-59.json
  packages/vchart/src/series/area/area.ts
Labels: vchart, chore

#1947 feat: resizeSync
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/util.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart

#1935 Feat/label support sync state
  docs/assets/examples/en/label/bar-label-syncState.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/label/bar-label-syncState.md
  docs/assets/option/en/component/label.md
  docs/assets/option/zh/component/label.md
  docs/public/vchart/preview/label-syncState_1.9.0.gif
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/component/label/interface.ts
Labels: vchart, typescript, docs

#1933 fix: optimize visual effect for duplicated funnel data
  common/changes/@visactor/vchart/fix-duplicated-funnel-data_2024-01-04-11-53.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#1906 Fix/scatter shape array
  common/changes/@visactor/vchart/fix-scatter-shape-array_2024-01-04-11-22.json
  packages/vchart/src/series/scatter/scatter.ts
Labels: vchart, chore

#1940 fix: vrender verify of datazoom and marker error
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1961 chore: update vmind version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
Labels: chore, docs

#1950 feat: modify custom tooltip example and theme extension docs
  docs/assets/examples/en/tooltip/custom-tooltip.md
  docs/assets/examples/zh/tooltip/custom-tooltip.md
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Extension.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Extension.md
  docs/public/vchart/preview/custom-tooltip.png
  packages/vchart/src/component/tooltip/handler/dom/model/shape-model.ts
  packages/vchart/src/component/tooltip/handler/dom/model/title-model.ts
Labels: vchart, docs

#1960 Fix/range column mark tooltip
  common/changes/@visactor/vchart/develop_2024-01-08-06-04.json
  packages/vchart/src/series/range-column/range-column.ts
Labels: vchart, chore

#1938 feat: support indent in region layout
  common/changes/@visactor/vchart/feat-support-indent-in-region_2024-01-05-04-33.json
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/map-label/component.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/layout/base-layout.ts
  packages/vchart/src/layout/interface.ts
  packages/vchart/src/layout/layout-item.ts
  packages/vchart/src/layout/layout3d/index.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/model/layout-model.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/correlation/correlation.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/pie/3d/pie-3d.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart, chore, typescript

#1963 Docs/option doc
  docs/assets/examples/en/legend/custom-line-legend.md
  docs/assets/examples/en/line-chart/line-custom-state.md
  docs/assets/examples/zh/legend/custom-line-legend.md
  docs/assets/examples/zh/line-chart/line-custom-state.md
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/en/graphic/symbol.md
  docs/assets/option/zh/component/legend-discrete.md
  docs/assets/option/zh/graphic/symbol.md
  docs/public/vchart/preview/custom-line-legend_1.8.6.png
  docs/public/vchart/preview/line-custom-state_1.8.6.png
Labels: docs

#1965 Fix/symbol onebyone animation
  common/changes/@visactor/vchart/fix-symbol-onebyone-animation_2024-01-08-08-18.json
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/line/line.ts
  packages/vchart/src/series/scatter/scatter.ts
Labels: vchart, chore

#1966 fix: fix error of react-vchart when the chart is released, fix #1887
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: react-vchart

#1816 Feat/group bar background
  common/changes/@visactor/vchart/feat-group-bar-background_2023-12-21-14-54.json
  docs/assets/examples/en/bar-chart/bar-background.md
  docs/assets/examples/zh/bar-chart/bar-background.md
  docs/assets/option/en/series/bar.md
  docs/assets/option/en/series/range-column.md
  docs/assets/option/en/series/waterfall.md
  docs/assets/option/zh/series/bar.md
  docs/assets/option/zh/series/range-column.md
  docs/assets/option/zh/series/waterfall.md
  docs/public/vchart/preview/bar-background_1.6.0.png
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/bar/interface.ts
  packages/vchart/src/series/cartesian/cartesian.ts
Labels: vchart, chore, typescript, docs

#1967 Fix/fix crossshair trigger region
  common/changes/@visactor/vchart/fix-fix-crossshair-trigger-region_2024-01-08-08-55.json
  packages/vchart/src/component/crosshair/cartesian.ts
Labels: vchart, chore

#1973 Fix/radar tooltip
  common/changes/@visactor/vchart/fix-radar-tooltip_2024-01-08-13-27.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/legend/base-legend.ts
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/data/transforms/dimension-statistics.ts
  packages/vchart/src/event/events/dimension/dimension-click.ts
  packages/vchart/src/event/events/dimension/dimension-hover.ts
  packages/vchart/src/interaction/trigger.ts
  packages/vchart/src/mark/mark-set/index.ts
  packages/vchart/src/plugin/components/axis-sync-plugin/zero-align-transform.ts
  packages/vchart/src/scale/global-scale.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/series/polar/rose-like/rose-like.ts
  packages/vchart/src/series/util/stack.ts
Labels: vchart, chore

#1977 fix: update vmind demo code
  docs/assets/demos/vmind-chart-generation/pages/LeftInput.tsx
Labels: docs

#1993 Fix/fix bug about indent top
  common/changes/@visactor/vchart/fix-fix-bug-about-indent-top_2024-01-10-03-09.json
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#1978 chore: fix the bug of tree-shaking in webpack
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, react-vchart

#1996 Fix/issue 1994
  common/changes/@visactor/vchart/fix-issue-1994_2024-01-10-04-07.json
  packages/vchart/src/component/legend/discrete/legend.ts
Labels: vchart, chore

#1987 fix: fix the issue of custom-ui site demo did not remove custom dom
  docs/assets/examples/en/legend/custom-ui.md
  docs/assets/examples/zh/legend/custom-ui.md
Labels: docs

#1981 fix(wordCloudShape): remnants text error and cancel default fontsizer…
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Axes.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Axes.md
  docs/assets/option/en/component/axis-common/linear-axis.md
  docs/assets/option/en/component/axis-common/time-axis.md
  docs/assets/option/en/series/word-cloud.md
  docs/assets/option/en/series/word-cloud3d.md
  docs/assets/option/zh/component/axis-common/linear-axis.md
  docs/assets/option/zh/component/axis-common/time-axis.md
  docs/assets/option/zh/series/word-cloud.md
  docs/assets/option/zh/series/word-cloud3d.md
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/series/word-cloud/interface.ts
Labels: vchart, typescript, docs

#2000 Fix/issue 1999
  common/changes/@visactor/vchart/fix-issue-1999_2024-01-10-07-37.json
  packages/vchart/src/chart/range-column/range-column-transformer.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/constant.ts
  packages/vchart/src/series/range-column/range-column.ts
Labels: vchart, chore

#1990 Feat/marker confine
  common/changes/@visactor/vchart/feat-marker-confine_2024-01-09-13-50.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/marker/mark-point-basic.md
  docs/assets/examples/zh/marker/mark-point-basic.md
  docs/assets/option/en/component/mark-point.md
  docs/assets/option/en/component/marker-common/marker-label.md
  docs/assets/option/zh/component/mark-point.md
  docs/assets/option/zh/component/marker-common/marker-label.md
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/src/component/marker/mark-point/interface/theme.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
Labels: vchart, chore, docs

#2007 chore: version upgrade
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#1980 feat: histogram chart supports bar background
  common/changes/@visactor/vchart/feat-group-bar-background_2024-01-09-08-40.json
  docs/assets/option/en/component/axis-common/time-axis.md
  docs/assets/option/zh/component/axis-common/time-axis.md
  packages/vchart/__tests__/runtime/browser/test-page/histogram.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/util.ts
  packages/vchart/src/chart/histogram/base/histogram-base-transformer.ts
  packages/vchart/src/chart/interface/common.ts
  packages/vchart/src/chart/range-column/range-column-transformer.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/component/map-label/component.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
  packages/vchart/src/component/player/player.ts
  packages/vchart/src/component/title/title.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/plugin/chart/media-query/util/filter.ts
  packages/vchart/src/region/interface.ts
  packages/vchart/src/region/region.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/util/model.ts
Labels: vchart, chore, typescript, docs

#1984 Fix/label line height
  common/changes/@visactor/vchart/fix-label-line-height_2024-01-09-09-05.json
  packages/vchart/src/theme/builtin/common-mobile/mark.ts
  packages/vchart/src/theme/builtin/common/mark.ts
  packages/vchart/src/theme/builtin/common/series/funnel.ts
  packages/vchart/src/theme/builtin/common/series/funnel3d.ts
  packages/vchart/src/theme/builtin/common/series/waterfall.ts
Labels: vchart, chore, typescript, docs

#2026 Fix/label overlap true effect
  common/changes/@visactor/vchart/fix-label-overlap-true-effect_2024-01-12-09-32.json
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/util.ts
Labels: vchart, chore

#2022 Fix/label with chart indent
  common/changes/@visactor/vchart/fix-label-with-chart-indent_2024-01-12-09-12.json
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
Labels: vchart, chore

#2021 Feat/indicator strategy
  common/changes/@visactor/vchart/feat-indicator-strategy_2024-01-12-07-07.json
  docs/assets/examples/en/pie-chart/pie-indicator-fitstrategy.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pie-chart/pie-indicator-fitstrategy.md
  docs/assets/option/en/component/indicator/indicator-item.md
  docs/assets/option/zh/component/indicator/indicator-item.md
  docs/public/vchart/preview/pie-indicator-fitstrategy_1.9.0.png
  packages/vchart/__tests__/runtime/browser/test-page/area.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/indicator/interface.ts
Labels: vchart, chore, typescript, docs

#2029 docs: error attr info
  docs/assets/option/en/chart/gauge.md
  docs/assets/option/en/series/gauge.md
  docs/assets/option/en/series/pie.md
  docs/assets/option/en/series/rose.md
  docs/assets/option/zh/chart/gauge.md
  docs/assets/option/zh/series/gauge.md
  docs/assets/option/zh/series/pie.md
  docs/assets/option/zh/series/rose.md
Labels: docs

#2028 feat: upgrade @visactor/vrender-core to locked 0.17.14
  common/changes/@visactor/vchart/feat-lock-vrender_2024-01-12-11-19.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2032 Docs/fix changelog
  .github/workflows/release-changelog.yml
  docs/assets/changelog/en/release.md
  docs/assets/changelog/menu.json
  docs/assets/changelog/zh/release.md
  docs/assets/option/en/mark/symbol.md
  docs/assets/option/zh/mark/symbol.md
Labels: chore, docs

#2042 Fix/lynx event bug
  common/changes/@visactor/vchart/fix-lynx-event-bug_2024-01-16-03-55.json
  packages/vchart/src/util/env.ts
Labels: vchart, chore

#2043 Sync/develop 1.9.0
  .github/workflows/release-changelog.yml
  common/changes/@visactor/vchart/feat-lock-vrender_2024-01-12-11-19.json
  common/changes/@visactor/vchart/fix-label-overlap-true-effect_2024-01-12-09-32.json
  common/changes/@visactor/vchart/fix-label-with-chart-indent_2024-01-12-09-12.json
  common/changes/@visactor/vchart/fix-lynx-event-bug_2024-01-16-03-55.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/changelog/en/release.md
  docs/assets/changelog/menu.json
  docs/assets/changelog/zh/release.md
  docs/assets/option/en/chart/gauge.md
  docs/assets/option/en/mark/symbol.md
  docs/assets/option/en/series/gauge.md
  docs/assets/option/en/series/pie.md
  docs/assets/option/en/series/rose.md
  docs/assets/option/zh/chart/gauge.md
  docs/assets/option/zh/mark/symbol.md
  docs/assets/option/zh/series/gauge.md
  docs/assets/option/zh/series/pie.md
  docs/assets/option/zh/series/rose.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/util/env.ts
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2046 fix: update barBackground default stroke
  docs/assets/examples/en/bar-chart/bar-background.md
  docs/assets/examples/zh/bar-chart/bar-background.md
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/theme/builtin/common/mark.ts
Labels: vchart, docs

#1912 feat: axis supports `hasDimensionTooltip` for force specification of dimension tooltip
  common/changes/@visactor/vchart/feat-0103_2024-01-03-13-53.json
  docs/assets/examples/en/gauge-chart/gauge-track.md
  docs/assets/examples/en/tooltip/time-axis-tooltip.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/gauge-chart/gauge-track.md
  docs/assets/examples/zh/tooltip/time-axis-tooltip.md
  docs/assets/option/en/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  docs/public/vchart/preview/time-axis-tooltip_1.9.0.png
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/band-axis.ts
  packages/vchart/src/component/axis/cartesian/interface/common.ts
  packages/vchart/src/component/axis/cartesian/interface/spec.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/tooltip/handler/utils/compose.ts
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/event/events/dimension/util/cartesian.ts
  packages/vchart/src/typings/tooltip/line.ts
Labels: vchart, chore, docs

#2047 fix: keep before size when there is no size info in dom
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/util.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart

#2045 Feat/sankey chart support disable trigger event
  common/changes/@visactor/vchart/feat-sankey-chart-support-disableTriggerEvent_2024-01-16-06-26.json
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore

#2044 Fix/fix active point when point visible false
  common/changes/@visactor/vchart/fix-fix-activePoint-when-point-visible-false_2024-01-16-07-10.json
  packages/vchart/src/series/mixin/line-mixin.ts
Labels: vchart, chore

#1914 feat: split tooltip handler into plugins for on-demand importing
  common/changes/@visactor/vchart/feat-tooltip-plugin_2024-01-03-15-14.json
  packages/vchart/src/component/tooltip/handler/interface/index.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/core/factory.ts
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx-simple.ts
  packages/vchart/src/index-wx.ts
  packages/vchart/src/plugin/components/axis-sync/axis-sync.ts
  packages/vchart/src/plugin/components/axis-sync/index.ts
  packages/vchart/src/plugin/components/axis-sync/tick-align-transform.ts
  packages/vchart/src/plugin/components/axis-sync/zero-align-transform.ts
  packages/vchart/src/plugin/components/index.ts
  packages/vchart/src/plugin/components/register.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/base-tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/style-constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/text-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/title-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/util.ts
  packages/vchart/src/plugin/components/tooltip-handler/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/compose.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/get-spec.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/pattern.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/vchart-all.ts
  packages/vchart/src/vchart-simple.ts
Labels: vchart, chore, typescript

#2049 fix: media query error in 1.9.0
  packages/vchart/src/plugin/chart/media-query/util/filter.ts
Labels: vchart

#1986 Refactor/wordcloud shape sync
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/data/compilable-data.ts
  packages/vchart/src/compile/data/interface.ts
  packages/vchart/src/compile/signal/state-manager.ts
  packages/vchart/src/compile/util.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/series/map/map.ts
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/series/word-cloud/word-cloud-3d.ts
Labels: vchart, chore, typescript, react-vchart, docs

#2052 feat: enhance scroll effect, closed #2037
  common/changes/@visactor/vchart/develop_2024-01-17-04-30.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore

#2056 fix: crosshair should show when `trimPadding` of axis is true, fix #2054
  common/changes/@visactor/vchart/fix-crosshair-of-trim-padding_2024-01-17-11-20.json
  packages/vchart/src/component/crosshair/cartesian.ts
Labels: vchart, chore

#2060 fix: move mobile themes to vchart-theme
  packages/vchart/src/theme/builtin/common-mobile/component/axis/band-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/common-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/linear-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/polar-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/crosshair.ts
  packages/vchart/src/theme/builtin/common-mobile/component/data-zoom.ts
  packages/vchart/src/theme/builtin/common-mobile/component/index.ts
  packages/vchart/src/theme/builtin/common-mobile/component/indicator.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/color-legend.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/continuous.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/discrete-legend.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/size-legend.ts
  packages/vchart/src/theme/builtin/common-mobile/component/map-label.ts
  packages/vchart/src/theme/builtin/common-mobile/component/mark-area.ts
  packages/vchart/src/theme/builtin/common-mobile/component/mark-line.ts
  packages/vchart/src/theme/builtin/common-mobile/component/mark-point.ts
  packages/vchart/src/theme/builtin/common-mobile/component/player.ts
  packages/vchart/src/theme/builtin/common-mobile/component/poptip.ts
  packages/vchart/src/theme/builtin/common-mobile/component/title.ts
  packages/vchart/src/theme/builtin/common-mobile/component/tooltip.ts
  packages/vchart/src/theme/builtin/common-mobile/component/total-label.ts
  packages/vchart/src/theme/builtin/common-mobile/constants.ts
  packages/vchart/src/theme/builtin/common-mobile/mark.ts
  packages/vchart/src/theme/builtin/dark-mobile/index.ts
  packages/vchart/src/theme/builtin/index.ts
  packages/vchart/src/theme/builtin/light-mobile/index.ts
Labels: vchart

#2057 fix: upgrade version of vrender to 0.17.10, vgrammar to 0.10.10, fix
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2061 fix: verfiy case
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
Labels: vchart

#2064 feat(calculator): add the SQL-like calculator for data analysis in vmind
  packages/vmind/jest.config.js
  packages/vmind/package.json
  packages/vmind/src/calculator/README.md
  packages/vmind/src/calculator/index.ts
  packages/vmind/src/calculator/join.test.ts
  packages/vmind/src/calculator/join.ts
  packages/vmind/src/calculator/mocks/index.ts
  packages/vmind/src/calculator/mocks/table.ts
  packages/vmind/src/calculator/pipe.ts
  packages/vmind/src/calculator/pipes/aggregate/aggregate.ts
  packages/vmind/src/calculator/pipes/aggregate/index.ts
  packages/vmind/src/calculator/pipes/aggregate/methods.ts
  packages/vmind/src/calculator/pipes/distinct.test.ts
  packages/vmind/src/calculator/pipes/distinct.ts
  packages/vmind/src/calculator/pipes/filter/filter.ts
  packages/vmind/src/calculator/pipes/filter/having.test.ts
  packages/vmind/src/calculator/pipes/filter/having.ts
  packages/vmind/src/calculator/pipes/filter/index.ts
  packages/vmind/src/calculator/pipes/filter/where.test.ts
  packages/vmind/src/calculator/pipes/filter/where.ts
  packages/vmind/src/calculator/pipes/group.test.ts
  packages/vmind/src/calculator/pipes/group.ts
  packages/vmind/src/calculator/pipes/index.ts
  packages/vmind/src/calculator/pipes/limit.ts
  packages/vmind/src/calculator/pipes/order.test.ts
  packages/vmind/src/calculator/pipes/order.ts
  packages/vmind/src/calculator/pipes/select.test.ts
  packages/vmind/src/calculator/pipes/select.ts
  packages/vmind/src/calculator/query.test.ts
  packages/vmind/src/calculator/query.ts
  packages/vmind/src/calculator/types/aggregate.ts
  packages/vmind/src/calculator/types/data.ts
  packages/vmind/src/calculator/types/filter.ts
  packages/vmind/src/calculator/types/group.ts
  packages/vmind/src/calculator/types/index.ts
  packages/vmind/src/calculator/types/join.ts
  packages/vmind/src/calculator/types/query.ts
  packages/vmind/src/calculator/types/select.ts
  packages/vmind/src/calculator/utils/includes.ts
  packages/vmind/src/calculator/utils/index.ts
  packages/vmind/src/calculator/utils/ordered.ts
  packages/vmind/src/gpt/dataProcess/index.ts
  packages/vmind/src/gpt/dataProcess/queryDataset.ts
Labels: chore, jest

#2068 docs: fix the error of dataset guide
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Data/Data_Types_and_Interface.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Data/Data_Types_and_Interface.md
Labels: docs

#2067 fix: fix the bug of nice when tickCount is a function, fix #2050
  common/changes/@visactor/vchart/fix-nice-tick-count_2024-01-18-07-39.json
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
Labels: vchart, chore

#2065 fix: map scale ratio not correct after updateSpec or resize
  common/changes/@visactor/vchart/fix-map_scale_incorrect_2024-01-18-06-32.json
  packages/vchart/src/component/geo/geo-coordinate.ts
Labels: vchart, chore

#2063 Sync/develop to 1.9.0
  common/changes/@visactor/vchart/develop_2024-01-17-04-30.json
  common/changes/@visactor/vchart/feat-sankey-chart-support-disableTriggerEvent_2024-01-16-06-26.json
  common/changes/@visactor/vchart/fix-area-interactive_2024-01-16-12-36.json
  common/changes/@visactor/vchart/fix-crosshair-of-trim-padding_2024-01-17-11-20.json
  common/changes/@visactor/vchart/fix-fix-activePoint-when-point-visible-false_2024-01-16-07-10.json
  common/changes/@visactor/vchart/fix-map_scale_incorrect_2024-01-18-06-32.json
  common/changes/@visactor/vchart/fix-nice-tick-count_2024-01-18-07-39.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Data/Data_Types_and_Interface.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Data/Data_Types_and_Interface.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/util.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
  packages/vchart/src/model/base-model-transformer.ts
  packages/vchart/src/series/area/area-transformer.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/band-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/common-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/linear-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/axis/polar-axis.ts
  packages/vchart/src/theme/builtin/common-mobile/component/crosshair.ts
  packages/vchart/src/theme/builtin/common-mobile/component/data-zoom.ts
  packages/vchart/src/theme/builtin/common-mobile/component/index.ts
  packages/vchart/src/theme/builtin/common-mobile/component/indicator.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/color-legend.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/continuous.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/discrete-legend.ts
  packages/vchart/src/theme/builtin/common-mobile/component/legend/size-legend.ts
  packages/vchart/src/theme/builtin/common-mobile/component/map-label.ts
  packages/vchart/src/theme/builtin/common-mobile/component/mark-area.ts
  packages/vchart/src/theme/builtin/common-mobile/component/mark-line.ts
  packages/vchart/src/theme/builtin/common-mobile/component/mark-point.ts
  packages/vchart/src/theme/builtin/common-mobile/component/player.ts
  packages/vchart/src/theme/builtin/common-mobile/component/poptip.ts
  packages/vchart/src/theme/builtin/common-mobile/component/title.ts
  packages/vchart/src/theme/builtin/common-mobile/component/tooltip.ts
  packages/vchart/src/theme/builtin/common-mobile/component/total-label.ts
  packages/vchart/src/theme/builtin/common-mobile/constants.ts
  packages/vchart/src/theme/builtin/common-mobile/mark.ts
  packages/vchart/src/theme/builtin/dark-mobile/index.ts
  packages/vchart/src/theme/builtin/index.ts
  packages/vchart/src/theme/builtin/light-mobile/index.ts
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2053 Fix/axis sort in datazoom
  common/changes/@visactor/vchart/fix-axis-sort-in-datazoom_2024-01-17-04-07.json
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/cartesian/cartesian.ts
Labels: vchart, chore

#2077 fix: update player component when theme switching
  packages/vchart/src/component/player/player.ts
Labels: vchart

#2076 feat: update theme concept docs
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  packages/vchart/__tests__/runtime/browser/test-page/scatter-player.ts
Labels: vchart, docs

#2078 fix: fix the issue of `getRawDataStatisticsByField()` when `lockStati…
  packages/vchart/src/series/base/base-series.ts
Labels: vchart

#2087 Fix/update animation excludes defined channel
  common/changes/@visactor/vchart/fix-update-animation-excludes-defined-channel_2024-01-19-08-04.json
  packages/vchart/src/animation/config.ts
  packages/vchart/src/series/radar/animation.ts
Labels: vchart, chore

#2091 fix: revert indent of region
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/map-label/component.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/layout/base-layout.ts
  packages/vchart/src/layout/interface.ts
  packages/vchart/src/layout/layout-item.ts
  packages/vchart/src/layout/layout3d/index.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/model/layout-model.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/correlation/correlation.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/pie/3d/pie-3d.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart, typescript

#2090 Fix/layout normal inline
  packages/vchart/src/layout/base-layout.ts
  packages/vchart/src/layout/util.ts
Labels: vchart

#2089 Fix/crosshair timer
  common/changes/@visactor/vchart/fix-crosshair-timer_2024-01-19-09-24.json
  packages/vchart/src/component/crosshair/base.ts
Labels: vchart, chore

#2093 Feat/align inline items
  common/changes/@visactor/vchart/feat-align-inline-items_2024-01-21-08-03.json
  docs/assets/examples/en/layout/align-self.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/layout/align-self.md
  docs/assets/option/en/common/layout-item.md
  docs/assets/option/zh/common/layout-item.md
  packages/vchart/src/layout/interface.ts
  packages/vchart/src/layout/layout-item.ts
  packages/vchart/src/layout/util.ts
  packages/vchart/src/typings/layout.ts
Labels: vchart, chore, typescript, docs

#2094 feat: support supportsTouchEvents and supportsPointerEvents config
  common/changes/@visactor/vchart/develop_2024-01-22-03-46.json
  packages/vchart/src/compile/interface/compiler.ts
Labels: vchart, chore

#2100 Fix/domain line on zero
  common/changes/@visactor/vchart/fix-domainLine-onZero_2024-01-22-05-59.json
  packages/vchart/src/component/axis/cartesian/axis.ts
Labels: vchart, chore

#2107 feat: upgrade vrender
  common/changes/@visactor/vchart/feat-upgrade-vrender_2024-01-22-09-53.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2104 Feat/axis indent
  common/changes/@visactor/vchart/feat-axis-indent_2024-01-22-07-44.json
  packages/vchart/__tests__/unit/component/cartesian/axis/inner-offset.test.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/interface/spec.ts
  packages/vchart/src/layout/interface.ts
Labels: vchart, chore, typescript

#2111 Fix/tooltip content callback
  common/changes/@visactor/vchart/fix-tooltip-content-callback_2024-01-22-20-56.json
  docs/assets/examples/en/tooltip/area-mark-tooltip.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/tooltip/area-mark-tooltip.md
  docs/public/vchart/preview/area-mark-tooltip_1.9.0.png
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/constant.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/base-tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/compose.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/get-spec.ts
  packages/vchart/src/series/base/tooltip-helper.ts
Labels: vchart, chore, docs

#2118 fix: sequence series region bind error. fix#2115
  common/changes/@visactor/vchart/fix-sequence-region-bind_2024-01-23-09-48.json
  packages/vchart/src/chart/sequence/sequence-transformer.ts
Labels: vchart, chore

#2114 Feat/support component in extension mark
  common/changes/@visactor/vchart/feat-support-component-in-extension-mark_2024-01-22-10-05.json
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, chore

#2122 Fix/tooltip shape 1.8
  common/changes/@visactor/vchart/fix-tooltip-shape_2024-01-23-09-37.json
  packages/vchart/src/component/tooltip/handler/dom/model/shape-model.ts
Labels: vchart, chore

#2119 Fix/issue 2117
  common/changes/@visactor/vchart/fix-issue-2117_2024-01-23-09-16.json
  packages/vchart/src/component/axis/polar/axis.ts
Labels: vchart, chore

#2120 Fix/tooltip shape
  common/changes/@visactor/vchart/fix-tooltip-shape_2024-01-23-09-37.json
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
Labels: vchart, chore

#2123 Fix/treemap drill error
  common/changes/@visactor/vchart/fix-treemap-drill-error_2024-01-23-10-47.json
  common/changes/@visactor/vchart/fix-treemap-drill-error_2024-01-23-11-29.json
  packages/vchart/src/interaction/drill/drillable.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
  packages/vchart/src/series/treemap/treemap.ts
Labels: vchart, chore

#2126 Feat/tooltip scroll
  common/changes/@visactor/vchart/feat-tooltip-scroll_2024-01-23-16-46.json
  docs/assets/examples/en/tooltip/format-method.md
  docs/assets/examples/zh/tooltip/format-method.md
  docs/assets/option/en/component/tooltip-common/tooltip-theme.md
  docs/assets/option/zh/component/tooltip-common/tooltip-theme.md
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/style-constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
Labels: vchart, chore, typescript, docs

#2129 fix: mark-line need to be filter by legend in some case
  common/changes/@visactor/vchart/fix-marker-filter_2024-01-24-11-55.json
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/data/transforms/marker-filter.ts
Labels: vchart, chore

#2132 fix: fix issue of continous color scale, close #2131
  common/changes/@visactor/vchart/fix-continuous-color-scale_2024-01-25-03-18.json
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#2133 chore: fix the config of side-effects
  packages/vchart/package.json
Labels: vchart

#2134 fix: dont return min,max of empty data, fix #1711
  common/changes/@visactor/vchart/fix-issue-1711_2024-01-25-06-40.json
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/axis/polar/axis.ts
Labels: vchart, chore

#2139 fix: `this.option` empty value protection
  packages/vchart/src/model/base-model.ts
Labels: vchart

#2140 Perf/element highlight in scatter
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/interaction/config.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore, react-vchart, docs

#2141 fix: solve the confict error
  packages/vchart/src/component/axis/polar/axis.ts
Labels: vchart

#2155 Fix/issue2148
  common/changes/@visactor/vchart/fix-issue2148_2024-01-26-05-31.json
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/event/events/dimension/interface.ts
  packages/vchart/src/event/events/dimension/util/common.ts
Labels: vchart, chore, typescript

#2150 chore: optimize build of ci
  packages/vchart/package.json
  tools/bundler/README.md
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/logic/config.ts
Labels: vchart, bundler

#2159 fix: remove scale.ticks()'s calling, becase it will change the scale'…
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/polar/interface/common.ts
  packages/vchart/src/component/crosshair/polar.ts
Labels: vchart

#2160 fix: custom mark should run after all the series marks, fix #2156
  common/changes/@visactor/vchart/fix-custom-mark-run-after-series_2024-01-26-08-58.json
  packages/vchart/src/component/custom-mark/custom-mark.ts
Labels: vchart, chore

#2161 chore: fix error of unit-test workflow and hotfix, release
  .github/workflows/hotfix-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  packages/vchart/package.json
Labels: vchart, chore

#2162 Fix/disable interactions
  common/changes/@visactor/vchart/fix-disable-interactions_2024-01-26-10-05.json
  packages/vchart/src/region/region.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#2173 Fix/react vchart in strict mode
  common/changes/@visactor/vchart/fix-react-vchart-in-strict-mode_2024-01-29-10-01.json
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: chore, react-vchart

#2168 docs: optimize the docs of getting_started
  docs/assets/guide/en/tutorial_docs/Getting_Started.md
  docs/assets/guide/zh/tutorial_docs/Getting_Started.md
Labels: docs

#2174 fix: upgrade vgrammar to 0.11.6 to fix mark-overlap, close #2165
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, docs

#2172 chore: correcting confusing data in waterfall charts
  docs/assets/examples/en/waterfall/collect-waterfall.md
  docs/assets/examples/en/waterfall/stack-waterfall.md
  docs/assets/examples/zh/waterfall/collect-waterfall.md
  docs/assets/examples/zh/waterfall/stack-waterfall.md
  docs/public/vchart/preview/waterfall-collect-waterfall_1.9.0.png
  docs/public/vchart/preview/waterfall-stack-waterfall_1.9.0.png
Labels: docs

#2182 fix: add new api to theme package docs
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/tutorial_docs/Theme/Arco_Design.md
  docs/assets/guide/en/tutorial_docs/Theme/Semi_Design.md
  docs/assets/guide/zh/tutorial_docs/Theme/Arco_Design.md
  docs/assets/guide/zh/tutorial_docs/Theme/Semi_Design.md
Labels: chore, docs

#2169 Fix/zero align
  common/changes/@visactor/vchart/fix-zero-align_2024-01-29-08-11.json
  packages/vchart/src/plugin/components/axis-sync/axis-sync.ts
Labels: vchart, chore

#2191 Fix/docs0131
  docs/assets/examples/en/marker/mark-line-axis.md
  docs/assets/examples/zh/marker/mark-line-axis.md
  docs/public/vchart/preview/bar-background_1.6.0.png
Labels: docs
