Repository VisActor/VChart, pull requests merged in 2024-11, with the labels that each got.

#3383 docs: update changelog of 1.12.10
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  packages/harmony_vchart/library/CHANGELOG.md
Labels: docs

#3387 docs: update default value of pie `startAngle/endAngle` options
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
Labels: docs

#3394 Fix/tooltip custom svg symbol type
  common/changes/@visactor/vchart/fix-tooltip-custom-svg-symbolType_2024-11-06-03-42.json
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
Labels: vchart, chore

#3390 Fix/wordcloud error when visible false
  common/changes/@visactor/vchart/fix-wordcloud-error-when-visible-false_2024-11-04-03-36.json
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart, chore

#3415 Fix: zoom conflict
  common/changes/@visactor/vchart/fix-zoom-conflict_2024-11-12-09-02.json
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore

#3413 Feat/support axis sync to break axis
  common/changes/@visactor/vchart/feat-support-axis-sync-to-break-axis_2024-11-12-07-26.json
  packages/vchart/__tests__/unit/component/cartesian/axis/axis-sync-break.test.ts
  packages/vchart/src/plugin/components/axis-sync/zero-align-transform.ts
Labels: vchart, chore

#3416 demo: update error tutorial demo
  docs/assets/guide/en/tutorial_docs/extend/custom_layout.md
  docs/assets/guide/zh/tutorial_docs/extend/custom_layout.md
Labels: docs

#3417 docs: add contributing md
  docs/assets/contributing/en/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/en/2-Howto Submit an Issue.md
  docs/assets/contributing/en/3-How to Contribute Documentation.md
  docs/assets/contributing/en/4-How to Contribute to a Demo.md
  docs/assets/contributing/en/5-How to Contribute Code.md
  docs/assets/contributing/menu.json
  docs/assets/contributing/zh/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/zh/2-Howto Submit an Issue.md
  docs/assets/contributing/zh/3-How to Contribute Documentation.md
  docs/assets/contributing/zh/4-How to Contribute to a Demo.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
  docs/assets/guide/en/tutorial_docs/Contribution_Guide.md
  docs/assets/guide/zh/tutorial_docs/Contribution_Guide.md
  docs/menu.json
Labels: docs

#3368 Feat/tooltip trigger
  common/changes/@visactor/vchart/feat-tooltip-trigger_2024-10-30-07-44.json
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip.md
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/interface/compiler.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore, docs

#3389 Fix/tooltip position tl
  common/changes/@visactor/vchart/fix-tooltip-position-tl_2024-11-04-04-09.json
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
Labels: vchart, chore

#3398 Fix/series zindex
  common/changes/@visactor/vchart/fix-series-zindex_2024-11-07-13-39.json
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, chore

#3410 Fix/tooltip enterable udpate
  common/changes/@visactor/vchart/fix-tooltip-enterable-udpate_2024-11-11-08-57.json
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3408 Fix/title layout
  common/changes/@visactor/vchart/fix-title-layout_2024-11-11-08-23.json
  packages/vchart/src/component/title/title.ts
Labels: vchart, chore

#3420 Fix/aixs break scope
  common/changes/@visactor/vchart/fix-aixs-break-scope_2024-11-13-09-50.json
  packages/vchart/src/component/axis/mixin/util/break-data.ts
Labels: vchart, chore

#3425 docs: update contributing md
  docs/assets/contributing/en/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/en/3-How to Contribute Documentation.md
  docs/assets/contributing/en/4-How to Contribute to a Demo.md
  docs/assets/contributing/zh/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/zh/3-How to Contribute Documentation.md
  docs/assets/contributing/zh/4-How to Contribute to a Demo.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
Labels: docs

#3418 fix: fix the issue of area incorrect rendering via updateSpec
  common/changes/@visactor/vchart/fix-area-visible-updateSpec_2024-11-13-07-56.json
  common/changes/@visactor/vchart/fix-area-visible-updateSpec_2024-11-14-06-01.json
  packages/vchart/src/series/area/area-transformer.ts
  packages/vchart/src/series/area/area.ts
Labels: vchart, chore

#3423 Fix/background zindex
  common/changes/@visactor/vchart/fix-tooltip-enterable0-update_2024-11-11-04-09.json
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#3430 Fix/tooltip mousemove error
  common/changes/@visactor/vchart/perf-break-data-score_2024-11-15-09-52.json
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3440 docs: add lynx compatible doc
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
Labels: docs

#3441 fix: fix the issue where the length of the outerlabel line is incorre…
  common/changes/@visactor/vchart/fix-funnel-outer-label_2024-11-21-02-40.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#3443 Fix/box plot state
  common/changes/@visactor/vchart/fix-box-plot-state_2024-11-20-02-34.json
  packages/vchart/src/series/box-plot/box-plot.ts
Labels: vchart, chore

#3448 fix: upgrade vrender to 0.20.16, vgrammar to 0.14.16
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3463 Feat/auto refresh dpr
  common/changes/@visactor/vchart/feat-auto-refresh-dpr_2024-11-25-08-44.json
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/interface/compiler.ts
Labels: vchart, chore, docs

#3456 feat: add marker context to support the same color as series. close#3437
  common/changes/@visactor/vchart/feat-marker-context_2024-11-24-08-04.json
  docs/assets/examples/en/marker/mark-line-color-with-series.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/marker/mark-line-color-with-series.md
  docs/assets/option/en/component/marker-common/marker-style-callback.md
  docs/assets/option/zh/component/marker-common/marker-style-callback.md
  docs/public/vchart/preview/mark-line-color-with-series_1.13.0.png
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/base-mark-area.ts
  packages/vchart/src/component/marker/mark-line/base-mark-line.ts
  packages/vchart/src/component/marker/mark-point/base-mark-point.ts
  packages/vchart/src/component/marker/utils.ts
Labels: vchart, chore, typescript, docs
