Repository VisActor/VChart, pull requests merged in 2024-12, with the labels that each got.

#3477 Fix/value in scale range
  packages/vchart/src/util/scale.ts
Labels: vchart

#3478 fix: not update layout when scrollbar domain is the same as before. f…
  common/changes/@visactor/vchart/fix-scollbar-domain-cache_2024-11-29-10-56.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
Labels: vchart, chore

#3321 refactor: refactor dom tooltip of vchart
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/constant.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/base-tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/style-constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/text-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/title-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/svg.ts
Labels: vchart, typescript

#3482 docs: add gantt calendar pivot chart demo
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/calendar/calendar-basic.md
  docs/assets/examples/en/calendar/calendar-custom-event.md
  docs/assets/examples/en/gantt/gantt-basic.md
  docs/assets/examples/en/gantt/gantt-customLayout.md
  docs/assets/examples/en/gantt/gantt-dependency-link-create.md
  docs/assets/examples/en/gantt/gantt-dependency-link-line.md
  docs/assets/examples/en/gantt/gantt-edit.md
  docs/assets/examples/en/gantt/gantt-interaction-creation-button.md
  docs/assets/examples/en/gantt/gantt-interaction-drag-table-width.md
  docs/assets/examples/en/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/examples/en/gantt/gantt-table-mergeCell.md
  docs/assets/examples/en/gantt/gantt-taskShowMode.md
  docs/assets/examples/en/pivot-chart/pivot-chart-pie.md
  docs/assets/examples/en/pivot-chart/pivot-chart-radar.md
  docs/assets/examples/en/pivot-chart/pivot-chart-scatter.md
  docs/assets/examples/en/pivot-chart/pivot-chart-wordCloud.md
  docs/assets/examples/en/pivot-chart/pivot-chart.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/calendar/calendar-basic.md
  docs/assets/examples/zh/calendar/calendar-custom-event.md
  docs/assets/examples/zh/gantt/gantt-basic.md
  docs/assets/examples/zh/gantt/gantt-customLayout.md
  docs/assets/examples/zh/gantt/gantt-dependency-link-create.md
  docs/assets/examples/zh/gantt/gantt-dependency-link-line.md
  docs/assets/examples/zh/gantt/gantt-edit.md
  docs/assets/examples/zh/gantt/gantt-interaction-creation-button.md
  docs/assets/examples/zh/gantt/gantt-interaction-drag-table-width.md
  docs/assets/examples/zh/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/examples/zh/gantt/gantt-table-mergeCell.md
  docs/assets/examples/zh/gantt/gantt-taskShowMode.md
  docs/assets/examples/zh/pivot-chart/pivot-chart-pie.md
  docs/assets/examples/zh/pivot-chart/pivot-chart-radar.md
  docs/assets/examples/zh/pivot-chart/pivot-chart-scatter.md
  docs/assets/examples/zh/pivot-chart/pivot-chart-wordCloud.md
  docs/assets/examples/zh/pivot-chart/pivot-chart.md
  docs/package.json
  docs/src/main.tsx
Labels: chore, docs

#3489 docs: update gantt demo problem
  docs/assets/examples/en/gantt/gantt-table-mergeCell.md
  docs/assets/examples/zh/gantt/gantt-table-mergeCell.md
Labels: docs

#3485 fix: update visible when layout end
  common/changes/@visactor/vchart/fix-domain-cache-scroll_2024-12-03-08-00.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
Labels: vchart, chore

#3486 Feat/data zoom lock domain
  common/changes/@visactor/vchart/feat-data-zoom-lock-domain_2024-12-03-07-51.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/util.ts
Labels: vchart, chore

#3487 Feat: funnel extension
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/funnel-chart/conversion-funnel.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/funnel-chart/conversion-funnel.md
  docs/assets/guide/en/tutorial_docs/Chart_Extensions/conversion_funnel.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Chart_Extensions/conversion_funnel.md
  docs/public/vchart/guide/extension/conversion-funnel.png
  docs/public/vchart/preview/conversion-funnel_1.12.14.png
  packages/vchart-extension/__tests__/runtime/browser/test-page/conversion-funnel.ts
  packages/vchart-extension/package.json
  packages/vchart-extension/src/charts/conversion-funnel/arrow-data-transform.ts
  packages/vchart-extension/src/charts/conversion-funnel/conversion-funnel-transformer.ts
  packages/vchart-extension/src/charts/conversion-funnel/conversion-funnel.ts
  packages/vchart-extension/src/charts/conversion-funnel/index.ts
  packages/vchart-extension/src/charts/conversion-funnel/interface.ts
  packages/vchart-extension/src/charts/conversion-funnel/util.ts
  packages/vchart-extension/src/index.ts
Labels: chore, typescript, docs

#3496 chore: release workflow should build vchart-extension
  .github/workflows/release.yml
Labels: chore

#3490 feat: support max height of tooltip, by percent value , close #2675
  .github/workflows/bug-server.yml
  .github/workflows/hotfix-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/publish.yml
  .github/workflows/release-changelog.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/sync-main-to-develop.yml
  .github/workflows/unit-test.yml
  common/changes/@visactor/vchart/feat-tooltip-max-height-by-percent_2024-12-04-04-02.json
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/style.ts
Labels: vchart, chore

#3497 Fix/upgrade vrender 0.20.18
  common/changes/@visactor/vchart/fix-upgrade-vrender-0.20.18_2024-12-05-08-55.json
  common/changes/@visactor/vchart/fix-upgrade-vrender-0.20.18_2024-12-05-08-59.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3504 Fix/upgrade vrender 0.21
  common/changes/@visactor/vchart/fix-upgrade-vrender-0.21_2024-12-05-10-46.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/unit/component/cartesian/axis/axis-sync-break.test.ts
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3507 docs: add docs for `restorePosition`
  docs/assets/option/en/component/label.md
  docs/assets/option/zh/component/label.md
Labels: docs

#3491 Feat/sankey scrollbar
  docs/assets/option/en/series/sankey.md
  docs/assets/option/zh/series/sankey.md
  packages/vchart/__tests__/runtime/browser/test-page/sankey.ts
  packages/vchart/src/chart/sankey/sankey-transformer.ts
  packages/vchart/src/chart/sankey/sankey.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, typescript, docs

#3509 docs: add example of sankey with scrollbar
  docs/assets/examples/en/sankey-chart/sankey-with-scrollbar.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/sankey-chart/sankey-with-scrollbar.md
  docs/public/vchart/preview/sankey-scrollbar_1.13.0.jpeg
Labels: docs

#3508 Chore/auto comment
  .github/workflows/auto-comment-issue.yml
Labels: chore

#3520 feat: support tooltip filter range as function
  docs/assets/option/zh/component/axis-common/linear-axis.md
  packages/vchart-types/types/component/axis/interface.d.ts
  packages/vchart-types/types/component/axis/interface/spec.d.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/event/events/dimension/util/common.ts
Labels: vchart, docs, vchart-types

#3516 feat: support tooltip filter range as function
  docs/assets/option/zh/component/axis-common/linear-axis.md
  packages/vchart-types/types/component/axis/interface.d.ts
  packages/vchart-types/types/component/axis/interface/spec.d.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/event/events/dimension/util/common.ts
Labels: vchart, docs, vchart-types

#3518 Feat/legend custom filter
  common/changes/@visactor/vchart/feat-legend-custom-filter_2024-12-09-05-54.json
  docs/assets/option/en/component/legend-common/base-legend.md
  docs/assets/option/zh/component/legend-common/base-legend.md
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/component/legend/interface.ts
  packages/vchart/src/data/transforms/legend-data/continuous/continuous.ts
  packages/vchart/src/data/transforms/legend-data/continuous/interface.ts
  packages/vchart/src/data/transforms/legend-data/discrete/discrete.ts
  packages/vchart/src/data/transforms/legend-data/discrete/interface.ts
Labels: vchart, chore, typescript, docs

#3531 chore: tooltip should not has animation in bug server
  .github/workflows/auto-comment-issue.yml
  CONTRIBUTING.ja-JP.md
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  tools/bugserver-trigger/src/index.ts
Labels: chore

#3551 fix: fix update of extensionMark when mark has `name`, fix #3547
  common/changes/@visactor/vchart/fix-extensiom-mark-update-when-has-name_2024-12-11-08-09.json
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#3552 Docs/pictogram cat
  docs/assets/examples/en/pictogram-chart/pictogram-cat.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pictogram-chart/pictogram-cat.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/Pictogram.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Pictogram.md
  docs/public/vchart/preview/pictogram-cat_1.13.0.png
Labels: docs

#3550 Fix/dom tooltip content update
  common/changes/@visactor/vchart/fix-dom-tooltip-content-update_2024-12-11-07-29.json
  common/changes/@visactor/vchart/fix-tooltip-formatter_2024-12-11-02-38.json
  packages/vchart/src/component/tooltip/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/style.ts
Labels: vchart, chore

#3556 Fix/waterfall break
  common/changes/@visactor/vchart/develop_2024-12-12-04-07.json
  common/changes/@visactor/vchart/fix-waterfall-break_2024-12-13-04-02.json
  common/changes/@visactor/vchart/fix-waterfall-break_2024-12-13-04-03.json
  packages/vchart-extension/src/components/series-break/util.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/axis/mixin/util/break-data.ts
Labels: vchart, chore

#3555 Fix/tooltip position and style
  common/changes/@visactor/vchart/fix-tooltip-position-and-style_2024-12-12-03-26.json
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
Labels: vchart, chore

#3553 Fix/indicator switch visible
  common/changes/@visactor/vchart/fix-indicator-switch-visible_2024-12-11-08-58.json
  packages/vchart/src/component/indicator/indicator.ts
Labels: vchart, chore

#3562 Fix/bug of update model spec sync in axis tick
  common/changes/@visactor/vchart/fix-bug-of-updateModelSpecSync-in-axis-tick_2024-12-13-06-55.json
  packages/vchart/src/component/axis/cartesian/linear-axis.ts
Labels: vchart, chore

#3568 docs: fix incorrect tutorial of conversion funnel
  docs/assets/guide/en/tutorial_docs/Chart_Extensions/conversion_funnel.md
  docs/assets/guide/zh/tutorial_docs/Chart_Extensions/conversion_funnel.md
Labels: docs

#3577 Doc/add source code explain
  docs/assets/contributing/en/sourcecode/0-1 Start a demo.md
  docs/assets/contributing/zh/6-How to upload image.md
  docs/assets/contributing/zh/7-How to debug.md
  docs/assets/contributing/zh/sourcesode/0-1 Start a demo.md
Labels: docs

#3579 fix: support percentage state radius config in gauge segement mark
  common/changes/@visactor/vchart/fix-gauge-state-radius-support-percentage_2024-12-18-08-44.json
  packages/vchart/src/series/gauge/gauge.ts
Labels: vchart, chore

#3583 Fix/media query error
  common/changes/@visactor/vchart/fix-media-query-error_2024-12-19-07-36.json
  packages/vchart/src/plugin/chart/media-query/util/filter.ts
Labels: vchart, chore

#3581 Feat/react vchart series
  common/changes/@visactor/vchart/feat-react-vchart-series_2024-12-19-03-28.json
  packages/react-vchart/src/charts/MosaicChart.tsx
  packages/react-vchart/src/charts/PictogramChart.tsx
  packages/react-vchart/src/charts/RangeAreaChart.tsx
  packages/react-vchart/src/charts/index.ts
  packages/react-vchart/src/series/Gauge.tsx
  packages/react-vchart/src/series/GaugePointer.tsx
  packages/react-vchart/src/series/Heatmap.tsx
  packages/react-vchart/src/series/Mosaic.tsx
  packages/react-vchart/src/series/Pictogram.tsx
  packages/react-vchart/src/series/RangeArea.tsx
  packages/react-vchart/src/series/Venn.tsx
  packages/react-vchart/src/series/index.ts
  packages/vchart/src/series/index.ts
Labels: vchart, chore, react-vchart

#3573 Fix/tooltip attributes
  common/changes/@visactor/vchart/fix-tooltip-attributes_2024-12-17-06-19.json
  common/changes/@visactor/vchart/fix-tooltip-attributes_2024-12-17-06-31.json
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
Labels: vchart, chore

#3589 Feat/support click interval for dblclick
  common/changes/@visactor/vchart/feat-support-clickInterval-for-dblclick_2024-12-20-07-55.json
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/interface/compiler.ts
Labels: vchart, chore

#3588 Style/optimize axis
  docs/assets/examples/en/axis/style.md
  docs/assets/examples/zh/axis/style.md
  docs/public/vchart/preview/axis-style_1.13.1.png
  packages/vchart/bundler.config.js
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/compile/compilable-base.ts
  packages/vchart/src/compile/interface/compilable-item.ts
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/marker/mark-area/cartesian-mark-area.ts
  packages/vchart/src/component/marker/mark-area/polar-mark-area.ts
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
  packages/vchart/src/component/marker/mark-line/polar-mark-line.ts
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/data/transforms/hierarchy-dimension-statistics.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas-tooltip-handler.ts
  packages/vchart/src/region/region.ts
  packages/vchart/src/scale/global-scale.ts
  packages/vchart/src/series/pictogram/pictogram.ts
  packages/vchart/src/series/waterfall/waterfall.ts
Labels: vchart, typescript, bundler, docs

#3592 Fix/tooltip position
  common/changes/@visactor/vchart/fix-tooltip-position_2024-12-23-02-47.json
  docs/assets/examples/en/tooltip/enterable-tooltip.md
  docs/assets/examples/zh/tooltip/enterable-tooltip.md
  packages/vchart/__tests__/unit/series/linearProgres.test.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
Labels: vchart, chore, docs

#3585 Style/add comments
  packages/vchart/src/component/axis/cartesian/interface/spec.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/interface/spec.ts
  packages/vchart/src/component/marker/mark-line/interface/spec.ts
  packages/vchart/src/component/marker/mark-line/interface/theme.ts
  packages/vchart/src/component/marker/mark-point/interface/spec.ts
  packages/vchart/src/interaction/interface.ts
  packages/vchart/src/series/mosaic/interface.ts
  packages/vchart/src/typings/layout.ts
  packages/vchart/src/typings/space.ts
  packages/vchart/src/typings/visual.ts
Labels: vchart, typescript

#3594 fix: upgrade vrender to 0.21.4, vgrammar to 0.15.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3599 docs: add pie extension demo
  docs/assets/examples/en/custom/pie-extension-icon.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/custom/pie-extension-icon.md
  docs/public/vchart/preview/pie-extension-icon.png
Labels: docs

#3595 Fix/fix typographical error of dataset processing
  common/changes/@visactor/vchart/fix-fix-typographical-error-of-dataset-processing_2024-12-23-12-33.json
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Data/Dataset_and_Data_Processing.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Data/Dataset_and_Data_Processing.md
Labels: chore, docs

#3607 feat: add axis component event data
  common/changes/@visactor/vchart/feat-axis-event-data_2024-12-25-03-35.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/component/interface/common.ts
  packages/vchart/src/event/event-dispatcher.ts
Labels: vchart, chore

#3602 perf: base-chart should not create spec transformer
  packages/vchart/__tests__/unit/chart/bar.test.ts
  packages/vchart/__tests__/unit/chart/histogram.test.ts
  packages/vchart/__tests__/unit/chart/line.test.ts
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/chart/rangeColumn.test.ts
  packages/vchart/__tests__/unit/chart/treemap.test.ts
  packages/vchart/__tests__/unit/chart/word-cloud.test.ts
  packages/vchart/__tests__/unit/data/fields.test.ts
  packages/vchart/__tests__/unit/morph/morph.test.ts
  packages/vchart/__tests__/unit/scale/global-scale.test.ts
  packages/vchart/src/chart/area/area-transformer.ts
  packages/vchart/src/chart/bar/3d/bar-3d-transformer.ts
  packages/vchart/src/chart/bar/bar-transformer.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/box-plot/box-plot-transformer.ts
  packages/vchart/src/chart/cartesian/cartesian-transformer.ts
  packages/vchart/src/chart/circle-packing/circle-packing-transformer.ts
  packages/vchart/src/chart/correlation/correlation-transformer.ts
  packages/vchart/src/chart/funnel/funnel-transformer.ts
  packages/vchart/src/chart/gauge/gauge-transformer.ts
  packages/vchart/src/chart/heatmap/heatmap-transformer.ts
  packages/vchart/src/chart/histogram/base/histogram-base-transformer.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/chart/line/line-transformer.ts
  packages/vchart/src/chart/liquid/liquid-transformer.ts
  packages/vchart/src/chart/map/map-transformer.ts
  packages/vchart/src/chart/mosaic/mosaic-transformer.ts
  packages/vchart/src/chart/pictogram/pictogram-transformer.ts
  packages/vchart/src/chart/pie/base/pie-transformer.ts
  packages/vchart/src/chart/polar/polar-transformer.ts
  packages/vchart/src/chart/polar/progress-like/progress-like-transformer.ts
  packages/vchart/src/chart/polar/rose-like/rose-like-transformer.ts
  packages/vchart/src/chart/progress/circular/circular-progress-transformer.ts
  packages/vchart/src/chart/progress/linear/linear-progress-transformer.ts
  packages/vchart/src/chart/radar/radar-transformer.ts
  packages/vchart/src/chart/range-area/range-area-transformer.ts
  packages/vchart/src/chart/range-column/3d/range-column-3d-transformer.ts
  packages/vchart/src/chart/range-column/range-column-transformer.ts
  packages/vchart/src/chart/rose/rose-transformer.ts
  packages/vchart/src/chart/sankey/sankey-transformer.ts
  packages/vchart/src/chart/scatter/scatter-transformer.ts
  packages/vchart/src/chart/sunburst/sunburst-transformer.ts
  packages/vchart/src/chart/treemap/treemap-transformer.ts
  packages/vchart/src/chart/venn/venn-transformer.ts
  packages/vchart/src/chart/waterfall/waterfall-transformer.ts
  packages/vchart/src/chart/word-cloud/3d/word-cloud-3d-transformer.ts
  packages/vchart/src/chart/word-cloud/base/word-cloud-base-transformer.ts
  packages/vchart/src/chart/word-cloud/index.ts
  packages/vchart/src/chart/word-cloud/word-cloud-transformer.ts
  packages/vchart/src/chart/word-cloud/word-cloud.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart

#3613 Perf/bundle size opt
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/marker/mark-area/base-mark-area.ts
  packages/vchart/src/component/marker/mark-line/base-mark-line.ts
  packages/vchart/src/component/marker/mark-point/base-mark-point.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/treemap/treemap.ts
  packages/vchart/src/series/util/hierarchy.ts
  packages/vchart/src/theme/builtin/common/component/mark-area.ts
  packages/vchart/src/theme/builtin/common/component/mark-line.ts
  packages/vchart/src/theme/builtin/common/component/mark.ts
Labels: vchart

#3611 Fix: 3d label
  common/changes/@visactor/vchart/fix-3d-label_2024-12-25-08-49.json
  packages/vchart/src/mark/utils/common.ts
  packages/vchart/src/series/bar/bar-3d-transformer.ts
  packages/vchart/src/series/bar/bar-3d.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/pie/3d/pie-3d.ts
Labels: vchart, chore

#3616 Fix: 3d wordcloud rotate animation
  common/changes/@visactor/vchart/fix-3d-wordcloud-rotate-animation_2024-12-26-06-31.json
  docs/assets/examples/en/chart-3d/wordcloud3d.md
  docs/assets/examples/zh/chart-3d/wordcloud3d.md
  docs/assets/examples/zh/word-cloud-chart/word-cloud-shape-basis.md
  docs/assets/examples/zh/word-cloud-chart/word-cloud-shape-custom-color.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/3d_WordCloud.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/WordCloud.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/3d_WordCloud.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/WordCloud.md
  docs/public/vchart/preview/wordcloud3d_1.13.3.gif
  packages/vchart/src/series/word-cloud/animation.ts
Labels: vchart, chore, docs

#3621 Feat/package some hook in grammar
  common/changes/@visactor/vchart/feat-package-some-hook-in-grammar_2024-12-27-09-13.json
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, chore

#3628 Fix/miss dpr
  common/changes/@visactor/vchart/fix-miss-dpr_2024-12-31-08-54.json
  packages/vchart/src/compile/compiler.ts
Labels: vchart, chore
