Repository VisActor/VChart, pull requests merged in 2024-02, with the labels that each got.

#2180 Fix/multiple axis
  common/changes/@visactor/vchart/fix-multiple-axis_2024-01-30-10-04.json
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
  packages/vchart/src/component/axis/polar/axis.ts
Labels: vchart, chore

#2184 Fix/chart direction
  common/changes/@visactor/vchart/fix-chart-direction_2024-01-31-06-29.json
  packages/vchart/src/chart/box-plot/box-plot-transformer.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/box-plot/box-plot.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/series/waterfall/waterfall.ts
Labels: vchart, chore

#2198 Fix/data zoom span
  common/changes/@visactor/vchart/fix-data-zoom-span_2024-02-01-06-36.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
Labels: vchart, chore

#2203 Fix/react strict mode
  common/changes/@visactor/vchart/fix-react-strict-mode_2024-02-01-10-24.json
  packages/react-vchart/demo/src/main.tsx
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/react-vchart/src/components/BaseComponent.tsx
  packages/react-vchart/src/components/Mark.tsx
  packages/react-vchart/src/context/chart.tsx
  packages/react-vchart/src/series/BaseSeries.tsx
Labels: chore, react-vchart

#2202 Fix/block demo
  common/changes/@visactor/vchart/fix-block-demo_2024-02-01-08-59.json
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/block.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/mini-app/block.md
  packages/block-vchart/block/index.js
Labels: chore, block-vchart, docs

#2204 chore: add react lynx doc
  common/changes/@visactor/vchart/doc-env_2024-02-01-10-46.json
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react-lynx.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react-lynx.md
Labels: chore, docs

#2196 fix: bar label positin for inside-bottom/inside-top, closes #1957
  common/changes/@visactor/vchart/fix-bar-label-position_2024-01-31-08-35.json
  packages/vchart/src/component/label/util.ts
Labels: vchart, chore

#2189 fix: there is some offset in the position of the dom tooltip shape
  common/changes/@visactor/vchart/fix-tooltip-shape_2024-01-31-08-22.json
  packages/vchart/__tests__/runtime/browser/test-page/tooltip.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/style-constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/style.ts
Labels: vchart, chore

#2213 Fix/stack of multi axis
  common/changes/@visactor/vchart/fix-stack-of-multi-axis_2024-02-04-02-57.json
  packages/vchart/src/series/cartesian/cartesian.ts
Labels: vchart, chore

#2209 Fix/consistent type imports
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/correlation/correlation-transformer.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/data-zoom/util.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
  packages/vchart/src/component/title/title.ts
  packages/vchart/src/mark/group.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/correlation/correlation.ts
  packages/vchart/src/series/heatmap/heatmap.ts
  packages/vchart/src/series/line/constant.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-area/constant.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/series/range-column/range-column-transformer.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/series/word-cloud/word-cloud-3d.ts
  packages/vchart/src/theme/builtin/common/series/rangeColumn.ts
  packages/vchart/src/util/scale.ts
  packages/vchart/src/util/space.ts
  packages/vchart/src/util/spec/common.ts
  packages/vchart/src/util/spec/merge-theme.ts
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2231 Fix/mark area render error
  common/changes/@visactor/vchart/fix-mark-area-render-error_2024-02-06-06-40.json
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
Labels: vchart, chore

#2232 docs: update word cloud guide docs
  docs/assets/guide/en/tutorial_docs/Chart_Types/WordCloud.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/WordCloud.md
Labels: docs

#2235 chore: upgrade denpendency
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2244 fix: `startAngle` and `endAngle` is invalid in polar axis spec
  common/changes/@visactor/vchart/develop_2024-02-20-07-01.json
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/polar/util/common.ts
Labels: vchart, chore

#2246 Fix/docs0220
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip.md
  docs/public/vchart/guide/theme/0.png
Labels: docs

#2249 Sync/dev1.10.0
  common/changes/@visactor/vchart/develop_2024-02-20-07-01.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Concept_and_Design_Rules.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip.md
  docs/public/vchart/guide/theme/0.png
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/polar/util/common.ts
Labels: vchart, chore, docs

#2257 Fix/type error
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/line/interface.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, typescript

#2240 Feat/bar stack clip
  common/changes/@visactor/vchart/feat-bar-stack-clip_2024-02-18-12-35.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/bar-chart/stack-percentage-bar.md
  docs/assets/examples/zh/bar-chart/stack-percentage-bar.md
  docs/assets/option/en/series/bar-style.md
  docs/assets/option/zh/series/bar-style.md
  docs/public/vchart/preview/stack-percentage-bar_1.10.0.png
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/src/chart/bar/bar-transformer.ts
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/constant/index.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/bar/interface.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/util/data.ts
Labels: vchart, chore, typescript, docs

#2121 feat: support multi-label config in line/area/pie/rose/bar/radar/scat…
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/series/area/interface.ts
  packages/vchart/src/series/bar/interface.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/correlation/interface.ts
  packages/vchart/src/series/funnel/interface.ts
  packages/vchart/src/series/line/interface.ts
  packages/vchart/src/series/pie/3d/pie-3d.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie-transformer.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/radar/interface.ts
  packages/vchart/src/series/rose/interface.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/series/scatter/interface.ts
Labels: vchart, typescript

#2256 Feat/theme token
  common/changes/@visactor/vchart/feat-theme-token_2024-02-21-08-42.json
  docs/assets/option/en/common/theme.md
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/__tests__/unit/chart/bar.test.ts
  packages/vchart/__tests__/unit/chart/histogram.test.ts
  packages/vchart/__tests__/unit/chart/line.test.ts
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/chart/rangeColumn.test.ts
  packages/vchart/__tests__/unit/chart/treemap.test.ts
  packages/vchart/__tests__/unit/chart/word-cloud.test.ts
  packages/vchart/__tests__/unit/component/cartesian/axis/linear-axis.test.ts
  packages/vchart/__tests__/unit/data/fields.test.ts
  packages/vchart/__tests__/unit/morph/morph.test.ts
  packages/vchart/__tests__/unit/scale/global-scale.test.ts
  packages/vchart/src/component/poptip/interface.ts
  packages/vchart/src/component/title/interface/theme.ts
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/theme/builtin/common/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common/component/axis/common-axis.ts
  packages/vchart/src/theme/builtin/common/component/crosshair.ts
  packages/vchart/src/theme/builtin/common/component/data-zoom.ts
  packages/vchart/src/theme/builtin/common/component/indicator.ts
  packages/vchart/src/theme/builtin/common/component/legend/continuous.ts
  packages/vchart/src/theme/builtin/common/component/legend/discrete-legend.ts
  packages/vchart/src/theme/builtin/common/component/map-label.ts
  packages/vchart/src/theme/builtin/common/component/mark-area.ts
  packages/vchart/src/theme/builtin/common/component/mark-line.ts
  packages/vchart/src/theme/builtin/common/component/poptip.ts
  packages/vchart/src/theme/builtin/common/component/title.ts
  packages/vchart/src/theme/builtin/common/component/tooltip.ts
  packages/vchart/src/theme/builtin/common/component/total-label.ts
  packages/vchart/src/theme/builtin/common/mark.ts
  packages/vchart/src/theme/builtin/common/series/circle-packing.ts
  packages/vchart/src/theme/builtin/common/series/dot.ts
  packages/vchart/src/theme/builtin/common/series/funnel.ts
  packages/vchart/src/theme/builtin/common/series/funnel3d.ts
  packages/vchart/src/theme/builtin/common/series/map.ts
  packages/vchart/src/theme/builtin/common/series/sunburst.ts
  packages/vchart/src/theme/builtin/common/series/treemap.ts
  packages/vchart/src/theme/builtin/common/series/waterfall.ts
  packages/vchart/src/theme/builtin/index.ts
  packages/vchart/src/theme/builtin/light/index.ts
  packages/vchart/src/theme/interface.ts
  packages/vchart/src/theme/theme-manager.ts
  packages/vchart/src/theme/token/builtin/default.ts
  packages/vchart/src/theme/token/builtin/index.ts
  packages/vchart/src/theme/token/builtin/interface.ts
  packages/vchart/src/theme/token/index.ts
  packages/vchart/src/theme/token/interface.ts
  packages/vchart/src/theme/token/util.ts
  packages/vchart/src/typings/visual.ts
  packages/vchart/src/util/spec/common.ts
  packages/vchart/src/util/spec/index.ts
  packages/vchart/src/util/text.ts
  packages/vchart/src/util/theme/common.ts
  packages/vchart/src/util/theme/index.ts
  packages/vchart/src/util/theme/merge-theme.ts
  packages/vchart/src/util/theme/preprocess.ts
Labels: vchart, chore, typescript, react-vchart, docs

#2252 Fix/bar switch direction
  common/changes/@visactor/vchart/fix-bar-switch-direction_2024-02-21-07-04.json
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, chore

#2253 Fix/log axis invalid values
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/axis/cartesian/log-axis.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/data/transforms/dimension-statistics.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2265 fix: type error in word-cloud series
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart

#2264 Fix/marker filter
  common/changes/@visactor/vchart/fix-marker-filter_2024-02-23-08-05.json
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
Labels: vchart, chore

#2170 Fix/richtext issues
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/title/richText-title.md
  docs/assets/examples/zh/title/richText-title.md
  docs/assets/option/en/component/axis-common/axis-label.md
  docs/assets/option/en/component/axis-common/axis-title.md
  docs/assets/option/en/component/indicator/indicator-item.md
  docs/assets/option/en/component/label.md
  docs/assets/option/en/component/marker-common/marker-label.md
  docs/assets/option/en/component/title.md
  docs/assets/option/en/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/en/graphic/attribute.md
  docs/assets/option/zh/component/axis-common/axis-label.md
  docs/assets/option/zh/component/axis-common/axis-title.md
  docs/assets/option/zh/component/indicator/indicator-item.md
  docs/assets/option/zh/component/label.md
  docs/assets/option/zh/component/marker-common/marker-label.md
  docs/assets/option/zh/component/title.md
  docs/assets/option/zh/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/zh/graphic/attribute.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/indicator/interface.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/component/legend/discrete/interface.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/interface/theme.ts
  packages/vchart/src/component/marker/mark-area/mark-area.ts
  packages/vchart/src/component/marker/mark-line/interface/theme.ts
  packages/vchart/src/component/marker/mark-line/mark-line.ts
  packages/vchart/src/component/marker/mark-point/interface/theme.ts
  packages/vchart/src/component/marker/mark-point/mark-point.ts
  packages/vchart/src/component/title/interface/spec.ts
  packages/vchart/src/mark/label.ts
  packages/vchart/src/mark/text.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/dot/interface.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/funnel/interface.ts
  packages/vchart/src/series/line/interface.ts
  packages/vchart/src/series/map/interface.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/range-column/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/treemap/interface.ts
  packages/vchart/src/series/treemap/treemap.ts
  packages/vchart/src/series/word-cloud/interface.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/tooltip/line.ts
  packages/vchart/src/typings/visual.ts
  packages/vmind/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs

#2266 docs: update combination example code
  docs/assets/guide/en/tutorial_docs/Chart_Types/Combination.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Combination.md
Labels: docs

#2274 Fix/fix active point of dual line chart
  common/changes/@visactor/vchart/fix-fix-active-point-of-dual-line-chart_2024-02-26-08-17.json
  packages/vchart/src/interaction/dimension-trigger.ts
  packages/vchart/src/series/mixin/line-mixin.ts
Labels: vchart, chore

#2277 Fix/fix sort data by axis not work in combination
  common/changes/@visactor/vchart/fix-fix-sortDataByAxis-not-work-in-combination_2024-02-26-10-05.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/util/utils.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2280 Fix/issue 2276
  common/changes/@visactor/vchart/fix-issue-2276_2024-02-27-03-09.json
  packages/vchart/__tests__/unit/core/vchart.test.ts
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/event/event-dispatcher.ts
Labels: vchart, chore

#2282 Fix/tooltip
  packages/vchart/src/component/legend/discrete/interface.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
Labels: vchart, typescript

#2286 fix: duplicated execution of sereis onLayoutEnd
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart

#2284 fix: dimension tooltip from multi-dimensionInfo
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/event/events/dimension/util/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/compose.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/get-spec.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/typings/tooltip/position.ts
Labels: vchart

#2290 Fix/resize observer
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/react-vchart/src/containers/withContainer.tsx
  packages/vchart/package.json
  packages/vchart/src/core/vchart.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2278 Feat/auto band size
  common/changes/@visactor/vchart/feat-auto-band-size_2024-02-26-10-58.json
  docs/assets/option/en/chart/bar.md
  docs/assets/option/zh/chart/bar.md
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/src/chart/bar/bar-transformer.ts
  packages/vchart/src/chart/bar/interface.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/cartesian/cartesian-transformer.ts
  packages/vchart/src/chart/polar/polar-transformer.ts
  packages/vchart/src/component/axis/cartesian/band-axis.ts
  packages/vchart/src/component/axis/cartesian/interface/spec.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/series/bar/bar-3d.ts
Labels: vchart, chore, typescript, docs

#2302 fix: fix `barGapInGroup` when has multiple bar series, fix #2301
  packages/vchart/src/series/bar/bar.ts
Labels: vchart

#2299 Fix/spec info
  common/config/rush/pnpm-lock.yaml
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/util.ts
Labels: vchart, chore

#2296 Fix/treemap dataflow
  packages/vchart/src/data/transforms/treemap.ts
  packages/vchart/src/series/treemap/treemap.ts
Labels: vchart

#2295 Feat/waterfall support split total
  common/changes/@visactor/vchart/feat-waterfall-support-split-total_2024-02-28-09-13.json
  packages/vchart/src/data/transforms/waterfall.ts
Labels: vchart, chore

#2289 fix: setSelected state will not clear when selecting another element
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/interaction/interaction.ts
  packages/vchart/src/interaction/interface.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, typescript
