Repository VisActor/VChart, pull requests merged in 2024-04, with the labels that each got.

#2509 fix: fix typo from gird to grid
  docs/assets/examples/en/axis/axis-sync.md
  docs/assets/examples/en/combination/dual-axis.md
  docs/assets/examples/en/interaction/element-active.md
  docs/assets/examples/en/interaction/highlight-by-legend.md
  docs/assets/examples/en/line-chart/line-sampling.md
  docs/assets/examples/zh/axis/axis-sync.md
  docs/assets/examples/zh/combination/dual-axis.md
  docs/assets/examples/zh/interaction/element-active.md
  docs/assets/examples/zh/interaction/highlight-by-legend.md
  docs/assets/examples/zh/line-chart/line-sampling.md
  docs/assets/faq/en/18-How to configure the range of the axis.md
  docs/assets/faq/en/31-How to implement a combination of line chart and stacked bar chart.md
  docs/assets/faq/en/47-How to configure the axis scale alignment of a two-axis graph.md
  docs/assets/faq/en/61-How to Customize Colors for Different Series in Dual-Axis Chart.md
  docs/assets/faq/zh/18-How to configure the range of the axis.md
  docs/assets/faq/zh/31-How to implement a combination of line chart and stacked bar chart.md
  docs/assets/faq/zh/47-How to configure the axis scale alignment of a two-axis graph.md
  docs/assets/faq/zh/61-How to Customize Colors for Different Series in Dual-Axis Chart.md
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Axes.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/Combination.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/Histogram.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Axes.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Combination.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Histogram.md
  packages/lark-vchart/gallery/data/dual-axis.js
  packages/taro-vchart/gallery/data/dual-axis.js
  packages/tt-vchart/gallery/data/dual-axis.js
  packages/vchart-types/types/layout/grid-layout/grid-layout.d.ts
  packages/vchart/__tests__/unit/core/vchart.test.ts
  packages/vchart/src/layout/grid-layout/grid-layout.ts
  packages/wx-vchart/miniprogram/pages/gallery/data/dual-axis.js
Labels: vchart, taro-vchart, lark-vchart, tt-vchart, docs, vchart-types

#2494 fix: redundant label component create
  packages/vchart/src/component/label/label.ts
Labels: vchart

#2487 Fix/register issues
  docs/assets/guide/en/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/en/tutorial_docs/Load_on_Demand.md
  docs/assets/guide/zh/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/zh/tutorial_docs/Load_on_Demand.md
  packages/vchart/src/chart/index.ts
  packages/vchart/src/chart/sequence/sequence.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/mark/index.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/bar/bar-3d.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/box-plot/box-plot.ts
  packages/vchart/src/series/gauge/gauge-pointer.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/heatmap/heatmap.ts
  packages/vchart/src/series/line/line.ts
  packages/vchart/src/series/link/link.ts
  packages/vchart/src/series/progress/circular/circular.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/series/range-column/3d/range-column-3d.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/vchart-all.ts
Labels: vchart, docs

#2489 Fix/bug of stack sort 1517
  common/changes/@visactor/vchart/fix-bug-of-stack-sort-1517_2024-03-28-07-19.json
  common/changes/@visactor/vchart/fix-bug-of-stack-sort-1517_2024-04-02-04-07.json
  docs/assets/option/en/common/region.md
  docs/assets/option/zh/common/region.md
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/region/interface.ts
  packages/vchart/src/region/region.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/util/stack.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/util/data.ts
Labels: vchart, chore, typescript, docs

#2513 refactor: move spec processing method to vutils-extension
  common/config/rush/pnpm-lock.yaml
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/cartesian/cartesian-transformer.ts
  packages/vchart/src/chart/common/common-transformer.ts
  packages/vchart/src/chart/polar/progress-like/progress-like-transformer.ts
  packages/vchart/src/chart/radar/radar-transformer.ts
  packages/vchart/src/chart/rose/rose-transformer.ts
  packages/vchart/src/chart/util.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/util.ts
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/crosshair/utils/common.ts
  packages/vchart/src/component/crosshair/utils/polar.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom-transformer.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/util.ts
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/legend/base-legend.ts
  packages/vchart/src/component/legend/continuous/util.ts
  packages/vchart/src/component/legend/discrete/util.ts
  packages/vchart/src/component/legend/util.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/model/base-model-transformer.ts
  packages/vchart/src/plugin/chart/media-query/media-query.ts
  packages/vchart/src/plugin/chart/media-query/util/action.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/title-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/get-spec.ts
  packages/vchart/src/series/area/area-transformer.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/dot/dot.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/pie/pie-transformer.ts
  packages/vchart/src/util/index.ts
  packages/vchart/src/util/spec/index.ts
  packages/vchart/src/util/spec/transform.ts
  packages/vchart/src/util/theme/merge-theme.ts
  packages/vutils-extension/package.json
  packages/vutils-extension/src/index.ts
  packages/vutils-extension/src/spec/clone-deep.ts
  packages/vutils-extension/src/spec/common.ts
  packages/vutils-extension/src/spec/index.ts
  packages/vutils-extension/src/spec/merge-spec.ts
Labels: vchart, chore

#2515 Fix/crosshair label
  common/changes/@visactor/vchart/fix-crosshair-label_2024-04-01-12-03.json
  common/changes/@visactor/vchart/fix-crosshair-label_2024-04-01-12-04.json
  common/config/rush/pnpm-lock.yaml
  packages/vchart/src/component/axis/cartesian/interface/common.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/interface/cartesian.ts
  packages/vchart/src/component/crosshair/interface/polar.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
  packages/vchart/src/component/crosshair/utils/polar.ts
Labels: vchart, chore

#2493 fix: axis title in wrong position when hiding the axis line
  common/changes/@visactor/vchart/fix-axis-unit-location_2024-04-02-08-14.json
  packages/vchart/src/component/axis/cartesian/axis.ts
Labels: vchart, chore

#2517 Refactor/lifecycle events
  common/changes/@visactor/vchart/refactor-lifecycle-events_2024-04-02-04-03.json
  docs/assets/api/en/API/event.md
  docs/assets/api/zh/API/event.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/region/region.ts
Labels: vchart, chore, typescript, docs

#2518 Feat/api get scale
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart, typescript, docs

#2522 Fix/update data
  common/changes/@visactor/vchart/fix-update-data_2024-04-02-12-19.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/legend/base-legend.ts
  packages/vchart/src/component/legend/discrete/legend.ts
Labels: vchart, chore

#2537 fix: update zh/release.md
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

#2536 Fix/scroll axis label
  common/changes/@visactor/vchart/fix-scroll-axis-label_2024-04-07-16-35.json
  common/changes/@visactor/vchart/fix-scrollbar-event_2024-04-03-06-45.json
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
Labels: vchart, chore

#2530 refactor: remove-simplify-data-transform
  common/changes/@visactor/vchart/refactor-remove-simplify-data-transform_2024-04-03-10-14.json
  common/changes/@visactor/vchart/refactor-remove-simplify-data-transform_2024-04-03-10-15.json
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  docs/assets/option/en/common/data.md
  docs/assets/option/zh/common/data.md
  packages/vchart/src/core/factory.ts
  packages/vchart/src/series/map/geo-source.ts
Labels: vchart, chore, docs

#2543 fix(tick): zero layout should run after tick update
  packages/vchart/src/component/axis/cartesian/axis.ts
Labels: vchart

#2545 Feat/player visible false
  common/changes/@visactor/vchart/feat-player-visible-false_2024-04-10-11-52.json
  packages/vchart/src/component/player/player.ts
  packages/vchart/src/component/player/utils/transform.ts
Labels: enhancement, vchart, chore

#2548 feat: add tgi bar demo
  docs/assets/examples/en/bar-chart/tgi-bar.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/bar-chart/tgi-bar.md
  docs/public/vchart/preview/tgi-bar_1.10.5.png
Labels: docs

#2485 feat: add new properties `tooltipSpec` and `tooltipActual` to tooltip event params
  common/changes/@visactor/vchart/feat-tooltip-actual_2024-03-27-16-09.json
  common/changes/@visactor/vchart/feat-tooltip-actual_2024-04-12-08-58.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/src/component/tooltip/constant.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/compose.ts
  packages/vchart/src/component/tooltip/utils/get-spec.ts
  packages/vchart/src/component/tooltip/utils/get-value.ts
  packages/vchart/src/component/tooltip/utils/index.ts
  packages/vchart/src/component/tooltip/utils/pattern.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/index.ts
  packages/vchart/src/typings/tooltip/tooltip.ts
Labels: vchart, chore, docs

#2553 fix: fix eventsBinded update in react-vchart
  common/changes/@visactor/vchart/fix-react-eventsBinded_2024-04-15-03-47.json
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: chore, react-vchart

#2551 Fix/set theme error
  common/changes/@visactor/vchart/fix-set-theme-error_2024-04-12-06-08.json
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#2479 Fix/remake of same spec
  common/changes/@visactor/vchart/fix-remake-of-same-spec_2024-03-27-03-53.json
  packages/vchart/__tests__/util/factory/compiler.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/chart/util.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/legend/base-legend.ts
  packages/vchart/src/component/legend/discrete/util.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/plugin/base/base-plugin-service.ts
  packages/vchart/src/plugin/base/interface.ts
  packages/vchart/src/plugin/components/axis-sync/zero-align-transform.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/polar/polar.ts
Labels: vchart, chore, typescript, react-vchart, docs

#2495 Feat/group tooltip
  docs/assets/examples/en/tooltip/bar-group-tooltip.md
  docs/assets/examples/en/tooltip/line-group-tooltip.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/tooltip/bar-group-tooltip.md
  docs/assets/examples/zh/tooltip/line-group-tooltip.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip.md
  docs/public/vchart/preview/bar-group-tooltip_1.11.0.png
  packages/vchart/__tests__/runtime/browser/test-page/area.ts
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/__tests__/runtime/browser/test-page/group.ts
  packages/vchart/__tests__/unit/series/funnel.test.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/component/tooltip/processor/group-tooltip.ts
  packages/vchart/src/component/tooltip/processor/index.ts
  packages/vchart/src/component/tooltip/processor/interface.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/common.ts
  packages/vchart/src/component/tooltip/utils/compose.ts
  packages/vchart/src/component/tooltip/utils/get-spec.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/model/tooltip-helper.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/tooltip-helper.ts
  packages/vchart/src/series/box-plot/tooltip-helper.ts
  packages/vchart/src/series/circle-packing/tooltip-helper.ts
  packages/vchart/src/series/dot/tooltip-helper.ts
  packages/vchart/src/series/funnel/tooltip-helper.ts
  packages/vchart/src/series/interface/tooltip-helper.ts
  packages/vchart/src/series/line/line.ts
  packages/vchart/src/series/link/tooltip-helper.ts
  packages/vchart/src/series/liquid/tooltip-helper.ts
  packages/vchart/src/series/map/tooltip-helper.ts
  packages/vchart/src/series/progress/linear/tooltip-helper.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-area/tooltip-helper.ts
  packages/vchart/src/series/range-column/tooltip-helper.ts
  packages/vchart/src/series/sankey/tooltip-helper.ts
  packages/vchart/src/series/sunburst/tooltip-helper.ts
  packages/vchart/src/series/treemap/tooltip-helper.ts
  packages/vchart/src/typings/tooltip/handler.ts
  packages/vchart/src/typings/tooltip/tooltip.ts
Labels: vchart, typescript, docs

#2563 fix(datazoom): when drag start and end handler outside, min and max s…
  common/changes/@visactor/vchart/develop_2024-04-18-03-55.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
Labels: vchart, chore

#2547 Feat/custom mark layout
  docs/assets/option/en/common/custom-mark-base.md
  docs/assets/option/en/common/custom-mark.md
  docs/assets/option/zh/common/custom-mark.md
  packages/react-vchart/demo/src/App.tsx
  packages/react-vchart/demo/src/Switch.tsx
  packages/react-vchart/demo/vite.config.ts
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/layout/base-layout.ts
  packages/vchart/src/layout/layout-item.ts
  packages/vchart/src/model/layout-model.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, react-vchart, docs

#2556 Feat/soft min max
  common/changes/@visactor/vchart/feat-soft-min-max_2024-04-15-05-24.json
  docs/assets/option/en/component/axis-common/linear-axis.md
  docs/assets/option/zh/component/axis-common/linear-axis.md
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
Labels: vchart, chore, docs

#2565 Feat/keep legend unselected
  common/changes/@visactor/vchart/feat-keep-legend-unselected_2024-04-18-07-57.json
  packages/vchart/src/component/legend/discrete/legend.ts
Labels: vchart, chore

#2575 Perf/pie chart performance
  common/changes/@visactor/vchart/perf-pie-chart-performance_2024-04-22-07-28.json
  packages/vchart/src/data/transforms/pie.ts
  packages/vchart/src/util/math.ts
Labels: vchart, chore

#2570 Fix/invalid type of band scatter
  common/changes/@visactor/vchart/fix-invalid-type-of-band-scatter_2024-04-19-10-20.json
  packages/vchart/src/data/transforms/invalid-travel.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/range-area/range-area.ts
Labels: vchart, chore

#2566 Feat/react data update
  common/changes/@visactor/vchart/feat-react-data-update_2024-04-18-06-41.json
  packages/react-vchart/src/VChart.tsx
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/vchart/src/core/interface.ts
Labels: vchart, chore, typescript, react-vchart

#2561 Feat/venn
  common/changes/@visactor/vchart/feat-venn_2024-04-19-05-04.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/venn-chart/venn-chart-hollow.md
  docs/assets/examples/en/venn-chart/venn-chart.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/venn-chart/venn-chart-hollow.md
  docs/assets/examples/zh/venn-chart/venn-chart.md
  docs/assets/option/en/chart/venn.md
  docs/assets/option/en/option.md
  docs/assets/option/en/series/venn.md
  docs/assets/option/zh/chart/venn.md
  docs/assets/option/zh/option.md
  docs/assets/option/zh/series/venn.md
  docs/package.json
  docs/public/vchart/preview/venn-chart-hollow_1.11.0.png
  docs/public/vchart/preview/venn-chart_1.11.0.png
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/__tests__/runtime/browser/test-page/venn.ts
  packages/vchart/package.json
  packages/vchart/src/chart/index.ts
  packages/vchart/src/chart/interface/type.ts
  packages/vchart/src/chart/treemap/treemap-transformer.ts
  packages/vchart/src/chart/venn/index.ts
  packages/vchart/src/chart/venn/interface.ts
  packages/vchart/src/chart/venn/venn-transformer.ts
  packages/vchart/src/chart/venn/venn.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/component/legend/base-legend.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/data/transforms/legend-data/discrete/discrete.ts
  packages/vchart/src/data/transforms/legend-data/discrete/interface.ts
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/base/tooltip-helper.ts
  packages/vchart/src/series/box-plot/tooltip-helper.ts
  packages/vchart/src/series/dot/tooltip-helper.ts
  packages/vchart/src/series/index.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/interface/theme.ts
  packages/vchart/src/series/interface/tooltip-helper.ts
  packages/vchart/src/series/interface/type.ts
  packages/vchart/src/series/link/tooltip-helper.ts
  packages/vchart/src/series/range-area/tooltip-helper.ts
  packages/vchart/src/series/range-column/tooltip-helper.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sankey/tooltip-helper.ts
  packages/vchart/src/series/venn/animation.ts
  packages/vchart/src/series/venn/constant.ts
  packages/vchart/src/series/venn/interface.ts
  packages/vchart/src/series/venn/tooltip-helper.ts
  packages/vchart/src/series/venn/util.ts
  packages/vchart/src/series/venn/venn-transform.ts
  packages/vchart/src/series/venn/venn.ts
  packages/vchart/src/theme/builtin/common/series/index.ts
  packages/vchart/src/theme/builtin/common/series/venn.ts
  packages/vchart/src/vchart-all.ts
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#2588 fix: upgrade vrender 0.18.8 to 0.18.14, vgrammar 0.12.8 to 0.12.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2589 Fix/continuous legend domain
  common/changes/@visactor/vchart/fix-continuous-legend-domain_2024-04-25-02-32.json
  docs/assets/examples/en/legend/discrete-legend-scale.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/legend/discrete-legend-scale.md
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/zh/component/legend-discrete.md
  docs/public/vchart/preview/legend-discrete-legend-scale_1.10.4.png
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/component/legend/discrete/interface.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/data/transforms/legend-data/continuous/continuous.ts
Labels: vchart, chore, typescript, docs

#2592 docs: update docs of event api
  docs/assets/api/en/API/event.md
  docs/assets/api/zh/API/event.md
Labels: docs

#2598 feat: add bubble circle packing demo
  docs/assets/examples/en/circle-packing-chart/bubble-circle-packing.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/circle-packing-chart/bubble-circle-packing.md
  docs/public/vchart/preview/bubble-circle-packing.png
Labels: docs

#2608 fix: no need to encode mark to group state in funnel
  common/changes/@visactor/vchart/fix-funnel-noSeparateStyle_2024-04-28-11-13.json
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/interface/common.ts
Labels: vchart, chore

#2612 Feat/vstory refactor
  packages/vstory/demo/src/App.tsx
  packages/vstory/demo/src/demos/AppearBar.tsx
  packages/vstory/demo/src/demos/AppearLine.tsx
  packages/vstory/demo/src/demos/AppearPie.tsx
  packages/vstory/demo/src/demos/StoryScene.tsx
  packages/vstory/demo/src/demos/VchartSite.tsx
  packages/vstory/src/story/factory/factory.ts
  packages/vstory/src/story/index.ts
  packages/vstory/src/story/player/index.ts
  packages/vstory/src/story/role/base/base.ts
  packages/vstory/src/story/role/chart/graphic/vchart-graphic.ts
  packages/vstory/src/story/role/chart/role.ts
  packages/vstory/src/story/role/chart/roles/area.ts
  packages/vstory/src/story/role/chart/roles/bar.ts
  packages/vstory/src/story/role/chart/roles/line.ts
  packages/vstory/src/story/role/chart/roles/pie.ts
  packages/vstory/src/story/role/chart/roles/rangeColumn.ts
  packages/vstory/src/story/role/chart/roles/scatter.ts
  packages/vstory/src/story/role/chart/runtime/common-spec.ts
  packages/vstory/src/story/role/chart/runtime/component-spec.ts
  packages/vstory/src/story/role/chart/runtime/interface.ts
  packages/vstory/src/story/role/chart/runtime/series-spec.ts
  packages/vstory/src/story/role/chart/runtime/utils.ts
  packages/vstory/src/story/role/chart/spec-process/spec-process.ts
  packages/vstory/src/story/role/chart/temp/constant.ts
  packages/vstory/src/story/role/chart/temp/index.ts
  packages/vstory/src/story/role/chart/temp/interface.ts
  packages/vstory/src/story/role/chart/temp/templates/area-percent.ts
  packages/vstory/src/story/role/chart/temp/templates/area.ts
  packages/vstory/src/story/role/chart/temp/templates/bar-group.ts
  packages/vstory/src/story/role/chart/temp/templates/bar-percent.ts
  packages/vstory/src/story/role/chart/temp/templates/bar.ts
  packages/vstory/src/story/role/chart/temp/templates/base-temp.ts
  packages/vstory/src/story/role/chart/temp/templates/cartesian-single.ts
  packages/vstory/src/story/role/chart/temp/templates/common.ts
  packages/vstory/src/story/role/chart/temp/templates/dual-axis.ts
  packages/vstory/src/story/role/chart/temp/templates/horizontal-bar-group.ts
  packages/vstory/src/story/role/chart/temp/templates/horizontal-bar-percent.ts
  packages/vstory/src/story/role/chart/temp/templates/horizontal-bar.ts
  packages/vstory/src/story/role/chart/temp/templates/pie.ts
  packages/vstory/src/story/role/chart/temp/templates/rangeColumn.ts
  packages/vstory/src/story/role/chart/temp/templates/scatter.ts
  packages/vstory/src/story/role/dsl-interface.ts
  packages/vstory/src/story/role/runtime-interface.ts
  packages/vstory/src/story/role/visactor/data-temp-transform-base.ts
  packages/vstory/src/story/role/visactor/interface.ts
  packages/vstory/src/story/role/visactor/role.ts
  packages/vstory/src/story/role/visactor/spec-process-base.ts
Labels: typescript

#2611 Fix/crosshair marker position
  common/changes/@visactor/vchart/develop_2024-04-29-08-40.json
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/marker/utils.ts
Labels: vchart, chore

#2604 feat: upadte interface of legend
  docs/assets/option/en/component/legend-common/continuous-legend.md
  docs/assets/option/zh/component/legend-common/continuous-legend.md
  packages/vchart/src/component/legend/continuous/interface.ts
Labels: vchart, typescript, docs
