Repository VisActor/VChart, pull requests merged in 2024-03, with the labels that each got.

#2306 Feat/extension mark data key
  common/changes/@visactor/vchart/feat-extension-mark-data-key_2024-02-29-11-07.json
  docs/assets/option/en/common/custom-mark-base.md
  docs/assets/option/zh/common/custom-mark-base.md
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, chore, docs

#2304 fix: add lineWidth in label common theme
  packages/vchart/src/theme/builtin/common/series/box-plot.ts
  packages/vchart/src/theme/builtin/common/series/rangeColumn.ts
  packages/vchart/src/theme/builtin/common/series/waterfall.ts
Labels: vchart

#2307 refactor: consolidating duplicate axis code
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
Labels: vchart, typescript

#2310 Fix/export plugin
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx-simple.ts
  packages/vchart/src/index-wx.ts
  packages/vchart/src/index.ts
  packages/vchart/src/plugin/components/index.ts
  packages/vchart/src/plugin/index.ts
  packages/vchart/src/vchart-all.ts
  packages/vchart/src/vchart-simple.ts
Labels: vchart

#2275 Fix/react series event call
  common/changes/@visactor/vchart/fix-react-series-event-call_2024-02-26-09-44.json
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/react-vchart/src/series/BaseSeries.tsx
Labels: chore, react-vchart

#2312 fix: `animationAppear: false` not work
  common/changes/@visactor/vchart/fix-animationAppear-false-not-work_2024-03-01-06-20.json
  packages/vchart/src/animation/utils.ts
Labels: vchart, chore

#2236 feat: formatter plugin
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/__tests__/runtime/browser/test-page/formatter.ts
  packages/vchart/package.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/cartesian/util/index.ts
  packages/vchart/src/component/axis/cartesian/util/time.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/component/legend/discrete/interface.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/component/util.ts
  packages/vchart/src/core/factory.ts
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx-simple.ts
  packages/vchart/src/plugin/chart/formatter/formatter.ts
  packages/vchart/src/plugin/chart/formatter/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/compose.ts
  packages/vchart/src/series/base/tooltip-helper.ts
  packages/vchart/src/series/dot/tooltip-helper.ts
  packages/vchart/src/series/link/tooltip-helper.ts
  packages/vchart/src/series/word-cloud/interface.ts
  packages/vchart/src/typings/tooltip/line.ts
  packages/vchart/src/util/index.ts
  packages/vchart/src/vchart-all.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs

#2314 docs: supply load-on-demand document
  docs/assets/guide/en/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/en/tutorial_docs/Load_on_Demand.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/zh/tutorial_docs/Load_on_Demand.md
Labels: docs

#2283 feat: remove progressArc
  common/changes/@visactor/vchart/fix-arc-padding_2024-03-01-12-22.json
  common/changes/@visactor/vchart/fix-arc-padding_2024-03-01-12-27.json
  packages/vchart/__tests__/runtime/browser/test-page/circular-progress.ts
  packages/vchart/src/chart/progress/circular/circular-progress-transformer.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/mark/arc.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/index.ts
  packages/vchart/src/mark/interface/type.ts
  packages/vchart/src/mark/progress-arc.ts
  packages/vchart/src/series/gauge/constant.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/gauge/interface.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/series/progress/circular/circular.ts
  packages/vchart/src/series/progress/circular/constant.ts
  packages/vchart/src/series/progress/circular/interface.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/visual.ts
Labels: vchart, chore, typescript

#2293 Feat/taro vchart issues
  packages/taro-vchart/gallery/pages/chart/index.tsx
  packages/taro-vchart/gallery/pages/chart/vchart.ts
  packages/taro-vchart/src/chart/index.ts
  packages/taro-vchart/src/components/general-chart/index.tsx
  packages/taro-vchart/src/components/web-chart/index.tsx
  packages/taro-vchart/src/index.tsx
  packages/taro-vchart/src/simple.tsx
  packages/taro-vchart/src/typings/IChartProps.ts
  packages/taro-vchart/src/typings/IVChart.ts
  packages/taro-vchart/src/typings/index.ts
  packages/taro-vchart/src/utils/tt-canvas/index.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart, taro-vchart

#2319 Sync/develop dev 1.10.0
  common/changes/@visactor/vchart/feat-extension-mark-data-key_2024-02-29-11-07.json
  common/changes/@visactor/vchart/fix-animationAppear-false-not-work_2024-03-01-06-20.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/guide/en/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/en/tutorial_docs/Load_on_Demand.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Basic/How_to_Import_VChart.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/zh/tutorial_docs/Load_on_Demand.md
  docs/assets/option/en/common/custom-mark-base.md
  docs/assets/option/zh/common/custom-mark-base.md
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-types/package.json
  packages/vchart-types/types/chart/base/util.d.ts
  packages/vchart-types/types/component/axis/base-axis.d.ts
  packages/vchart-types/types/component/axis/cartesian/axis.d.ts
  packages/vchart-types/types/component/axis/polar/axis.d.ts
  packages/vchart-types/types/interaction/interaction.d.ts
  packages/vchart-types/types/interaction/interface.d.ts
  packages/vchart-types/types/series/base/base-series.d.ts
  packages/vchart-types/types/series/interface/common.d.ts
  packages/vchart-types/types/typings/spec/common.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/theme/builtin/common/series/box-plot.ts
  packages/vchart/src/theme/builtin/common/series/rangeColumn.ts
  packages/vchart/src/theme/builtin/common/series/waterfall.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types

#2321 Fix/import path
  packages/vchart/__tests__/util/factory/chart.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/component/player/interface/theme.ts
  packages/vchart/src/component/player/utils/transform.ts
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/data/initialize.ts
Labels: vchart, chore, typescript, react-vchart, taro-vchart, docs

#2322 Fix/fix mark compute attribute style is in valid
  common/changes/@visactor/vchart/fix-fix-mark-computeAttribute-style-is-inValid_2024-03-04-12-13.json
  packages/vchart/src/mark/base/base-mark.ts
Labels: vchart, chore

#2297 Feat/tooltip shape
  .github/workflows/unit-test.yml
  common/changes/@visactor/vchart/feat-tooltip-shape_2024-02-28-10-18.json
  docs/assets/option/en/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/en/component/tooltip-common/tooltip-shape-pattern.md
  docs/assets/option/en/component/tooltip-common/tooltip-theme.md
  docs/assets/option/zh/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-shape-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-theme.md
  packages/vchart/package.json
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/compose.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/get-spec.ts
  packages/vchart/src/theme/builtin/common/mark.ts
  packages/vchart/src/typings/tooltip/shape.ts
Labels: vchart, chore, docs

#2261 Feat/tooltip pin
  common/changes/@visactor/vchart/feat-tooltip-pin_2024-03-04-09-21.json
  docs/assets/examples/en/tooltip/custom-tooltip.md
  docs/assets/examples/zh/tooltip/custom-tooltip.md
  docs/assets/option/en/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/en/component/tooltip-common/tooltip-position-fixed-mode.md
  docs/assets/option/en/component/tooltip-common/tooltip-position-fixed-type.md
  docs/assets/option/en/component/tooltip-common/tooltip-position-fixed.md
  docs/assets/option/zh/component/tooltip-common/tooltip-pattern.md
  docs/assets/option/zh/component/tooltip-common/tooltip-position-fixed-mode.md
  docs/assets/option/zh/component/tooltip-common/tooltip-position-fixed-type.md
  docs/assets/option/zh/component/tooltip-common/tooltip-position-fixed.md
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/interface/common.ts
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/config.ts
  packages/vchart/src/component/crosshair/interface/cartesian.ts
  packages/vchart/src/component/crosshair/interface/common.ts
  packages/vchart/src/component/crosshair/interface/index.ts
  packages/vchart/src/component/crosshair/interface/polar.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
  packages/vchart/src/component/crosshair/utils/common.ts
  packages/vchart/src/component/crosshair/utils/index.ts
  packages/vchart/src/component/crosshair/utils/polar.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/processor/dimension-tooltip.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/event/events/dimension/interface.ts
  packages/vchart/src/event/events/dimension/util/cartesian.ts
  packages/vchart/src/event/events/dimension/util/polar.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/typings/tooltip/position.ts
Labels: vchart, chore, typescript, docs

#2323 Feat/react tooltip
  common/changes/@visactor/vchart/feat-react-tooltip_2024-03-04-17-21.json
  common/changes/@visactor/vchart/feat-react-tooltip_2024-03-05-15-09.json
  docs/assets/option/en/component/label.md
  docs/assets/option/zh/component/label.md
  packages/react-vchart/demo/src/App.tsx
  packages/react-vchart/demo/src/index.css
  packages/react-vchart/src/VChart.tsx
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/react-vchart/src/components/Tooltip.tsx
  packages/react-vchart/src/components/index.ts
  packages/react-vchart/src/components/tooltip/Tooltip.tsx
  packages/react-vchart/src/components/tooltip/constant.ts
  packages/react-vchart/src/components/tooltip/index.ts
  packages/react-vchart/src/components/tooltip/interface.ts
  packages/react-vchart/src/components/tooltip/util.tsx
  packages/vchart/src/component/index.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/interface/event.ts
  packages/vchart/src/component/tooltip/interface/index.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/processor/dimension-tooltip.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/core/index.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/base-tooltip-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/common.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/compose.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/get-spec.ts
  packages/vchart/src/series/base/tooltip-helper.ts
  packages/vchart/src/series/dot/tooltip-helper.ts
  packages/vchart/src/series/range-area/tooltip-helper.ts
  packages/vchart/src/series/sankey/tooltip-helper.ts
  packages/vchart/src/typings/tooltip/line.ts
  packages/vchart/src/typings/tooltip/tooltip.ts
Labels: vchart, chore, typescript, react-vchart, docs

#2326 feat: the theme of the legend supports separate configuration of diff…
  common/changes/@visactor/vchart/feat-legend-theme_2024-03-05-13-24.json
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
  packages/vchart/src/component/data-zoom/scroll-bar/interface.ts
  packages/vchart/src/component/data-zoom/util.ts
  packages/vchart/src/component/interface/theme.ts
  packages/vchart/src/component/legend/continuous/interface.ts
  packages/vchart/src/component/legend/discrete/interface.ts
  packages/vchart/src/component/legend/util.ts
Labels: vchart, chore, typescript

#2325 Feat/legend scroller align
  common/changes/@visactor/vchart/feat-legend-scroller-align_2024-03-05-06-06.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/legend/scrollbar.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/legend/scrollbar.md
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/zh/component/legend-discrete.md
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/legend/discrete/interface.ts
  packages/vchart/src/component/legend/discrete/util.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs

#2329 fix: optional type defination in geojsonOption
  packages/vchart/src/series/map/geo-source.ts
Labels: vchart

#2328 fix: fix the error in custom tooltip handler in big-screen
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart

#2341 Fix/issue 2336
  common/changes/@visactor/vchart/fix-issue-2336_2024-03-07-02-52.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/label/label.ts
Labels: vchart, chore

#2332 Feat/stack theme
  common/changes/@visactor/vchart/feat-stack-theme_2024-03-06-13-31.json
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/interface/theme.ts
Labels: vchart, chore

#2344 fix: optimize the performance of dimension-trigger
  packages/vchart/src/interaction/dimension-trigger.ts
Labels: vchart

#2349 fix(scrollbar): scrollbar not work because of api change
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
Labels: vchart

#2345 Fix/label event trigger
  common/changes/@visactor/vchart/fix-label-event-trigger_2024-03-07-08-13.json
  packages/vchart/__tests__/unit/core/vchart-event.test.ts
  packages/vchart/__tests__/unit/core/vchart.test.ts
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/event/interface.ts
Labels: vchart, chore, typescript

#2350 fix: recover overridded code
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart

#2351 Fix/upgrade vrender 0.17.27
  common/changes/@visactor/vchart/fix-upgrade-vrender-0.17.27_2024-03-08-03-10.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2357 fix: change the name of theme token api
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/theme/builtin/light/index.ts
  packages/vchart/src/theme/interface.ts
  packages/vchart/src/theme/token/builtin/default.ts
  packages/vchart/src/theme/token/builtin/interface.ts
  packages/vchart/src/util/text.ts
  packages/vchart/src/util/theme/merge-theme.ts
  packages/vchart/src/util/theme/preprocess.ts
Labels: vchart, typescript

#2360 fix: export theme token type
  packages/vchart/src/theme/index.ts
Labels: vchart

#2353 Feat/tooltip lock
  common/changes/@visactor/vchart/feat-tooltip-lock_2024-03-08-03-39.json
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip.md
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/__tests__/unit/chart/bar.test.ts
  packages/vchart/__tests__/unit/chart/histogram.test.ts
  packages/vchart/__tests__/unit/chart/line.test.ts
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/chart/rangeColumn.test.ts
  packages/vchart/__tests__/unit/chart/treemap.test.ts
  packages/vchart/__tests__/unit/chart/word-cloud.test.ts
  packages/vchart/__tests__/unit/component/cartesian/axis/linear-axis.test.ts
  packages/vchart/__tests__/unit/data/fields.test.ts
  packages/vchart/__tests__/unit/morph/morph.test.ts
  packages/vchart/__tests__/unit/scale/global-scale.test.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/common.ts
  packages/vchart/src/component/tooltip/constant.ts
  packages/vchart/src/component/tooltip/index.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/constants.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
Labels: vchart, chore, typescript, docs

#2347 Fix/crosshiar lock
  common/changes/@visactor/vchart/fix-crosshiar-lock_2024-03-07-10-16.json
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
Labels: vchart, chore

#2363 feat: register hover/select interaction by default
  common/changes/@visactor/vchart/refactor-register-interaction_2024-03-11-08-48.json
  common/changes/@visactor/vchart/refactor-register-interaction_2024-03-11-08-57.json
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/interaction/index.ts
  packages/vchart/src/vchart-all.ts
  packages/vchart/src/vchart-simple.ts
Labels: vchart, chore

#2365 Fix/custom mark event
  common/changes/@visactor/vchart/fix-custom-mark-event_2024-03-11-04-19.json
  common/changes/@visactor/vchart/fix-custom-mark-event_2024-03-11-04-24.json
  common/changes/@visactor/vchart/fix-custom-mark-event_2024-03-11-04-29.json
  docs/assets/api/en/API/event.md
  docs/assets/api/zh/API/event.md
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/region/region.ts
Labels: vchart, chore, typescript, docs

#2366 docs: supply richtext/formatter/funnel demos
  docs/assets/examples/en/axis/axis-richtext-label.md
  docs/assets/examples/en/funnel-chart/funnel-template.md
  docs/assets/examples/en/label/label-formatter.md
  docs/assets/examples/en/label/richtext-label.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/axis/axis-richtext-label.md
  docs/assets/examples/zh/funnel-chart/funnel-template.md
  docs/assets/examples/zh/label/label-formatter.md
  docs/assets/examples/zh/label/richtext-label.md
  docs/public/vchart/preview/axis-richtext-label-1.10.0.png
  docs/public/vchart/preview/funnel-template-1.10.0.png
  docs/public/vchart/preview/funnel-template-en-1.10.0.png
  docs/public/vchart/preview/label-formatter-1.10.0.png
  docs/public/vchart/preview/label-richtext-1.10.0.png
Labels: docs

#2367 fix: add geo-region spec type to chart spec
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/util.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/chart/map/map-transformer.ts
  packages/vchart/src/chart/sequence/interface.ts
  packages/vchart/src/chart/sequence/sequence-transformer.ts
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/region/interface.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/spec/index.ts
Labels: vchart, typescript

#2371 fix: upgrade version of vgrammar to fix end state of animation
  common/changes/@visactor/vchart/fix-animation-end-state_2024-03-12-08-30.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, docs

#2372 Fix/memory leak
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/compile/compilable-base.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/event/event.ts
  packages/vchart/src/event/interface.ts
Labels: vchart, chore, typescript, react-vchart, docs

#2374 Fix/register interaction
  common/changes/@visactor/vchart/refactor-register-interaction_2024-03-11-08-48.json
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/interaction/index.ts
  packages/vchart/src/vchart-all.ts
  packages/vchart/src/vchart-simple.ts
Labels: vchart, chore

#2368 Sync/1.9.6 to 1.10.0
  common/changes/@visactor/vchart/feat-waterfall-support-split-total_2024-02-28-09-13.json
  common/changes/@visactor/vchart/fix-animation-end-state_2024-03-12-08-30.json
  common/changes/@visactor/vchart/fix-custom-mark-event_2024-03-11-04-19.json
  common/changes/@visactor/vchart/fix-custom-mark-event_2024-03-11-04-24.json
  common/changes/@visactor/vchart/fix-custom-mark-event_2024-03-11-04-29.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/api/en/API/event.md
  docs/assets/api/zh/API/event.md
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-schema/package.json
  packages/vchart-types/package.json
  packages/vchart-types/types/component/label/base-label.d.ts
  packages/vchart-types/types/component/label/label.d.ts
  packages/vchart-types/types/component/label/total-label.d.ts
  packages/vchart-types/types/event/interface.d.ts
  packages/vchart-types/types/series/map/geo-source.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/__tests__/unit/core/vchart-event.test.ts
  packages/vchart/__tests__/unit/core/vchart.test.ts
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vchart/src/compile/compilable-base.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/event/event.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
  packages/vchart/src/region/region.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/map/geo-source.ts
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types

#2376 fix: stack theme does not work in the case that `stack` of spec is undefined
  packages/vchart/__tests__/runtime/browser/test-page/area.ts
  packages/vchart/src/chart/area/area-transformer.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/series/area/area-transformer.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/area/interface.ts
  packages/vchart/src/series/bar/bar-transformer.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/gauge/gauge-pointer-transformer.ts
  packages/vchart/src/series/gauge/gauge-pointer.ts
  packages/vchart/src/series/gauge/gauge-transformer.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/series/polar/rose-like/rose-like.ts
  packages/vchart/src/series/progress/circular/circular-transformer.ts
  packages/vchart/src/series/progress/circular/circular.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-column/range-column-transformer.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/series/rose/rose-transformer.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/series/waterfall/waterfall-transformer.ts
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/theme/builtin/common/series/area.ts
Labels: vchart, typescript

#2377 Chore/fix rm rf
  common/changes/@visactor/vchart/chore-fix-rm-rf_2024-03-13-02-51.json
  common/config/rush/pnpm-lock.yaml
  packages/taro-vchart/package.json
  packages/vchart/package.json
  packages/vmind/package.json
  tools/bundler/package.json
  tools/typescript-json-schema/package.json
Labels: vchart, chore, taro-vchart, bundler, typescript-json-schema

#2379 Fix/brush remove child
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/__tests__/runtime/browser/test-page/bar.ts
  packages/vchart/package.json
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2380 fix: clear brush and datazoom
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs

#2395 fix: uniform export path of registerFormatPlugin
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx-simple.ts
  packages/vchart/src/plugin/chart/index.ts
  packages/vchart/src/vchart-all.ts
Labels: vchart

#2409 Fix/react tooltip
  common/changes/@visactor/vchart/fix-react-tooltip_2024-03-18-10-12.json
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/vchart/src/chart/base/base-chart-transformer.ts
Labels: vchart, chore, react-vchart

#2386 fix: `convertDatumToPosition` still return the position of mark that is hidden by legend
  common/changes/@visactor/vchart/fix-convert-datum-to-position_2024-03-13-08-00.json
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/geo/geo.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/polar/polar.ts
Labels: vchart, chore, typescript, docs

#2408 fix: fix memeory leak of complier release
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/event/event-dispatcher.ts
Labels: vchart

#2391 fix: rangeArea with invalid data
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/cartesian/cartesian.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/series/scatter/scatter.ts
Labels: vchart

#2394 fix: outerLabel default maxLineHeight calculation incorrect when `fun…
  common/changes/@visactor/vchart/fix-funnel-outerlabel-limit_2024-03-14-10-07.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#2411 fix: `pie.centerX` & `pie.centerY` do not work
  common/changes/@visactor/vchart/fix-pie_2024-03-18-13-10.json
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/pie/pie-transformer.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore

#2415 fix: getCenter in pie3d
  packages/vchart/src/series/pie/3d/pie-3d.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart

#2419 docs: fix react docs error
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
Labels: docs

#2418 Revert "chore: fix the config of side-effects"
  packages/react-vchart/package.json
  packages/vchart/package.json
Labels: vchart, react-vchart

#2434 Fix/event dispatcher count
  common/changes/@visactor/vchart/fix-event-dispatcher-count_2024-03-20-09-54.json
  packages/vchart/__tests__/unit/core/vchart-event.test.ts
  packages/vchart/src/event/event-dispatcher.ts
Labels: vchart, chore

#2435 fix: filter out scroll event with same scroll value
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
Labels: vchart

#2430 feat: transform funnel support heightRatio
  docs/assets/examples/en/funnel-chart/comparative-funnel-template.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/funnel-chart/comparative-funnel-template.md
  docs/assets/option/en/series/funnel.md
  docs/assets/option/zh/series/funnel.md
  docs/public/vchart/preview/comparative-funnel-template-1.10.1.png
  packages/vchart/src/chart/funnel/funnel-transformer.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/funnel/interface.ts
Labels: vchart, typescript, docs

#2442 fix: Arco Design doc error
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/Arco_Design.md
Labels: docs

#2433 fix: `lineWidth` is invalid in rect-type-crosshair
  common/changes/@visactor/vchart/fix-crosshair-line-width_2024-03-20-09-47.json
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/theme/builtin/common/component/crosshair.ts
Labels: vchart, chore

#2452 fix: map name without nameMap
  packages/vchart/src/data/transforms/map.ts
  packages/vchart/src/series/map/map.ts
Labels: vchart

#2450 feat: supoort animation of custom-mark
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
Labels: vchart

#2457 Revert "fix: map name without nameMap"
  packages/vchart/src/data/transforms/map.ts
  packages/vchart/src/series/map/map.ts
Labels: vchart

#2446 chore: update dependencies
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/mark/group.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2423 Feat/support interaction events
  common/changes/@visactor/vchart/feat-support-interaction-events_2024-03-20-03-09.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/interaction/interaction.ts
  packages/vchart/src/interaction/interface.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#2460 fix(animation): error when no region
  packages/vchart/src/compile/mark/compilable-mark.ts
Labels: vchart

#2467 Fix/release of event dispatcher
  common/changes/@visactor/vchart/fix-release_of_event-dispatcher_2024-03-26-06-31.json
  packages/vchart/__tests__/unit/core/vchart-event.test.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#2473 feat: add docs of ve-o theme
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/Arco_Design.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/Semi_Design.md
  docs/assets/guide/en/tutorial_docs/Theme/Arco_Design.md
  docs/assets/guide/en/tutorial_docs/Theme/Semi_Design.md
  docs/assets/guide/en/tutorial_docs/Theme/Ve_O_Design.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/Arco_Design.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/Semi_Design.md
  docs/assets/guide/zh/tutorial_docs/Theme/Arco_Design.md
  docs/assets/guide/zh/tutorial_docs/Theme/Semi_Design.md
  docs/assets/guide/zh/tutorial_docs/Theme/Ve_O_Design.md
  docs/public/vchart/guide/theme/veo-1.png
  docs/public/vchart/guide/theme/veo-2.png
  docs/public/vchart/guide/theme/veo-3.gif
  docs/public/vchart/guide/theme/veo-4.png
  docs/public/vchart/guide/theme/veo-5.png
  docs/vite.config.js
Labels: docs

#2474 feat: update themes in docs
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Extension.md
  docs/assets/guide/en/tutorial_docs/Theme/Ve_O_Design.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Extension.md
  docs/assets/guide/zh/tutorial_docs/Theme/Ve_O_Design.md
Labels: docs

#2470 Fix/daily 03 26: 瀑布图开启总计标签报错
  common/changes/@visactor/vchart/refactor-remove-hack_2024-03-26-08-43.json
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/series.ts
Labels: vchart, chore

#2396 Refactor: reduce sankey dup code
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, typescript

#2476 Feat/verify wordcloud rotate random
  common/changes/@visactor/vchart/develop_2024-03-26-17-27.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/series/word-cloud/base.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2469 Fix/polar axis label
  common/changes/@visactor/vchart/fix-polar-axis-label_2024-03-26-09-16.json
  common/changes/@visactor/vchart/fix-polar-axis-label_2024-03-28-04-04.json
  common/config/rush/pnpm-lock.yaml
  packages/vchart/package.json
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vutils-extension/package.json
  packages/vutils-extension/src/transform/tick-data/interface.ts
  packages/vutils-extension/src/transform/tick-data/util.ts
  packages/vutils-extension/src/transform/tick-data/utils/polar-label-position.ts
  tools/story-player/package.json
Labels: vchart, chore, typescript
