Repository VisActor/VChart, pull requests merged in 2024-07, with the labels that each got.

#2879 Docs/demo optimization
  docs/assets/examples/en/bar-chart/bar-markPoint.md
  docs/assets/examples/en/layout/grid-layout.md
  docs/assets/examples/zh/bar-chart/bar-markPoint.md
  docs/assets/examples/zh/layout/grid-layout.md
Labels: docs

#2880 feat: update data api for indicator component
  common/changes/@visactor/vchart/feat-updateData-api-for-indicator_2024-07-01-06-00.json
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/indicator/interface.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore, typescript, docs

#2889 Fix/type define
  common/changes/@visactor/vchart/fix-type-define_2024-07-01-09-28.json
  docs/assets/option/en/component/mark-point.md
  docs/assets/option/en/series/word-cloud.md
  docs/assets/option/en/series/word-cloud3d.md
  docs/assets/option/zh/component/mark-point.md
  docs/assets/option/zh/series/word-cloud.md
  docs/assets/option/zh/series/word-cloud3d.md
  packages/vchart/src/component/marker/mark-point/interface/spec.ts
  packages/vchart/src/series/word-cloud/interface.ts
Labels: vchart, chore, typescript, docs

#2848 Refactor/sankey label
  common/changes/@visactor/vchart/refactor-sankey-label_2024-07-02-01-38.json
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/series/sankey/sankey-transformer.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore, typescript

#2796 Feat/mosaic chart
  docs/assets/examples/en/mosaic-chart/basic-mosaic.md
  docs/assets/examples/en/mosaic-chart/group-mosaic.md
  docs/assets/examples/en/mosaic-chart/simple-mosaic.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/mosaic-chart/basic-mosaic.md
  docs/assets/examples/zh/mosaic-chart/group-mosaic.md
  docs/assets/examples/zh/mosaic-chart/simple-mosaic.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/Mosaic.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Mosaic.md
  docs/assets/option/en/chart/mosaic.md
  docs/assets/option/en/common/cartesian-series.md
  docs/assets/option/en/component/label.md
  docs/assets/option/en/option.md
  docs/assets/option/en/series/mosaic.md
  docs/assets/option/zh/chart/mosaic.md
  docs/assets/option/zh/common/cartesian-series.md
  docs/assets/option/zh/component/label.md
  docs/assets/option/zh/option.md
  docs/assets/option/zh/series/mosaic.md
  docs/libs/preview.js
  docs/public/vchart/preview/mosaic-chart-basic-mosaic_1.11.6.png
  docs/public/vchart/preview/mosaic-chart-group-mosaic_1.11.6.png
  docs/public/vchart/preview/mosaic-chart-simple-mosaic_1.11.6.png
  packages/vchart/__tests__/unit/data/stack-split.test.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/cartesian/cartesian-transformer.ts
  packages/vchart/src/chart/index.ts
  packages/vchart/src/chart/interface/type.ts
  packages/vchart/src/chart/mosaic/index.ts
  packages/vchart/src/chart/mosaic/interface.ts
  packages/vchart/src/chart/mosaic/mosaic-transformer.ts
  packages/vchart/src/chart/mosaic/mosaic.ts
  packages/vchart/src/chart/stack.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/constant/index.ts
  packages/vchart/src/data/transforms/stack-split.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/interface/theme.ts
  packages/vchart/src/series/interface/type.ts
  packages/vchart/src/series/mosaic/interface.ts
  packages/vchart/src/series/mosaic/mosaic.ts
  packages/vchart/src/theme/builtin/common/series/index.ts
  packages/vchart/src/theme/builtin/common/series/mosaic.ts
  packages/vchart/src/util/data.ts
Labels: vchart, typescript, docs

#2909 fix(barbackground): datakey is undefined when set custom datakey
  common/changes/@visactor/vchart/fix-bar-background_2024-07-05-11-01.json
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, chore

#2907 fix(crosshair): fix bug of crosshair position when legend filter data…
  common/changes/@visactor/vchart/fix-crosshari-pos-error_2024-07-05-09-31.json
  packages/vchart/src/component/crosshair/cartesian.ts
Labels: vchart, chore

#2900 Fix/bar max width not work
  common/changes/@visactor/vchart/fix-barMaxWidth-not-work_2024-07-04-07-22.json
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, chore

#2895 feat: support updateSpec animation parameter
  common/changes/@visactor/vchart/feat-updateSpec-animation_2024-07-03-08-24.json
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/base/constant.ts
Labels: vchart, chore, typescript

#2921 Sync/develop
  common/changes/@visactor/vchart/feat-indicator-support-style-callback_2024-07-01-09-28.json
  common/changes/@visactor/vchart/feat-tooltip-hide-timer_2024-07-06-06-04.json
  common/changes/@visactor/vchart/feat-updateData-api-for-indicator_2024-07-01-06-00.json
  common/changes/@visactor/vchart/feat-updateSpec-animation_2024-07-03-08-24.json
  common/changes/@visactor/vchart/fix-bar-background_2024-07-05-11-01.json
  common/changes/@visactor/vchart/fix-barMaxWidth-not-work_2024-07-04-07-22.json
  common/changes/@visactor/vchart/fix-crosshari-pos-error_2024-07-05-09-31.json
  common/changes/@visactor/vchart/fix-hide-tooltip-timer_2024-07-06-09-21.json
  common/changes/@visactor/vchart/fix-type-define_2024-07-01-09-28.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/examples/en/bar-chart/bar-markPoint.md
  docs/assets/examples/en/layout/grid-layout.md
  docs/assets/examples/zh/bar-chart/bar-markPoint.md
  docs/assets/examples/zh/layout/grid-layout.md
  docs/assets/option/en/component/indicator/indicator-item.md
  docs/assets/option/en/component/mark-point.md
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/en/series/word-cloud.md
  docs/assets/option/en/series/word-cloud3d.md
  docs/assets/option/zh/component/crosshair.md
  docs/assets/option/zh/component/indicator/indicator-item.md
  docs/assets/option/zh/component/mark-point.md
  docs/assets/option/zh/component/tooltip.md
  docs/assets/option/zh/series/word-cloud.md
  docs/assets/option/zh/series/word-cloud3d.md
  docs/package.json
  packages/harmony_vchart/library/CHANGELOG.md
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/browser/test-page/area.ts
  packages/vchart/package.json
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/indicator/interface.ts
  packages/vchart/src/component/marker/mark-point/interface/spec.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/base/constant.ts
  packages/vchart/src/series/word-cloud/interface.ts
  packages/vchart/src/util/style.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#2922 Fix/compile error
  common/scripts/set-prerelease-version.js
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore

#2919 Feat/issue 2918
  common/changes/@visactor/vchart/feat-issue-2918_2024-07-09-02-09.json
  docs/assets/examples/en/marker/trend-line.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/marker/trend-line.md
  docs/assets/option/en/component/mark-area.md
  docs/assets/option/en/component/mark-line.md
  docs/assets/option/en/component/mark-point.md
  docs/assets/option/en/component/marker-common/marker-data-point.md
  docs/assets/option/en/component/marker-common/marker-positions.md
  docs/assets/option/zh/component/mark-area.md
  docs/assets/option/zh/component/mark-line.md
  docs/assets/option/zh/component/mark-point.md
  docs/assets/option/zh/component/marker-common/marker-data-point.md
  docs/assets/option/zh/component/marker-common/marker-positions.md
  docs/public/vchart/preview/trend-line-1.12.0.png
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/cartesian-mark-area.ts
  packages/vchart/src/component/marker/mark-area/interface/spec.ts
  packages/vchart/src/component/marker/mark-area/polar-mark-area.ts
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
  packages/vchart/src/component/marker/mark-line/interface/spec.ts
  packages/vchart/src/component/marker/mark-line/polar-mark-line.ts
  packages/vchart/src/component/marker/mark-point/cartesian-mark-point.ts
  packages/vchart/src/component/marker/mark-point/geo-mark-point.ts
  packages/vchart/src/component/marker/mark-point/interface/spec.ts
  packages/vchart/src/component/marker/mark-point/polar-mark-point.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vchart/src/data/transforms/aggregation.ts
Labels: vchart, chore, typescript, docs

#2938 Fix/mark point type error
  common/changes/@visactor/vchart/fix-mark-point-type-error_2024-07-11-07-03.json
  packages/vchart/src/component/marker/mark-point/cartesian-mark-point.ts
  packages/vchart/src/component/marker/utils.ts
Labels: vchart, chore

#2937 fix: statistics confict of linear and discrete field. fix#2926
  common/changes/@visactor/vchart/fix-mapping-conflict_2024-07-11-04-05.json
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#2941 Fix/fix theme error of update spec
  common/changes/@visactor/vchart/fix-fix-theme-error-of-updateSpec_2024-07-11-11-34.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/chart/util.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/interface.ts
Labels: vchart, chore, typescript

#2935 Fix/update of label
  common/changes/@visactor/vchart/fix-update-of-label_2024-07-10-09-38.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/jest.config.js
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/series/waterfall/waterfall-transformer.ts
  packages/vchart/src/series/waterfall/waterfall.ts
Labels: vchart, chore, jest

#2945 Fix/polar point update aniamtion
  common/changes/@visactor/vchart/fix-polar-point-update-aniamtion_2024-07-12-08-28.json
  packages/vchart/src/series/polar/animation.ts
Labels: vchart, chore

#2816 Feat/pie empty placeholder
  common/changes/@visactor/vchart/feat-pie-empty-placeholder_2024-07-15-07-28.json
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/pie/base/pie-transformer.ts
  packages/vchart/src/series/pie/animation/animation.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/theme/builtin/common/series/pie.ts
  packages/vchart/src/theme/builtin/dark/color-scheme.ts
  packages/vchart/src/theme/builtin/light/color-scheme.ts
Labels: vchart, chore, typescript, docs

#2948 refactor: refactor parser of `markByName` and `markByType` in theme
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/interface/theme.ts
  packages/vchart/src/util/theme/merge-theme.ts
Labels: vchart, typescript

#2953 test: update unit test case
  packages/vchart/__tests__/unit/core/update-spec.test.ts
Labels: vchart

#2954 Feat: tooltip theme support transition duration
  common/changes/@visactor/vchart/feat-tooltip-theme-support-transitionDuration_2024-07-16-07-36.json
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
Labels: vchart, chore

#2949 Size/reduce builtin theme
  packages/vchart/src/theme/builtin/common/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common/component/data-zoom.ts
  packages/vchart/src/theme/builtin/common/component/indicator.ts
  packages/vchart/src/theme/builtin/common/component/legend/color-legend.ts
  packages/vchart/src/theme/builtin/common/component/legend/continuous.ts
  packages/vchart/src/theme/builtin/common/component/legend/size-legend.ts
  packages/vchart/src/theme/builtin/common/component/map-label.ts
  packages/vchart/src/theme/builtin/common/component/mark-line.ts
  packages/vchart/src/theme/builtin/common/component/player.ts
  packages/vchart/src/theme/builtin/common/component/scroll-bar.ts
  packages/vchart/src/theme/builtin/common/component/tooltip.ts
  packages/vchart/src/theme/builtin/common/series/funnel.ts
  packages/vchart/src/theme/builtin/common/series/funnel3d.ts
  packages/vchart/src/theme/builtin/common/series/index.ts
  packages/vchart/src/theme/builtin/common/series/word-cloud.ts
  packages/vchart/src/theme/builtin/common/series/word-cloud3d.ts
Labels: vchart

#2968 docs: update `registerMap` API document
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
Labels: docs

#2964 fix: prevent trigger original event in zoomEnd composite event
  common/changes/@visactor/vchart/fix-prevent-dragEnd-pointer-event_2024-07-17-06-47.json
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore

#2950 refactor: stack can be required by need
  common/changes/@visactor/vchart/size-require-stack-by-need_2024-07-15-11-07.json
  packages/vchart/src/chart/area/area.ts
  packages/vchart/src/chart/bar/bar.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/common/common.ts
  packages/vchart/src/chart/histogram/base/base.ts
  packages/vchart/src/chart/line/line.ts
  packages/vchart/src/chart/mosaic/mosaic.ts
  packages/vchart/src/chart/progress/circular/circular.ts
  packages/vchart/src/chart/progress/linear/linear.ts
  packages/vchart/src/chart/radar/radar.ts
  packages/vchart/src/chart/rose/rose.ts
  packages/vchart/src/chart/scatter/scatter.ts
  packages/vchart/src/chart/stack.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/index.ts
  packages/vchart/src/vchart-simple.ts
Labels: vchart, chore

#2966 fix: prevent issue with ios bug while pointEvent is configed
  common/changes/@visactor/vchart/develop_2024-07-16-08-32.json
  packages/taro-vchart/src/components/general-chart/index.tsx
  packages/taro-vchart/src/utils/container-styles/index.ts
Labels: chore, taro-vchart

#2980 docs: add chartHub theme link in tutorial
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Extension.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Extension.md
Labels: docs

#2969 fix: try to fix the cache of state style
  common/scripts/set-prerelease-version.js
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/mark/compilable-mark.ts
Labels: vchart, chore

#2963 Feat/sequence supprt bottom axes dev
  common/changes/@visactor/vchart/feat-sequence-support-bottom-axes_2024-07-10-04-00.json
  packages/vchart/src/chart/sequence/sequence-transformer.ts
Labels: vchart, chore

#2979 Feat/liquid reverse and target
  common/changes/@visactor/vchart/feat-liquid-support-reverse_2024-07-20-15-17.json
  docs/assets/examples/en/liquid-chart/liquid-chart-reverse.md
  docs/assets/examples/en/liquid-chart/liquid-chart-target.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/liquid-chart/liquid-chart-reverse.md
  docs/assets/examples/zh/liquid-chart/liquid-chart-target.md
  docs/assets/option/en/series/liquid.md
  docs/assets/option/zh/series/liquid.md
  docs/public/vchart/preview/liquid-chart-reverse_1.11.10.png
  docs/public/vchart/preview/liquid-chart-target_1.11.10.png
  packages/vchart/__tests__/runtime/browser/test-page/liquid.ts
  packages/vchart/src/chart/liquid/liquid-transformer.ts
  packages/vchart/src/series/liquid/interface.ts
  packages/vchart/src/series/liquid/liquid.ts
  pnpm-lock.yaml
Labels: vchart, chore, typescript, docs

#2990 Chore/es5 file
  common/changes/@visactor/vchart/chore-es5-file_2024-07-23-09-33.json
  packages/vchart/rollup.config.js
Labels: vchart, chore

#2988 Feat/map zoom api
  common/changes/@visactor/vchart/feat-map-zoom-api_2024-07-23-08-14.json
  common/changes/@visactor/vchart/feat-map-zoom-api_2024-07-23-08-15.json
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/component/geo/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore, typescript, docs

#2993 Fix/time axis set dimension index
  common/changes/@visactor/vchart/fix-time-axis-set-dimension-index_2024-07-24-09-38.json
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#3006 docs: update demo of synced chart, close #3001
  docs/assets/examples-react/zh/events/sync-charts.md
  docs/assets/examples-react/zh/react-attributes/funnel-react-attributes.md
  docs/assets/examples-react/zh/react-attributes/legend-icon.md
Labels: docs

#2893 Feat/show all zero
  common/changes/@visactor/vchart/feat-stillShowZeroSum_2024-07-31-01-16.json
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/src/chart/pie/base/pie-transformer.ts
  packages/vchart/src/data/transforms/pie.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
Labels: enhancement, vchart, chore, typescript, docs

#3007 Feat/state animation config
  common/changes/@visactor/vchart/feat-state-animation-config_2024-07-26-07-30.json
  docs/assets/option/en/animate/animation.md
  docs/assets/option/zh/animate/animation.md
  packages/vchart/src/animation/config.ts
  packages/vchart/src/animation/spec.ts
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
Labels: vchart, chore, docs

#3027 Revert "fix: prevent trigger original event in zoomEnd composite event"
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart

#3003 Feat/support negative value
  common/changes/@visactor/vchart/feat-support-negative-value_2024-07-31-03-00.json
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/src/chart/pie/base/pie-transformer.ts
  packages/vchart/src/data/transforms/pie.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore, typescript, docs
