Repository VisActor/VChart, pull requests merged in 2024-10, with the labels that each got.

#3286 fix: custom theme by chartType cannot work in initial options
  common/changes/@visactor/vchart/fix-chartType-theme_2024-10-08-09-06.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#3291 docs: update harmony-vchart docs
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/harmony.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/harmony.md
Labels: docs

#3272 Refactor/tooltip set by field
  packages/vchart/src/chart/venn/interface.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/interface/index.ts
  packages/vchart/src/component/interface/tooltip-helper.ts
  packages/vchart/src/component/tooltip/constant.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/component/tooltip/processor/group-tooltip.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/common.ts
  packages/vchart/src/component/tooltip/utils/compose.ts
  packages/vchart/src/component/tooltip/utils/get-spec.ts
  packages/vchart/src/component/tooltip/utils/get-value.ts
  packages/vchart/src/component/tooltip/utils/index.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/model/tooltip-helper.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-column-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/title-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/base/tooltip-helper.ts
  packages/vchart/src/series/box-plot/tooltip-helper.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/dot/tooltip-helper.ts
  packages/vchart/src/series/gauge/pointer-tooltip-helper.ts
  packages/vchart/src/series/heatmap/tooltip-helper.ts
  packages/vchart/src/series/interface/tooltip-helper.ts
  packages/vchart/src/series/link/tooltip-helper.ts
  packages/vchart/src/series/liquid/tooltip-helper.ts
  packages/vchart/src/series/progress/linear/tooltip-helper.ts
  packages/vchart/src/series/range-area/tooltip-helper.ts
  packages/vchart/src/series/range-column/tooltip-helper.ts
  packages/vchart/src/series/sankey/tooltip-helper.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/tooltip/shape.ts
  packages/vchart/src/typings/tooltip/tooltip.ts
Labels: vchart, typescript

#3294 Fix/axis visible change
  common/changes/@visactor/vchart/fix-axis-visible-change_2024-10-10-06-43.json
  common/changes/@visactor/vchart/fix-axis-visible-change_2024-10-10-06-52.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#3302 Fix/react vchart labels
  common/changes/@visactor/vchart/fix-react-vchart-labels_2024-10-12-10-04.json
  packages/react-vchart/src/charts/AreaChart.tsx
  packages/react-vchart/src/charts/Bar3dChart.tsx
  packages/react-vchart/src/charts/BarChart.tsx
  packages/react-vchart/src/charts/BoxPlotChart.tsx
  packages/react-vchart/src/charts/CirclePackingChart.tsx
  packages/react-vchart/src/charts/CircularProgressChart.tsx
  packages/react-vchart/src/charts/CorrelationChart.tsx
  packages/react-vchart/src/charts/Funnel3dChart.tsx
  packages/react-vchart/src/charts/FunnelChart.tsx
  packages/react-vchart/src/charts/GaugeChart.tsx
  packages/react-vchart/src/charts/HeatmapChart.tsx
  packages/react-vchart/src/charts/Histogram3dChart.tsx
  packages/react-vchart/src/charts/HistogramChart.tsx
  packages/react-vchart/src/charts/LineChart.tsx
  packages/react-vchart/src/charts/LinearProgressChart.tsx
  packages/react-vchart/src/charts/LiquidChart.tsx
  packages/react-vchart/src/charts/MapChart.tsx
  packages/react-vchart/src/charts/Pie3dChart.tsx
  packages/react-vchart/src/charts/PieChart.tsx
  packages/react-vchart/src/charts/RadarChart.tsx
  packages/react-vchart/src/charts/RangeColumn3dChart.tsx
  packages/react-vchart/src/charts/RangeColumnChart.tsx
  packages/react-vchart/src/charts/RoseChart.tsx
  packages/react-vchart/src/charts/SankeyChart.tsx
  packages/react-vchart/src/charts/ScatterChart.tsx
  packages/react-vchart/src/charts/SequenceChart.tsx
  packages/react-vchart/src/charts/SunburstChart.tsx
  packages/react-vchart/src/charts/TreemapChart.tsx
  packages/react-vchart/src/charts/VennChart.tsx
  packages/react-vchart/src/charts/WaterfallChart.tsx
  packages/react-vchart/src/charts/WordCloud3dChart.tsx
  packages/react-vchart/src/charts/WordCloudChart.tsx
Labels: chore, react-vchart

#3307 Fix/issue 3306
  common/changes/@visactor/vchart/fix-issue-3306_2024-10-14-09-07.json
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
Labels: vchart, chore

#3305 Feat optimize data empty condition
  common/changes/@visactor/vchart/feat-optimize-data-empty-condition_2024-10-14-08-39.json
  packages/vchart/src/data/transforms/pie.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore

#3304 Feat/map roam blank
  common/changes/@visactor/vchart/feat-map-roam-blank_2024-10-14-06-24.json
  docs/assets/option/en/common/region.md
  docs/assets/option/zh/common/region.md
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/region/interface.ts
Labels: vchart, chore, typescript, docs

#3308 Docs/harmony readme
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  packages/harmony_vchart/README.md
Labels: docs

#3288 Fix/tooltip enterable not update
  common/changes/@visactor/vchart/fix-tooltip-enterable-not-update_2024-10-09-04-07.json
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/gauge/interface.ts
  packages/vchart/src/chart/treemap/interface.ts
  packages/vchart/src/component/tooltip/constant.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/typings/tooltip/position.ts
Labels: vchart, chore, typescript, docs

#3310 fix: fix issue of `html` and `dom` not work correctly in label
  common/changes/@visactor/vchart/fix-html-not-work-in-label_2024-10-15-06-25.json
  packages/vchart/src/component/label/util.ts
Labels: vchart, chore

#3311 Fix/upgrade vrender 0.20.9
  common/changes/@visactor/vchart/develop_2024-10-15-06-13.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Axes.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Axes.md
  docs/assets/option/en/component/label.md
  docs/assets/option/en/component/title.md
  docs/assets/option/en/component/tooltip-common/tooltip-text-theme.md
  docs/assets/option/en/graphic/text.md
  docs/assets/option/zh/component/label.md
  docs/assets/option/zh/component/title.md
  docs/assets/option/zh/component/tooltip-common/tooltip-text-theme.md
  docs/assets/option/zh/graphic/text.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/title/interface/spec.ts
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/style.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3273 feat: support `firstVisible` in axis label
  common/changes/@visactor/vchart/feat-axis-label-firstVisible_2024-10-15-07-32.json
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/interface/common.ts
Labels: vchart, chore

#3324 docs: add 'afterResize' TTL event into docs
  docs/assets/api/en/API/event.md
  docs/assets/api/zh/API/event.md
Labels: docs

#3319 Fix/tooltip update content data
  common/changes/@visactor/vchart/fix-tooltip-update-content-data_2024-10-17-02-17.json
  packages/vchart/src/component/tooltip/utils/common.ts
Labels: vchart, chore

#3309 Feat/map update spec
  common/changes/@visactor/vchart/feat-map-roam-blank_2024-10-14-06-49.json
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#3328 docs: add option en doc and fix documented options disappeared
  docs/assets/option/en/chart/bar.md
Labels: docs

#3327 Fix/fix funnel data
  common/changes/@visactor/vchart/fix-fix-funnel-data_2024-10-18-10-06.json
  packages/vchart/src/chart/chart-meta/data.ts
  packages/vchart/src/series/box-plot/box-plot.ts
  packages/vchart/src/series/correlation/correlation.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/map/map.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/waterfall/waterfall.ts
Labels: vchart, chore

#3329 Feat/scatter overlap points
  common/changes/@visactor/vchart/feat-scatter-overlap-points_2024-10-21-04-20.json
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3325 Fix/tooltip hide event
  common/changes/@visactor/vchart/fix-tooltip-hide-event_2024-10-18-08-22.json
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
Labels: vchart, chore

#3334 fix: upgrade vrender to 0.20.10, vgrammar to 0.14.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3338 Fix/tooltip hide
  common/changes/@visactor/vchart/fix-tooltip-hide_2024-10-24-06-30.json
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3362 fix: type issue of title theme
  common/changes/@visactor/vchart/fix-type-issues-of-title-theme_2024-10-29-06-48.json
  packages/vchart/src/component/title/interface/theme.ts
  packages/vchart/src/theme/builtin/common/component/title.ts
Labels: vchart, chore

#3360 Feat/map update spec
  common/changes/@visactor/vchart/feat-map-updateSpec_2024-10-29-06-26.json
  docs/assets/option/en/chart/common.md
  docs/assets/option/en/common/region.md
  docs/assets/option/zh/chart/common.md
  docs/assets/option/zh/common/region.md
  packages/vchart/src/component/geo/geo-coordinate.ts
Labels: vchart, chore, docs

#3357 Refactor/optimize mark config
  common/changes/@visactor/vchart/refactor-optimize-mark-config_2024-10-25-10-12.json
  packages/vchart/__tests__/unit/mark/line.test.ts
  packages/vchart/__tests__/unit/mark/rule.test.ts
  packages/vchart/__tests__/unit/mark/symbol.test.ts
  packages/vchart/__tests__/unit/mark/text.test.ts
  packages/vchart/__tests__/unit/morph/morph.test.ts
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/core/factory.ts
  packages/vchart/src/mark/base/base-line.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/group.ts
  packages/vchart/src/mark/interface/common.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/region/region.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/box-plot/box-plot.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/correlation/correlation.ts
  packages/vchart/src/series/dot/dot.ts
  packages/vchart/src/series/funnel/3d/funnel-3d.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/heatmap/heatmap.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/link/link.ts
  packages/vchart/src/series/liquid/liquid.ts
  packages/vchart/src/series/map/map.ts
  packages/vchart/src/series/mixin/line-mixin.ts
  packages/vchart/src/series/pie/3d/pie-3d.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/series/progress/circular/circular.ts
  packages/vchart/src/series/progress/linear/linear.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/treemap/treemap.ts
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/series/word-cloud/word-cloud-3d.ts
Labels: vchart, chore, typescript

#3370 Fix/bug of symbol active mark visible
  common/changes/@visactor/vchart/fix-bug-of-symbolActiveMark-visible_2024-10-30-09-08.json
  docs/assets/examples/en/axis/axis-inner-offset.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/axis/axis-inner-offset.md
  docs/assets/option/en/component/axis-common/cartesian-axis.md
  docs/assets/option/zh/component/axis-common/cartesian-axis.md
  docs/public/vchart/preview/axis-inner-offset_1.12.9.png
  packages/vchart/src/series/mixin/line-mixin.ts
Labels: vchart, chore, docs

#3369 fix: scroll not dispatch view update when axis is not display. fix#3278
  common/changes/@visactor/vchart/develop_2024-10-30-09-16.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
Labels: vchart, chore

#3375 fix: fix issue with chart background in harmony
  common/changes/@visactor/vchart/fix-harmony-bg_2024-10-31-06-19.json
  packages/harmony_vchart/library/src/main/ets/ChartComponent.ets
Labels: chore

#3379 docs: add docs_request template
  .github/ISSUE_TEMPLATE/docs_request.yml
Labels: docs

#3377 fix: upgrade vrender to 0.20.12, vgrammar to 0.14.13
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3354 feat: pie series support center of percent string
  common/changes/@visactor/vchart/feat-pie-percent-center_2024-10-28-07-40.json
  common/changes/@visactor/vchart/feat-pie-percent-center_2024-10-28-07-41.json
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore, typescript, docs

#3355 Fix/radar chart event
  common/changes/@visactor/vchart/fix-radar-chart-event_2024-10-25-08-33.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
Labels: vchart, chore
