Repository VisActor/VChart, pull requests merged in 2024-06, with the labels that each got.

#2779 docs: update customLayoutFunc part for label
  docs/assets/option/en/component/label.md
  docs/assets/option/zh/component/label.md
Labels: docs

#2686 feat: add vchart-extension package & ranking-bar-chart
  common/config/rush/pnpm-lock.yaml
  packages/vchart-extension/.eslintrc.js
  packages/vchart-extension/README.md
  packages/vchart-extension/__tests__/runtime/browser/data/ranking-bar.ts
  packages/vchart-extension/__tests__/runtime/browser/index.html
  packages/vchart-extension/__tests__/runtime/browser/index.page.ts
  packages/vchart-extension/__tests__/runtime/browser/scripts/index.page.local.template.ts
  packages/vchart-extension/__tests__/runtime/browser/scripts/initVite.ts
  packages/vchart-extension/__tests__/runtime/browser/scripts/vite.config.local.template.ts
  packages/vchart-extension/__tests__/runtime/browser/test-page/.gitignore
  packages/vchart-extension/__tests__/runtime/browser/test-page/ranking-bar.ts
  packages/vchart-extension/__tests__/runtime/browser/vite.config.js
  packages/vchart-extension/bundler.config.js
  packages/vchart-extension/package.json
  packages/vchart-extension/rollup.config.js
  packages/vchart-extension/src/global.d.ts
  packages/vchart-extension/src/index.ts
  packages/vchart-extension/src/ranking-bar/interface.ts
  packages/vchart-extension/src/ranking-bar/ranking-bar-transformer.ts
  packages/vchart-extension/src/ranking-bar/ranking-bar.ts
  packages/vchart-extension/src/type/index.ts
  packages/vchart-extension/src/type/type.ts
  packages/vchart-extension/tsconfig.eslint.json
  packages/vchart-extension/tsconfig.json
  packages/vchart/src/index.ts
  rush.json
Labels: vchart, chore, typescript, bundler, eslint

#2773 Fix/update spec bug of new component list
  common/changes/@visactor/vchart/fix-updateSpec-bug-of-new-component-list_2024-06-03-06-10.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#2760 docs: create bar chart demo with custom labels
  docs/assets/examples/en/bar-chart/bar-customized-label.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/bar-chart/bar-customized-label.md
  docs/public/vchart/preview/bar-customized-label-en_1.11.1.png
  docs/public/vchart/preview/bar-customized-label_1.11.1.png
Labels: docs

#2774 Fix/treemap legend filter
  common/changes/@visactor/vchart/fix-treemap-legend-filter_2024-06-03-10-01.json
  packages/vchart/__tests__/unit/data/hierarchy.test.ts
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/data/transforms/legend-data/continuous/continuous.ts
  packages/vchart/src/data/transforms/legend-data/continuous/interface.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/treemap/treemap.ts
  packages/vchart/src/util/hierarchy.ts
Labels: vchart, chore, typescript

#2785 Feat/data zoom show background
  common/changes/@visactor/vchart/feat-data-zoom-show-background_2024-06-05-09-53.json
  docs/assets/option/en/component/data-zoom.md
  docs/assets/option/zh/component/data-zoom.md
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
Labels: vchart, chore, typescript, docs

#2788 Fix/sankey set select 2
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/tutorial_docs/Chart_Types/Sankey.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Sankey.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/sankey/sankey.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2795 Fic/update spec of scales
  common/changes/@visactor/vchart/fic-update-spec-of-scales_2024-06-06-07-33.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#2812 Fix/normal animation not work
  common/changes/@visactor/vchart/fix-normal-animation-not-work_2024-06-14-03-51.json
  packages/vchart/src/compile/mark/compilable-mark.ts
Labels: vchart, chore

#2813 Chore/update harmony release
  .github/workflows/release.yml
  common/scripts/set-changelog-of-harmony.js
  common/scripts/set-prerelease-version.js
  packages/vchart/bundler.config.js
Labels: vchart, chore, bundler

#2815 Feat/ohpm release
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/harmony.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/harmony.md
Labels: docs

#2821 docs: fix path of preview image and relavant docs
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  docs/assets/examples/en/bar-chart/bar-customized-label.md
  docs/assets/examples/zh/bar-chart/bar-customized-label.md
  docs/assets/guide/en/tutorial_docs/Contribution_Guide.md
  docs/assets/guide/zh/tutorial_docs/Contribution_Guide.md
Labels: docs

#2825 feat: optimize legend pager color in dark theme
  common/changes/@visactor/vchart/feat-optimize-legend-pager-in-dark-theme_2024-06-18-09-59.json
  packages/vchart/src/theme/builtin/common/component/legend/discrete-legend.ts
  packages/vchart/src/theme/builtin/dark/color-scheme.ts
  packages/vchart/src/theme/builtin/light/color-scheme.ts
Labels: vchart, chore

#2832 docs: update docs of univer-vchart-plugin
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/univer.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/univer.md
Labels: docs

#2819 Fix/waterfall stack navigate
  common/changes/@visactor/vchart/fix-waterfall-stack-navigate_2024-06-17-08-59.json
  packages/vchart/src/data/transforms/waterfall.ts
Labels: vchart, chore

#2830 feat: tooltip support `align` right
  docs/assets/option/en/component/tooltip-common/tooltip-theme.md
  docs/assets/option/zh/component/tooltip-common/tooltip-theme.md
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/title-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/theme/builtin/common/component/tooltip.ts
Labels: vchart, typescript, docs

#2833 docs: update english docs of univer
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/univer.md
Labels: docs

#2839 Release/1.11.5
  .github/workflows/publish.yml
  .github/workflows/release-changelog.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  common/scripts/set-changelog-of-harmony.js
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/examples/en/bar-chart/bar-customized-label.md
  docs/assets/examples/zh/bar-chart/bar-customized-label.md
  docs/assets/guide/en/tutorial_docs/Contribution_Guide.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/univer.md
  docs/assets/guide/zh/tutorial_docs/Contribution_Guide.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/univer.md
  docs/assets/option/en/component/tooltip-common/tooltip-theme.md
  docs/assets/option/zh/component/tooltip-common/tooltip-theme.md
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/harmony_vchart/library/oh-package.json5
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-extension/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-types/package.json
  packages/vchart-types/types/component/tooltip/interface/theme.d.ts
  packages/vchart-types/types/plugin/components/tooltip-handler/dom/interface.d.ts
  packages/vchart-types/types/plugin/components/tooltip-handler/dom/model/content-model.d.ts
  packages/vchart-types/types/plugin/components/tooltip-handler/interface/style.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/bundler.config.js
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/data/transforms/waterfall.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/content-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/shape-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/model/title-model.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom/utils/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/interface/style.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/theme/builtin/common/component/legend/discrete-legend.ts
  packages/vchart/src/theme/builtin/common/component/tooltip.ts
  packages/vchart/src/theme/builtin/dark/color-scheme.ts
  packages/vchart/src/theme/builtin/light/color-scheme.ts
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, bundler, vchart-schema, docs, vchart-types, openinula-vchart

#2755 refactor: refactor linear progress
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/series/linearProgres.test.ts
  packages/vchart/src/series/progress/linear/linear.ts
Labels: vchart

#2844 Revert "refactor: refactor linear progress"
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/series/linearProgres.test.ts
  packages/vchart/src/series/progress/linear/linear.ts
Labels: vchart

#2846 Refactor/linear progress
  common/changes/@visactor/vchart/refactor-linear-progress_2024-06-24-03-12.json
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/series/linearProgres.test.ts
  packages/vchart/src/series/progress/linear/linear.ts
Labels: vchart, chore

#2845 Size/plugin size
  packages/vchart/bundler.config.js
  packages/vchart/src/core/index.ts
  packages/vchart/src/index-wx.ts
Labels: vchart, bundler

#2849 docs: update menu of guide
  docs/assets/guide/menu.json
Labels: docs

#2837 Fix/update spec dose not run update animation
  common/changes/@visactor/vchart/fix-updateSpec-dose-not-run-update-animation_2024-06-21-04-06.json
  packages/vchart/__tests__/unit/morph/morph.test.ts
  packages/vchart/src/animation/animate-manager.ts
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#2857 fix(animation): rose animation not work when update twice. fix#2856
  common/changes/@visactor/vchart/fix-rose-animation-not-work_2024-06-26-11-30.json
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/series/rose/animation.ts
Labels: vchart, chore

#2862 Fix/gradient background
  common/changes/@visactor/vchart/fix-gradient-background_2024-06-27-02-37.json
  docs/assets/option/en/common/background.md
  docs/assets/option/zh/common/background.md
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/theme/interface.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/visual.ts
Labels: vchart, chore, typescript, docs

#2860 docs: add the guid of promotion issue
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Labels: docs

#2864 Fix/tooltip theme type
  common/changes/@visactor/vchart/fix-tooltip-theme-type_2024-06-27-04-39.json
  packages/vchart/src/component/tooltip/interface/theme.ts
Labels: vchart, chore

#2861 fix: upgrade vrender to 0.19.14, vgrammar to 0.13.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2875 fix: specify clip animation direction in line/area mark
  common/changes/@visactor/vchart/fix-clip-animation-specify-direction_2024-06-28-09-16.json
  packages/vchart/src/animation/config.ts
  packages/vchart/src/series/line/animation.ts
Labels: vchart, chore

#2876 Fix/polar animation
  common/changes/@visactor/vchart/fix-polar-animation_2024-06-28-09-35.json
  packages/vchart/src/series/polar/animation.ts
Labels: vchart, chore

#2877 fix: update vrender to 0.19.15, vgrammar to 0.13.12
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart
