Repository VisActor/VChart, pull requests merged in 2024-08, with the labels that each got.

#3011 fix: charts should not stack when only specify `stackValue` but `stac…
  common/changes/@visactor/vchart/fix-stack-value_2024-07-27-03-41.json
  packages/vchart/src/series/base/base-series-transformer.ts
Labels: vchart, chore

#3017 docs: add bussiness funnel demo
  docs/assets/examples/en/custom/business-funnel.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/custom/business-funnel.md
  docs/public/vchart/preview/business-funnel-with-bar_1.11.10.png
Labels: docs

#3014 Fix/crosshair of histogram
  common/changes/@visactor/vchart/fix-crosshair-of-histogram_2024-07-29-02-38.json
  packages/vchart/src/component/crosshair/utils/common.ts
Labels: vchart, chore

#3026 fix: use `vglobal.getElementById` to replace `document.getElementById`
  common/changes/@visactor/vchart/fix-document-api_2024-07-31-09-38.json
  packages/vchart/src/chart/util.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#3019 fix: curveType monotone in seriesStyle not work
  common/changes/@visactor/vchart/fix-seriesStyle-not-work_2024-08-01-02-29.json
  docs/assets/option/en/mark/area.md
  docs/assets/option/en/mark/line.md
  docs/assets/option/zh/mark/area.md
  docs/assets/option/zh/mark/line.md
  packages/vchart/src/constant/index.ts
  packages/vchart/src/mark/base/base-line.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/utils/common.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/typings/interpolate.ts
Labels: vchart, chore, docs

#3025 fix: fix `lockAfterClick` of tooltip, related #1574
  common/changes/@visactor/vchart/fix-lock-after_click_2024-07-31-09-31.json
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3030 fix: prevent mark level pointerup when drag end
  common/changes/@visactor/vchart/fix-prevent-handler_2024-08-01-09-23.json
  packages/vchart/src/event/bubble.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/event/event.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore, typescript

#3032 feat: upgrade vrender to 0.19.20, to support `catmullRom` and `catmul…
  common/changes/@visactor/vchart/feat-new-curve-type_2024-08-01-11-07.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/mark/area.md
  docs/assets/option/en/mark/line.md
  docs/assets/option/zh/mark/area.md
  docs/assets/option/zh/mark/line.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/typings/interpolate.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3040 Fix/update theme font family
  common/changes/@visactor/vchart/fix-update-theme-font-family_2024-08-05-11-04.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#3044 fix: `updateData` incorrect with datazoom
  common/changes/@visactor/vchart/fix-update-data-incorrect-with-datazoom_2024-08-05-12-22.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
Labels: vchart, chore

#3034 Fix/liquid gradient
  common/changes/@visactor/vchart/fix-liquid-gradient_2024-07-24-09-50.json
  common/changes/@visactor/vchart/fix-liquid-gradient_2024-08-02-04-12.json
  packages/vchart/__tests__/runtime/browser/test-page/liquid.ts
  packages/vchart/src/series/interface/type.ts
  packages/vchart/src/series/liquid/animation.ts
  packages/vchart/src/series/liquid/constant.ts
  packages/vchart/src/series/liquid/liquid.ts
  packages/vchart/src/series/liquid/util.ts
Labels: vchart, chore, typescript

#3033 feat: label line support custom path. close#3000
  common/changes/@visactor/vchart/feat-label-line-costom-path_2024-08-01-17-51.json
  common/config/rush/pnpm-config.json
  docs/assets/option/en/component/marker-common/marker-label.md
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/component/marker-common/marker-label.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/__tests__/runtime/browser/test-page/markline.ts
  packages/vchart/__tests__/runtime/browser/test-page/pie-label.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/series/pie/interface.ts
Labels: vchart, chore, typescript, docs

#3039 feat: support theme config by chart type
  common/changes/@visactor/vchart/feat-theme-by-charttype_2024-08-05-09-51.json
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/theme/interface.ts
Labels: vchart, chore, typescript

#3046 feat: add grid mark to axis `getVRenderComponents`
  packages/vchart/src/component/axis/base-axis.ts
Labels: vchart

#2929 Feat/wordcloud text shape
  common/changes/@visactor/vchart/feat-wordcloud-text-shape_2024-07-05-14-54.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/word-cloud-chart/word-cloud-shape-geometry.md
  docs/assets/examples/en/word-cloud-chart/word-cloud-shape-text.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/word-cloud-chart/word-cloud-shape-geometry.md
  docs/assets/examples/zh/word-cloud-chart/word-cloud-shape-text.md
  docs/assets/option/en/series/word-cloud.md
  docs/assets/option/zh/series/word-cloud.md
  docs/package.json
  docs/vite.config.js
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/node/wordcloud.js
  packages/vchart/__tests__/unit/chart/word-cloud.test.ts
  packages/vchart/package.json
  packages/vchart/src/chart/word-cloud/word-cloud-transformer.ts
  packages/vchart/src/series/interface/type.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/series/word-cloud/constant.ts
  packages/vchart/src/series/word-cloud/interface.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3058 type: supply interface defination, related #3024
  packages/vchart/src/core/interface.ts
Labels: vchart, typescript

#3074 Fix/brush error
  common/changes/@visactor/vchart/fix-brush-error_2024-08-09-07-07.json
  packages/vchart/src/component/brush/brush.ts
Labels: vchart, chore

#3076 fix: fix issue with harmony event
  common/changes/@visactor/vchart/fix-harmony-event_2024-08-12-02-50.json
  packages/vchart/src/util/env.ts
Labels: vchart, chore

#3080 fix: should not rewrite seriesField when configured in funnel series
  common/changes/@visactor/vchart/fix-funnel-seriesField_2024-08-12-10-52.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore

#3071 Feat/region padding
  common/changes/@visactor/vchart/feat-region-padding_2024-08-09-05-30.json
  packages/vchart/src/layout/base-layout.ts
Labels: vchart, chore

#3078 Fix/react vchart types
  common/changes/@visactor/vchart/fix-react-vchart-types_2024-08-12-01-34.json
  packages/react-vchart/src/charts/AreaChart.tsx
  packages/react-vchart/src/charts/Bar3dChart.tsx
  packages/react-vchart/src/charts/BarChart.tsx
  packages/react-vchart/src/charts/BoxPlotChart.tsx
  packages/react-vchart/src/charts/CirclePackingChart.tsx
  packages/react-vchart/src/charts/CircularProgressChart.tsx
  packages/react-vchart/src/charts/CommonChart.tsx
  packages/react-vchart/src/charts/CorrelationChart.tsx
  packages/react-vchart/src/charts/Funnel3dChart.tsx
  packages/react-vchart/src/charts/FunnelChart.tsx
  packages/react-vchart/src/charts/GaugeChart.tsx
  packages/react-vchart/src/charts/HeatmapChart.tsx
  packages/react-vchart/src/charts/Histogram3dChart.tsx
  packages/react-vchart/src/charts/HistogramChart.tsx
  packages/react-vchart/src/charts/LineChart.tsx
  packages/react-vchart/src/charts/LinearProgressChart.tsx
  packages/react-vchart/src/charts/LiquidChart.tsx
  packages/react-vchart/src/charts/MapChart.tsx
  packages/react-vchart/src/charts/Pie3dChart.tsx
  packages/react-vchart/src/charts/PieChart.tsx
  packages/react-vchart/src/charts/RadarChart.tsx
  packages/react-vchart/src/charts/RangeColumn3dChart.tsx
  packages/react-vchart/src/charts/RangeColumnChart.tsx
  packages/react-vchart/src/charts/RoseChart.tsx
  packages/react-vchart/src/charts/SankeyChart.tsx
  packages/react-vchart/src/charts/ScatterChart.tsx
  packages/react-vchart/src/charts/SequenceChart.tsx
  packages/react-vchart/src/charts/SunburstChart.tsx
  packages/react-vchart/src/charts/TreemapChart.tsx
  packages/react-vchart/src/charts/WaterfallChart.tsx
  packages/react-vchart/src/charts/WordCloud3dChart.tsx
  packages/react-vchart/src/charts/WordCloudChart.tsx
Labels: chore, react-vchart

#3084 docs: update richtext docs path
  docs/assets/guide/en/tutorial_docs/extend/Richtext_and_Dom.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/extend/Richtext_and_Dom.md
  docs/assets/option/en/component/axis-common/axis-label.md
  docs/assets/option/en/component/indicator/indicator-item.md
  docs/assets/option/en/component/label.md
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/zh/component/axis-common/axis-label.md
  docs/assets/option/zh/component/indicator/indicator-item.md
  docs/assets/option/zh/component/label.md
  docs/assets/option/zh/component/legend-discrete.md
Labels: docs

#3069 Feat/pie layout radius
  common/changes/@visactor/vchart/feat-pie-layout-radius_2024-08-09-04-21.json
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  packages/vchart/src/chart/pie/base/pie-transformer.ts
  packages/vchart/src/chart/polar/interface.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/polar/interface/spec.ts
  packages/vchart/src/component/axis/polar/util/common.ts
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore, typescript, docs

#3079 Feat/angle axis polygon domain line
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3083 Fix/gauge angle
  common/changes/@visactor/vchart/fix-gauge-angle_2024-08-13-19-43.json
  packages/vchart/src/series/gauge/gauge.ts
Labels: vchart, chore

#3090 fix: y-axis is reverted after brush zoomin. fix#3089
  common/changes/@visactor/vchart/fix-brush-zoomIn_2024-08-15-04-02.json
  packages/vchart/src/component/brush/brush.ts
Labels: vchart, chore

#3092 Feat/tick mode
  docs/assets/option/en/component/axis-common/base-axis.md
  docs/assets/option/zh/component/axis-common/base-axis.md
  packages/vchart/__tests__/unit/component/cartesian/axis/linear-axis.test.ts
  packages/vchart/src/component/axis/interface/common.ts
Labels: vchart, docs

#3098 docs: fix error customized layout error
  docs/assets/guide/zh/tutorial_docs/Layout/Layout_Cases/example-custom.md
Labels: docs

#3097 feat: add `changePlayerIndex` API into player component
  packages/vchart/src/component/player/player.ts
Labels: vchart

#3112 Fix: media query update spec will missing spec info
  common/changes/@visactor/vchart/fix-media-query-updateSpec_2024-08-20-09-38.json
  packages/vchart/src/chart/base/base-chart-transformer.ts
Labels: vchart, chore

#3113 Fix/brush x axis
  common/changes/@visactor/vchart/fix-brush-x-axis_2024-08-20-11-09.json
  packages/vchart/src/component/brush/brush.ts
Labels: vchart, chore

#3115 docs: update guide of vchart-svg-plugin
  docs/assets/examples/en/word-cloud-chart/word-cloud-shape-geometry.md
  docs/assets/examples/en/word-cloud-chart/word-cloud-shape-text.md
  docs/assets/examples/zh/word-cloud-chart/word-cloud-shape-geometry.md
  docs/assets/examples/zh/word-cloud-chart/word-cloud-shape-text.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/svg.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/svg.md
  docs/public/vchart/preview/word-cloud-chart-word-cloud-shape-geometry_1.12.0.png
  docs/public/vchart/preview/word-cloud-chart-word-cloud-shape-text_1.12.0.png
Labels: docs

#3114 Docs/udpate docs of circular progress
  common/changes/@visactor/vchart/docs-udpate-docs-of-circular-progress_2024-08-20-11-53.json
  docs/assets/examples/en/storytelling/weekly-activity.md
  docs/assets/examples/zh/storytelling/weekly-activity.md
  docs/assets/guide/en/tutorial_docs/Chart_Types/Progress.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Progress.md
  docs/assets/option/en/common/polar-series.md
  docs/assets/option/en/common/series.md
  docs/assets/option/en/series/circular-progress.md
  docs/assets/option/zh/common/polar-series.md
  docs/assets/option/zh/common/series.md
  docs/assets/option/zh/series/circular-progress.md
Labels: chore, docs

#3120 Fix/tooltip when inner offset
  common/changes/@visactor/vchart/fix-tooltip-when-innerOffset_2024-08-21-04-01.json
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip.md
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/event/events/dimension/util/cartesian.ts
Labels: vchart, chore, docs

#3125 fix: wordcloud fill not update after updateSpec. fix#3122
  common/changes/@visactor/vchart/fix-word-cloud-fill_2024-08-23-06-10.json
  packages/vchart/__tests__/unit/chart/word-cloud.test.ts
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart, chore

#3134 Docs/demo and docs update
  common/changes/@visactor/vchart/docs-demo-and-docs-update_2024-08-26-06-59.json
  docs/assets/examples/en/pie-chart/richtext-autoEllipsis.md
  docs/assets/examples/en/pie-chart/richtext-autowrap.md
  docs/assets/examples/en/treemap-chart/treemap-show-parent-level.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pie-chart/richtext-autoEllipsis.md
  docs/assets/examples/zh/pie-chart/richtext-autowrap.md
  docs/assets/examples/zh/treemap-chart/treemap-show-parent-level.md
  docs/assets/option/en/series/treemap.md
  docs/assets/option/zh/series/treemap.md
  docs/public/vchart/preview/pie-richtext-autoEllipsis_1.12.1.png
  docs/public/vchart/preview/pie-richtext-autowrap_1.12.1.png
Labels: chore, docs

#3121 Fix: treemap issues
  packages/vchart/src/data/transforms/legend-data/continuous/continuous.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/treemap/tooltip-helper.ts
  packages/vchart/src/series/treemap/treemap.ts
Labels: vchart

#3136 fix: wordcloud scale update not work. fix#3129
  common/changes/@visactor/vchart/fix-word-cloud-scale-update_2024-08-23-14-08.json
  packages/vchart/src/scale/global-scale.ts
Labels: vchart, chore

#3133 Fix/update spec error
  common/changes/@visactor/vchart/fix-update-spec-error_2024-08-26-08-23.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#3150 Fix/bar width null
  common/changes/@visactor/vchart/fix-bar-width-null_2024-08-29-07-59.json
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, chore

#3154 Fix/normal animation not work
  common/changes/@visactor/vchart/fix-normal-animation-not-work_2024-08-30-08-12.json
  packages/vchart/src/animation/utils.ts
Labels: vchart, chore
