Repository VisActor/VChart, pull requests merged in 2024-09, with the labels that each got.

#3159 Feat/brush empty
  common/changes/@visactor/vchart/feat-brush-empty_2024-07-20-20-44.json
  docs/assets/option/en/component/brush.md
  docs/assets/option/zh/component/brush.md
  packages/vchart/__tests__/runtime/browser/test-page/data-zoom-brush-line.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/brush/interface.ts
Labels: vchart, chore, typescript, docs

#3149 feat: add `inverse` to sankey
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/series/sankey.md
  docs/assets/option/zh/series/sankey.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/sankey/sankey-transformer.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3130 fix: add segments attribute to line/area update animation
  packages/vchart/src/animation/config.ts
Labels: vchart

#3126 fix: indicator stop tooltip interactive. fix#3123
  common/changes/@visactor/vchart/fix-indicator-interactive_2024-08-23-06-40.json
  packages/vchart/src/component/indicator/indicator.ts
Labels: vchart, chore

#3157 fix: rangeMode of scrollbar not work. fix#3147
  common/changes/@visactor/vchart/develop_2024-09-01-15-51.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
Labels: vchart, chore

#3143 Fix/sankey event error
  common/changes/@visactor/vchart/fix-sankey-event-error_2024-08-28-02-45.json
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore

#3140 feat: support label position `inside-center` in pie chart
  common/changes/@visactor/vchart/feat-support-pie-inside-center-label_2024-09-02-11-53.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/series/pie.md
  docs/assets/option/zh/series/pie.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/series/pie/interface.ts
  packages/vchart/src/series/pie/pie-transformer.ts
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3138 Refactor/tooltip pattern parser
  common/changes/@visactor/vchart/refactor-tooltip-pattern-parser_2024-08-27-04-06.json
  packages/vchart/src/component/tooltip/constant.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/component/tooltip/processor/dimension-tooltip.ts
  packages/vchart/src/component/tooltip/processor/group-tooltip.ts
  packages/vchart/src/component/tooltip/processor/interface.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
  packages/vchart/src/component/tooltip/tooltip-transformer.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/common.ts
  packages/vchart/src/component/tooltip/utils/compose.ts
  packages/vchart/src/component/tooltip/utils/get-spec.ts
  packages/vchart/src/component/tooltip/utils/index.ts
  packages/vchart/src/component/tooltip/utils/pattern.ts
  packages/vchart/src/event/events/dimension/util/cartesian.ts
  packages/vchart/src/event/events/dimension/util/polar.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/series/base/tooltip-helper.ts
  packages/vchart/src/series/dot/tooltip-helper.ts
  packages/vchart/src/series/interface/series.ts
  packages/vchart/src/series/polar/polar.ts
Labels: vchart, chore, typescript

#3173 Fix/disable label animation by option
  common/changes/@visactor/vchart/fix-disable-label-animation-by-option_2024-09-04-03-50.json
  packages/vchart/src/series/base/base-series-transformer.ts
Labels: vchart, chore

#3182 Fix/vrender 0.20.2
  common/changes/@visactor/vchart/fix-vrender-0.20.2_2024-09-05-03-49.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3186 chore: enlarge bugserver trigger intercal
  packages/vchart/scripts/trigger-test.ts
Labels: vchart

#3189 Feat: update bundle config vchart extension & fix bugs
  common/config/rush/pnpm-lock.yaml
  packages/vchart-extension/bundler.config.js
  packages/vchart-extension/package.json
  packages/vchart-extension/src/ranking-bar/ranking-bar-transformer.ts
  packages/vchart-extension/src/ranking-bar/ranking-bar.ts
Labels: chore, bundler

#3196 docs: add nuxtjs on-demand loading
  docs/assets/guide/en/tutorial_docs/Load_on_Demand.md
  docs/assets/guide/zh/tutorial_docs/Load_on_Demand.md
Labels: docs

#3194 fix: crosshair won't update when switch theme
  common/changes/@visactor/vchart/fix-switch-theme-crosshair_2024-09-05-21-52.json
  packages/vchart/__tests__/runtime/browser/test-page/switch-theme.ts
  packages/vchart/src/component/crosshair/cartesian.ts
Labels: vchart, chore

#3198 Fix/z index of pie
  common/changes/@visactor/vchart/fix-z-index-of-pie_2024-09-06-06-49.json
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/constant/layout.ts
  packages/vchart/src/region/region.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/pie/pie.ts
Labels: vchart, chore

#3192 Fix/word cloud layout
  common/changes/@visactor/vchart/fix-word-cloud-layout_2024-09-05-12-59.json
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart, chore

#3175 chore: clear state when updateSpec. fix#3162
  common/changes/@visactor/vchart/fix-state-update_2024-09-04-06-50.json
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/interaction/interaction.ts
  packages/vchart/src/interaction/interface.ts
Labels: vchart, chore, typescript, docs

#3195 fix: bind first axis to series but not last. fix#3139
  common/changes/@visactor/vchart/fix-axis-bind_2024-09-06-04-17.json
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/util.ts
  packages/vchart/src/series/polar/polar.ts
Labels: vchart, chore

#3202 feat: stackCornerRadius support callback. feat#3164
  common/changes/@visactor/vchart/feat-corner-radius_2024-09-07-14-23.json
  docs/assets/option/en/series/bar-style.md
  docs/assets/option/zh/series/bar-style.md
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/bar/interface.ts
Labels: vchart, chore, typescript, docs

#3197 docs: make docs about sort and transforms clearer
  docs/assets/option/en/common/data.md
  docs/assets/option/zh/common/data.md
Labels: docs

#3203 feat: add `crossNodeAlign` to sankey
  common/changes/@visactor/vchart/feat-sankey-cross-node-align_2024-09-09-07-11.json
  docs/assets/option/en/series/sankey.md
  docs/assets/option/zh/series/sankey.md
  packages/vchart/__tests__/runtime/browser/test-page/sankey.ts
  packages/vchart/src/chart/sankey/sankey-transformer.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore, typescript, docs

#3128 Feat/axis break
  common/changes/@visactor/vchart/feat-axis-break_2024-09-09-04-40.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/examples/en/axis/axis-break.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/axis/axis-break.md
  docs/assets/option/en/component/axis-common/linear-axis.md
  docs/assets/option/zh/component/axis-common/linear-axis.md
  docs/public/vchart/preview/axis-break_1.12.2.png
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/__tests__/unit/component/cartesian/axis/util/break-data.test.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/interface/common.ts
  packages/vchart/src/component/axis/cartesian/linear-axis.ts
  packages/vchart/src/component/axis/interface/common.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/axis/mixin/linear-axis-mixin.ts
  packages/vchart/src/component/axis/mixin/util/break-data.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/util.ts
  packages/vchart/src/plugin/components/axis-sync/tick-align-transform.ts
  packages/vchart/src/plugin/components/axis-sync/zero-align-transform.ts
  packages/vchart/src/util/array.ts
Labels: vchart, chore, docs

#3206 Feat/label animate config
  common/changes/@visactor/vchart/feat-label-animate-config_2024-09-09-03-52.json
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/series/base/base-series-transformer.ts
Labels: vchart, chore, typescript

#3205 Feat/axis auto limit overflow limit length
  common/changes/@visactor/vchart/feat-axis-autoLimit-overflowLimitLength_2024-09-09-07-49.json
  packages/vchart/src/component/axis/cartesian/axis.ts
Labels: vchart, chore

#3211 docs: add axis label autoWrap option
  docs/assets/examples/en/axis/axis-label-autoWrap.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/axis/axis-label-autoWrap.md
  docs/assets/option/en/component/axis-common/cartesian-axis.md
  docs/assets/option/zh/component/axis-common/cartesian-axis.md
  docs/public/vchart/preview/axis-label-autoWrap_1.12.5.png
Labels: docs

#3204 fix: fix error of parse group encode
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/dot/dot.ts
  packages/vchart/src/series/radar/radar.ts
Labels: vchart, typescript

#3212 Fix/wordcloud font weight
  common/changes/@visactor/vchart/fix-wordcloud-font-weight_2024-09-10-03-28.json
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/theme/builtin/common/mark.ts
Labels: vchart, chore

#3216 Fix/fix typos of faq 86
  common/changes/@visactor/vchart/fix-fix-typos-of-faq-86_2024-09-11-06-35.json
  docs/assets/faq/en/86-How to clear charts and data.md
  docs/assets/faq/zh/86-How to clear charts and data.md
Labels: chore, docs

#3214 Refactor/simplify get spec info
  common/changes/@visactor/vchart/refactor-simplify-get-spec-info_2024-09-10-11-30.json
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/interface/common.ts
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/component/map-label/component.ts
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/player/player.ts
  packages/vchart/src/component/title/title.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/util.ts
Labels: vchart, chore

#3220 Fix/fix extension mark event
  common/changes/@visactor/vchart/fix-fix-extension-mark-event_2024-09-12-08-48.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3217 Fix/radar negative radius
  common/changes/@visactor/vchart/fix-radar-negative-radius_2024-09-11-08-52.json
  packages/vchart/src/series/polar/animation.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/util/math.ts
Labels: vchart, chore

#3213 docs: fix tooltip tutorial chinese version
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Tooltip.md
Labels: docs

#3229 fix: allow indicator spec in polar chart
  common/changes/@visactor/vchart/fix-indicator-type_2024-09-13-07-16.json
  packages/vchart/src/chart/pie/interface.ts
  packages/vchart/src/chart/polar/interface.ts
Labels: vchart, chore, typescript

#3246 docs: add vscreen demos
  docs/assets/examples/en/vscreen/area-growth.md
  docs/assets/examples/en/vscreen/area-load.md
  docs/assets/examples/en/vscreen/bar-highlight.md
  docs/assets/examples/en/vscreen/bar-streamlight.md
  docs/assets/examples/en/vscreen/bilateral-growth.md
  docs/assets/examples/en/vscreen/column-parallel-highlight.md
  docs/assets/examples/en/vscreen/column-parallel-streamlight.md
  docs/assets/examples/en/vscreen/double-axis-load.md
  docs/assets/examples/en/vscreen/funnel.md
  docs/assets/examples/en/vscreen/gauge.md
  docs/assets/examples/en/vscreen/line-growth.md
  docs/assets/examples/en/vscreen/line-load.md
  docs/assets/examples/en/vscreen/liquid.md
  docs/assets/examples/en/vscreen/pie-relocate.md
  docs/assets/examples/en/vscreen/pie-scale.md
  docs/assets/examples/en/vscreen/radar-ridial.md
  docs/assets/examples/en/vscreen/sankey.md
  docs/assets/examples/en/vscreen/scatter-ripple.md
  docs/assets/examples/en/vscreen/word-cloud-scale.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/vscreen/area-growth.md
  docs/assets/examples/zh/vscreen/area-load.md
  docs/assets/examples/zh/vscreen/bar-highlight.md
  docs/assets/examples/zh/vscreen/bar-streamlight.md
  docs/assets/examples/zh/vscreen/bilateral-growth.md
  docs/assets/examples/zh/vscreen/column-parallel-highlight.md
  docs/assets/examples/zh/vscreen/column-parallel-streamlight.md
  docs/assets/examples/zh/vscreen/double-axis-load.md
  docs/assets/examples/zh/vscreen/funnel.md
  docs/assets/examples/zh/vscreen/gauge.md
  docs/assets/examples/zh/vscreen/line-growth.md
  docs/assets/examples/zh/vscreen/line-load.md
  docs/assets/examples/zh/vscreen/liquid.md
  docs/assets/examples/zh/vscreen/pie-relocate.md
  docs/assets/examples/zh/vscreen/pie-scale.md
  docs/assets/examples/zh/vscreen/radar-ridial.md
  docs/assets/examples/zh/vscreen/sankey.md
  docs/assets/examples/zh/vscreen/scatter-ripple.md
  docs/assets/examples/zh/vscreen/word-cloud-scale.md
  docs/public/vchart/preview/area-growth.gif
  docs/public/vchart/preview/area-load.gif
  docs/public/vchart/preview/bar-highlight.gif
  docs/public/vchart/preview/bar-streamlight.gif
  docs/public/vchart/preview/bilateral-growth.gif
  docs/public/vchart/preview/column-parallel-highlight.gif
  docs/public/vchart/preview/column-parallel-streamlight.gif
  docs/public/vchart/preview/double-axis-load.gif
  docs/public/vchart/preview/line-growth.gif
  docs/public/vchart/preview/line-load.gif
  docs/public/vchart/preview/pie-relocate.gif
  docs/public/vchart/preview/pie-scale.gif
  docs/public/vchart/preview/radar-ridial.gif
  docs/public/vchart/preview/scatter-ripple.gif
  docs/public/vchart/preview/vscreen-funnel.png
  docs/public/vchart/preview/vscreen-gauge.png
  docs/public/vchart/preview/vscreen-liquid.gif
  docs/public/vchart/preview/vscreen-sankey.png
  docs/public/vchart/preview/word-cloud-scale.gif
Labels: docs

#3247 Feat/add lift cycle for vstory
  common/changes/@visactor/vchart/feat-add-lift-cycle-for-vstory_2024-09-19-07-26.json
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, chore

#3236 Fix/update of label
  common/changes/@visactor/vchart/fix-update-of-label_2024-09-14-03-18.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/__tests__/unit/function/register-function.test.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/base/constant.ts
Labels: vchart, chore

#3245 fix: position error in bar chart
  common/changes/@visactor/vchart/fix-position-function-error_2024-09-19-10-59.json
  packages/vchart/src/component/label/util.ts
Labels: vchart, chore

#3234 fix: gauge pointer mistakenly appears in the legend of gauge chart
  common/changes/@visactor/vchart/fix-legend-has-gauge-pointer_2024-09-14-06-04.json
  packages/vchart/__tests__/runtime/browser/test-page/gauge-legend.ts
  packages/vchart/src/data/transforms/legend-data/discrete/discrete.ts
Labels: vchart, chore

#3226 Fix/custom mark event
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/mosaic/mosaic.ts
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/component/custom-mark/custom-mark.ts
  packages/vchart/src/component/label/base-label.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/data/transforms/legend-data/discrete/discrete.ts
  packages/vchart/src/region/region.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3249 feat: angle-axis of polar charts support auto-limit
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/polar/interface/spec.ts
Labels: vchart

#3251 fix: radar animation optimization
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/series/polar/animation.ts
  packages/vchart/src/series/radar/animation.ts
  packages/vchart/src/series/radar/radar.ts
Labels: vchart

#3232 fix: color of linear progress track in dark mode
  common/changes/@visactor/vchart/fix-dark-bar-background-linearprogress_2024-09-14-04-47.json
  packages/vchart/__tests__/runtime/browser/test-page/switch-theme.ts
  packages/vchart/src/theme/builtin/common/series/linear-progress.ts
  packages/vchart/src/theme/builtin/dark/color-scheme.ts
  packages/vchart/src/theme/builtin/light/color-scheme.ts
Labels: vchart, chore

#3270 Feat/funnel outer label min line width
  common/changes/@visactor/vchart/feat-funnel-outerLabel-minLineWidth_2024-09-24-11-40.json
  docs/assets/option/en/series/funnel.md
  docs/assets/option/zh/series/funnel.md
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/funnel/interface.ts
Labels: vchart, chore, typescript, docs

#3266 fix: fix updateSpec when add attributes `width`, `height` to `spec`
  common/changes/@visactor/vchart/fix-update-spec-width-height_2024-09-24-09-59.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#3240 Fix/datazoom statefield
  common/changes/@visactor/vchart/fix-datazoom-statefield_2024-09-18-03-43.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/util.ts
Labels: vchart, chore

#3262 Feat/react vchart morphing
  common/changes/@visactor/vchart/feat-react-vchart-morphing_2024-09-14-02-31.json
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react.md
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: chore, react-vchart, docs

#3269 fix: fix title of axis when the bounds is empty, fix #3265
  common/changes/@visactor/vchart/fix-empty-axis-title_2024-09-24-11-23.json
  packages/vchart/src/component/axis/cartesian/axis.ts
Labels: vchart, chore

#3276 Fix/media query when update
  common/changes/@visactor/vchart/fix-media-query-when-update_2024-09-27-03-33.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/plugin/chart/media-query/media-query.ts
  packages/vchart/src/plugin/chart/plugin-service.ts
Labels: vchart, chore

#3275 fix: upgrade vrender to 0.20.6, vgrammar to 0.14.8, vutil to 0.18.17
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart
