Repository VisActor/VChart, pull requests merged in 2024-05, with the labels that each got.

#2607 Fix/wordcloud update data
  common/changes/@visactor/vchart/develop_2024-04-28-07-59.json
  packages/vchart/src/compile/data/compilable-data.ts
  packages/vchart/src/series/word-cloud/base.ts
Labels: vchart, chore

#2621 fix(scroll): scroll not work in ios. fix#1224
  common/changes/@visactor/vchart/develop_2024-04-30-08-38.json
  packages/vchart/src/component/common/trigger/mobile.ts
Labels: vchart, chore

#2626 fix: fix the dependencies of vutils-extension
  common/config/rush/pnpm-lock.yaml
  packages/vutils-extension/package.json
Labels: chore

#2603 feat: support ReactDOM of vrender
  docs/assets/api/zh/API/vchart.md
  docs/assets/examples-react/en/component/clock.md
  docs/assets/examples-react/en/component/common.md
  docs/assets/examples-react/en/component/ring.md
  docs/assets/examples-react/en/grammatical-tag/basic-column.md
  docs/assets/examples-react/en/grammatical-tag/nested-pie.md
  docs/assets/examples-react/en/react-attributes/funnel-react-attributes.md
  docs/assets/examples-react/en/theme/stack-radar.md
  docs/assets/examples-react/en/usage/basic-line.md
  docs/assets/examples-react/en/usage/basic-pie.md
  docs/assets/examples-react/en/usage/line-default-select.md
  docs/assets/examples-react/menu.json
  docs/assets/examples-react/zh/component/clock.md
  docs/assets/examples-react/zh/component/common.md
  docs/assets/examples-react/zh/component/ring.md
  docs/assets/examples-react/zh/grammatical-tag/basic-column.md
  docs/assets/examples-react/zh/grammatical-tag/nested-pie.md
  docs/assets/examples-react/zh/react-attributes/funnel-react-attributes.md
  docs/assets/examples-react/zh/theme/stack-radar.md
  docs/assets/examples-react/zh/usage/basic-line.md
  docs/assets/examples-react/zh/usage/basic-pie.md
  docs/assets/examples-react/zh/usage/line-default-select.md
  docs/assets/examples/en/custom/rect-html.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/custom/rect-html.md
  docs/assets/guide/en/tutorial_docs/Richtext_and_Dom.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Richtext_and_Dom.md
  docs/assets/option/en/graphic/attribute.md
  docs/assets/option/en/graphic/dom-attributes.md
  docs/assets/option/zh/graphic/attribute.md
  docs/assets/option/zh/graphic/dom-attributes.md
  docs/menu.json
  docs/public/vchart/preview/custom-rect-html_1.11.0.png
  docs/public/vchart/preview/funnel-react-attributes-1.11.0.png
  docs/src/main.tsx
  docs/src/markdown.tsx
  packages/react-vchart/demo/src/App.tsx
  packages/react-vchart/docs/1. 快速开始.md
  packages/react-vchart/docs/2.1 API设计.md
  packages/react-vchart/docs/2.2 统一图表标签.md
  packages/react-vchart/docs/2.3 语法化标签.md
  packages/react-vchart/docs/3. 事件交互.md
  packages/react-vchart/docs/4. 主题样式.md
  packages/react-vchart/docs/5. FAQ.md
  packages/react-vchart/docs/6. 更新日志.md
  packages/react-vchart/docs/README.md
  packages/vchart/src/compile/interface/compiler.ts
Labels: vchart, react-vchart, docs

#2631 Fix/range column spec
  common/changes/@visactor/vchart/develop_2024-05-07-04-11.json
  packages/vchart/src/chart/range-column/range-column-transformer.ts
Labels: vchart, chore

#2632 Fix/scatter invalid update
  common/changes/@visactor/vchart/fix-scatter-invalid-update_2024-05-07-06-43.json
  packages/vchart/src/series/scatter/scatter.ts
Labels: vchart, chore

#2585 Fix/sankey indicator
  common/changes/@visactor/vchart/fix-sankey-indicator_2024-04-28-10-31.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/api/en/API/vchart.md
  docs/assets/api/zh/API/vchart.md
  docs/assets/examples/en/sankey-chart/customized-node.md
  docs/assets/examples/en/sankey-chart/specified-node.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/sankey-chart/customized-node.md
  docs/assets/examples/zh/sankey-chart/specified-node.md
  docs/assets/option/en/series/sankey.md
  docs/assets/option/zh/series/sankey.md
  docs/package.json
  docs/public/vchart/preview/sankey-chart-customized-node-1.11.0.png
  docs/public/vchart/preview/sankey-chart-specified-node-1.11.0.png
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/chart/sankey/sankey-transformer.ts
  packages/vchart/src/chart/sankey/sankey.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/mark/interface.ts
  packages/vchart/src/core/interface.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/data/transforms/sankey.ts
  packages/vchart/src/series/sankey/interface.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sankey/tooltip-helper.ts
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#2639 Fix/select trigger off
  common/changes/@visactor/vchart/fix-select-trigger-off_2024-05-08-02-52.json
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#2638 fix: fix the highlight of sankey
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart

#2642 Fix/venn random layout
  common/changes/@visactor/vchart/fix-select-trigger-off_2024-05-08-02-52.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/component/tooltip/utils/compose.ts
  packages/vchart/src/component/tooltip/utils/get-spec.ts
  packages/vchart/src/plugin/chart/formatter/formatter.ts
  packages/vchart/src/plugin/components/register.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/typings/tooltip/line.ts
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2647 docs: richtext option & tutorial
  docs/assets/guide/en/tutorial_docs/Richtext_and_Dom.md
  docs/assets/guide/zh/tutorial_docs/Richtext_and_Dom.md
  docs/assets/option/en/component/axis-common/axis-label.md
  docs/assets/option/en/component/label.md
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/en/component/mark-point.md
  docs/assets/option/en/graphic/rich-text/rich-text-character.md
  docs/assets/option/en/graphic/rich-text/rich-text.md
  docs/assets/option/zh/component/axis-common/axis-label.md
  docs/assets/option/zh/component/label.md
  docs/assets/option/zh/component/legend-discrete.md
  docs/assets/option/zh/graphic/rich-text/rich-text-character.md
  docs/assets/option/zh/graphic/rich-text/rich-text.md
  packages/vchart/src/component/axis/interface/spec.ts
Labels: vchart, docs

#2650 Fix/fix render next tick after release
  common/changes/@visactor/vchart/fix-fix-renderNextTick-after-release_2024-05-09-04-16.json
  packages/vchart/src/compile/compiler.ts
Labels: vchart, chore

#2652 docs: supply documents of formatter plugin
  docs/assets/guide/en/tutorial_docs/Chart_Plugins/Formatter.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Chart_Plugins/Formatter.md
  docs/assets/option/en/component/axis-common/axis-label.md
  docs/assets/option/en/component/crosshair-common/crosshair-label.md
  docs/assets/option/en/component/data-zoom.md
  docs/assets/option/en/component/label.md
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/en/component/tooltip-common/tooltip-line-pattern.md
  docs/assets/option/zh/component/axis-common/axis-label.md
  docs/assets/option/zh/component/crosshair-common/crosshair-label.md
  docs/assets/option/zh/component/label.md
  docs/assets/option/zh/component/legend-discrete.md
  docs/assets/option/zh/component/tooltip-common/tooltip-line-pattern.md
  packages/vchart/src/typings/tooltip/line.ts
Labels: vchart, docs

#2651 Fix/sankey ctx function
  common/changes/@visactor/vchart/fix-sankey-ctx-function_2024-05-09-07-57.json
  docs/assets/examples/zh/sankey-chart/specified-node.md
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore, docs

#2661 Fix/empty spec
  common/changes/@visactor/vchart/fix-empty-spec_2024-05-11-01-05.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#2662 Fix/update data view full
  common/changes/@visactor/vchart/fix-update-data-view-full_2024-05-11-06-23.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#2668 docs: add custom animate doc
  common/changes/@visactor/vchart/develop_2024-05-13-08-43.json
  docs/assets/guide/en/tutorial_docs/extend/custom_animation.md
  docs/assets/guide/zh/tutorial_docs/extend/custom_animation.md
Labels: chore, docs

#2667 fix: fix issue with taro tt env, closed #2648
  common/changes/@visactor/vchart/fix-tt-taro_2024-05-13-08-27.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/lark-vchart/src/vchart/index.js
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/taro-vchart/src/components/general-chart/index.tsx
  packages/taro-vchart/src/index.tsx
  packages/taro-vchart/src/simple.tsx
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-schema/vchart.json
  packages/vchart-types/types/animation/utils.d.ts
  packages/vchart-types/types/component/legend/util.d.ts
  packages/vchart-types/types/core/vchart.d.ts
  packages/vchart-types/types/env/env.d.ts
  packages/vchart-types/types/layout/base-layout.d.ts
  packages/vchart-types/types/plugin/components/tooltip-handler/base.d.ts
  packages/vchart-types/types/series/base/base-series.d.ts
  packages/vchart-types/types/series/cartesian/cartesian.d.ts
  packages/vchart-types/types/typings/spec/common.d.ts
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vchart/src/compile/util.ts
  packages/vchart/src/env/env.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types, openinula-vchart

#2670 docs: perfect document for react-lynx-vchart
  common/changes/@visactor/vchart/docs-lynx-vchart_2024-05-13-10-22.json
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react-lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react-lynx.md
Labels: chore, docs

#2664 Fix/sampling flush
  common/changes/@visactor/vchart/fix-sampling-flush_2024-05-11-07-33.json
  packages/vutils-extension/src/transform/tick-data/util.ts
Labels: chore

#2672 fix: 标注更新问题修复
  common/changes/@visactor/vchart/fix-marker-updateSpec_2024-05-14-09-12.json
  packages/vchart/src/component/marker/base-marker.ts
  packages/vchart/src/component/marker/mark-line/base-mark-line.ts
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
Labels: vchart, chore

#2684 fix: fix issue with import registerTTEnv
  common/changes/@visactor/vchart/fix-tt-env_2024-05-15-03-49.json
  packages/taro-vchart/src/index.tsx
Labels: chore, taro-vchart

#2685 fix: change Chinese tilte to English
  docs/assets/examples/en/custom/rect-html.md
Labels: docs

#2679 Feat/crosshair follow tooltip
  common/changes/@visactor/vchart/feat-crosshair-follow-tooltip_2024-05-13-07-35.json
  docs/assets/option/en/component/crosshair.md
  docs/assets/option/zh/component/crosshair.md
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/tooltip/interface/event.ts
  packages/vchart/src/component/tooltip/processor/base.ts
  packages/vchart/src/component/tooltip/utils/show-tooltip.ts
  packages/vchart/src/event/events/dimension/interface.ts
Labels: vchart, chore, typescript, docs

#2689 refactor: remove unused static property
  packages/vchart/src/chart/area/area.ts
  packages/vchart/src/chart/bar/3d/bar-3d.ts
  packages/vchart/src/chart/bar/bar.ts
  packages/vchart/src/chart/box-plot/box-plot.ts
  packages/vchart/src/chart/circle-packing/circle-packing.ts
  packages/vchart/src/chart/common/common.ts
  packages/vchart/src/chart/correlation/correlation.ts
  packages/vchart/src/chart/funnel/3d/funnel-3d.ts
  packages/vchart/src/chart/funnel/funnel.ts
  packages/vchart/src/chart/gauge/gauge.ts
  packages/vchart/src/chart/heatmap/heatmap.ts
  packages/vchart/src/chart/histogram/3d/histogram-3d.ts
  packages/vchart/src/chart/histogram/histogram.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/chart/line/line.ts
  packages/vchart/src/chart/liquid/liquid.ts
  packages/vchart/src/chart/map/map.ts
  packages/vchart/src/chart/pie/3d/pie-3d.ts
  packages/vchart/src/chart/pie/pie.ts
  packages/vchart/src/chart/progress/circular/circular.ts
  packages/vchart/src/chart/progress/linear/linear.ts
  packages/vchart/src/chart/radar/radar.ts
  packages/vchart/src/chart/range-area/range-area.ts
  packages/vchart/src/chart/range-column/3d/range-column-3d.ts
  packages/vchart/src/chart/range-column/range-column.ts
  packages/vchart/src/chart/rose/rose.ts
  packages/vchart/src/chart/sankey/sankey.ts
  packages/vchart/src/chart/scatter/scatter.ts
  packages/vchart/src/chart/sequence/sequence.ts
  packages/vchart/src/chart/sunburst/sunburst.ts
  packages/vchart/src/chart/treemap/treemap.ts
  packages/vchart/src/chart/venn/venn.ts
  packages/vchart/src/chart/waterfall/waterfall.ts
  packages/vchart/src/chart/word-cloud/3d/word-cloud-3d.ts
  packages/vchart/src/chart/word-cloud/word-cloud.ts
Labels: vchart

#2687 docs: udpate options of discrete legend
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/zh/component/legend-discrete.md
Labels: docs

#2688 docs: add demo of react sync charts
  docs/assets/examples-react/en/events/sync-charts.md
  docs/assets/examples-react/menu.json
  docs/assets/examples-react/zh/events/sync-charts.md
  docs/public/vchart/preview/events-sync-charts_1.11.0.png
Labels: docs

#2692 fix: fix the issue of missing defaultDataIndex in extensionMarks
  common/changes/@visactor/vchart/fix-default-animation-index_2024-05-16-06-18.json
  packages/vchart/src/animation/utils.ts
Labels: vchart, chore

#2705 chore: fix the `unpkg` of package.json
  packages/vchart/package.json
Labels: vchart

#2707 docs: add contribution guide
  docs/assets/guide/en/tutorial_docs/Contribution_Guide.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Contribution_Guide.md
  docs/public/vchart/guide/contribution-guide/create-PR-2.png
  docs/public/vchart/guide/contribution-guide/create-PR.png
  docs/public/vchart/guide/contribution-guide/fork.PNG
  docs/public/vchart/guide/contribution-guide/issue-background.png
  docs/public/vchart/guide/contribution-guide/issue-checklist.png
  docs/public/vchart/guide/contribution-guide/related-issue.png
Labels: docs

#2699 docs: update docs of indicator
  docs/assets/guide/en/tutorial_docs/Chart_Concepts/Indicator.md
  docs/assets/guide/zh/tutorial_docs/Chart_Concepts/Indicator.md
  docs/assets/option/en/component/indicator/indicator.md
  docs/assets/option/zh/component/indicator/indicator.md
Labels: docs

#2693 Fix/sankey series field
  common/changes/@visactor/vchart/fix-sankey-series-field_2024-05-16-08-21.json
  packages/vchart/src/data/transforms/sankey.ts
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart, chore

#2709 Fix/layout level
  common/changes/@visactor/vchart/fix-layout-level_2024-05-20-06-41.json
  packages/vchart/src/model/layout-model.ts
Labels: vchart, chore

#2710 chore: support cross env scripts for develop
  common/autoinstallers/lint/change-all.ts
  common/autoinstallers/lint/commit-lint.js
  common/autoinstallers/lint/prettier.ts
  common/autoinstallers/run-script/run.ts
  common/config/rush/pnpm-lock.yaml
  packages/vchart/package.json
Labels: vchart, chore

#2712 Fix/set dimension index of linear
  common/changes/@visactor/vchart/fix-set-dimension-index-of-linear_2024-05-20-09-27.json
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/event/events/dimension/base.ts
Labels: vchart, chore

#2715 chore: add a workflow of publish which remove bug-server
  .github/workflows/publish.yml
Labels: chore

#2717 fix: area update animation not work
  common/changes/@visactor/vchart/fix-area-update-animation_2024-05-20-13-07.json
  packages/vchart/src/animation/config.ts
  packages/vchart/src/series/area/animation.ts
  packages/vchart/src/series/area/area.ts
Labels: vchart, chore

#2728 docs: update contribution guide
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  docs/assets/guide/en/tutorial_docs/Contribution_Guide.md
  docs/assets/guide/zh/tutorial_docs/Contribution_Guide.md
  docs/public/vchart/guide/contribution-guide/create-PR-2.png
  docs/public/vchart/guide/contribution-guide/create-PR.png
  docs/public/vchart/guide/contribution-guide/fork.PNG
  docs/public/vchart/guide/contribution-guide/issue-background.png
  docs/public/vchart/guide/contribution-guide/issue-checklist.png
  docs/public/vchart/guide/contribution-guide/related-issue.png
Labels: docs

#2730 chore: add docs of vchart upgrade
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

#2731 Fix/react component
  common/changes/@visactor/vchart/fix-react-component-id_2024-05-23-03-50.json
  packages/react-vchart/.eslintignore
  packages/react-vchart/.eslintrc.cjs
  packages/react-vchart/.eslintrc.js
  packages/react-vchart/demo/src/App.tsx
  packages/react-vchart/demo/vite.config.ts
  packages/react-vchart/src/components/BaseComponent.tsx
  packages/react-vchart/src/series/BaseSeries.tsx
  packages/react-vchart/src/util.ts
Labels: chore, react-vchart, eslint

#2732 chore: when build es5 , `targets` of `@babel/preset-env` should be `d…
  common/changes/@visactor/vchart/chore-es5-no-babel-runtime_2024-05-24-02-59.json
  packages/vchart/rollup.config.js
Labels: vchart, chore

#2733 chore: fix empty demo page at initail start in vchart
  packages/vchart/__tests__/runtime/browser/scripts/index.page.local.template.ts
Labels: vchart

#2700 refactor: remove vrender in vutil-extensions
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/cartesian/axis.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/plugin/components/axis-sync/tick-align-transform.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/util/math.ts
  packages/vchart/src/util/text.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  packages/vutils-extension/src/algorithm/binary-search.ts
  packages/vutils-extension/src/algorithm/index.ts
  packages/vutils-extension/src/index.ts
  packages/vutils-extension/src/spec/clone-deep.ts
  packages/vutils-extension/src/spec/common.ts
  packages/vutils-extension/src/spec/index.ts
  packages/vutils-extension/src/transform/tick-data/config.ts
  packages/vutils-extension/src/transform/tick-data/continuous.ts
  packages/vutils-extension/src/transform/tick-data/discrete/linear.ts
  packages/vutils-extension/src/transform/tick-data/discrete/polar-angle.ts
  packages/vutils-extension/src/transform/tick-data/index.ts
  packages/vutils-extension/src/transform/tick-data/interface.ts
  packages/vutils-extension/src/transform/tick-data/util.ts
  packages/vutils-extension/src/transform/tick-data/utils/polar-label-position.ts
  packages/vutils-extension/src/utils/index.ts
  packages/vutils-extension/src/utils/polar.ts
  packages/vutils-extension/src/utils/text.ts
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#2740 Fix/crosshiar hide
  common/changes/@visactor/vchart/fix-crosshiar-hide_2024-05-27-02-36.json
  packages/vchart/src/component/crosshair/base.ts
Labels: vchart, chore

#2735 Feat/polar layout radius
  packages/vchart/src/chart/polar/interface.ts
  packages/vchart/src/component/axis/polar/axis.ts
  packages/vchart/src/component/axis/polar/interface/common.ts
  packages/vchart/src/component/axis/polar/interface/spec.ts
  packages/vchart/src/component/axis/polar/util/common.ts
  packages/vchart/src/mark/arc.ts
  packages/vchart/src/series/pie/animation/centerOffset.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/polar/polar.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/util/math.ts
  packages/vchart/src/util/space.ts
Labels: vchart, typescript

#2741 Fix/marker line offset
  common/changes/@visactor/vchart/fix-marker-line-offset_2024-05-27-06-28.json
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
Labels: vchart, chore

#2737 Fix/auto bandsize
  common/changes/@visactor/vchart/fix-autoBandsize_2024-05-26-11-35.json
  docs/assets/examples/en/combination/bar-autoBandSize.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/combination/bar-autoBandSize.md
  docs/assets/option/en/chart/bar.md
  docs/assets/option/en/chart/common.md
  docs/assets/option/zh/chart/common.md
  docs/public/vchart/preview/bar-autoBandSize-1.11.2.png
  packages/vchart-types/types/series/bar/interface.d.ts
  packages/vchart/src/chart/bar/bar-transformer.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/common/common-transformer.ts
  packages/vchart/src/chart/common/interface.ts
Labels: vchart, chore, typescript, docs, vchart-types

#2748 fix: read center from `centerX` and `centerY`, update docs
  docs/assets/examples/en/gauge-chart/gauge-segment.md
  docs/assets/examples/zh/gauge-chart/gauge-segment.md
  docs/assets/option/en/common/chart-component.md
  docs/assets/option/en/common/polar-series.md
  docs/assets/option/zh/common/chart-component.md
  docs/assets/option/zh/common/polar-series.md
  packages/vchart/src/component/axis/polar/util/common.ts
  packages/vchart/src/series/polar/interface.ts
Labels: vchart, typescript, docs

#2753 chore: update vrender and vgrammar dependencies
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#2752 Fix/theme smooth grid not work
  common/changes/@visactor/vchart/fix-theme-smooth-grid-not-work_2024-05-29-09-15.json
  packages/vchart/src/chart/radar/radar-transformer.ts
Labels: vchart, chore

#2751 Fix/animation threshold
  common/changes/@visactor/vchart/fix-animation-threshold_2024-05-29-09-02.json
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/series/base/base-series.ts
Labels: vchart, chore

#2754 Fix/pie label interactive
  common/changes/@visactor/vchart/fix-pie-label-interactive_2024-05-29-09-55.json
  packages/vchart/src/theme/builtin/common/series/pie.ts
  packages/vchart/src/theme/builtin/common/series/pie3d.ts
Labels: vchart, chore

#2762 Fix/linear bar
  common/changes/@visactor/vchart/fix-linear-bar_2024-05-30-10-08.json
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, chore
