Repository VisActor/VChart, pull requests merged in 2025-05, with the labels that each got.

#3939 refactor: remove all the packages of vgrammar
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/geo/projection.ts
  packages/vchart/src/data/transforms/circle-packing.ts
  packages/vchart/src/data/transforms/correlation.ts
  packages/vchart/src/data/transforms/flatten.ts
  packages/vchart/src/data/transforms/sankey-links.ts
  packages/vchart/src/data/transforms/sankey-nodes.ts
  packages/vchart/src/data/transforms/sankey.ts
  packages/vchart/src/data/transforms/sunburst.ts
  packages/vchart/src/data/transforms/treemap.ts
  packages/vchart/src/data/transforms/venn.ts
  packages/vchart/src/index-harmony-mini.ts
  packages/vchart/src/index-harmony-simple.ts
  packages/vchart/src/index-harmony.ts
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx-simple.ts
  packages/vchart/src/index-wx.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/map/map.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/sunburst/interface.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/treemap/interface.ts
  packages/vchart/src/series/treemap/treemap.ts
  packages/vchart/src/series/venn/animation.ts
  packages/vchart/src/series/venn/venn.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/series/word-cloud/interface.ts
  packages/vchart/src/series/word-cloud/word-cloud.ts
  packages/vchart/src/util/math.ts
  packages/vchart/src/vchart-all.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3948 Fix/animation bugfix
  packages/vchart/src/series/polar/animation.ts
  packages/vchart/src/series/progress/linear/animation.ts
Labels: vchart

#3944 feat: use specifiedAnimationFrame to replace native RAF
  packages/vchart/src/compile/compiler.ts
Labels: vchart

#3775 feat: new chartType(imagecloud)
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/chart/image-cloud.md
  docs/assets/option/en/option.md
  docs/assets/option/en/series/image-cloud.md
  docs/assets/option/zh/chart/image-cloud.md
  docs/assets/option/zh/option.md
  docs/assets/option/zh/series/image-cloud.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/browser/test-page/image-cloud.ts
  packages/vchart/package.json
  packages/vchart/src/chart/image-cloud/image-cloud-transformer.ts
  packages/vchart/src/chart/image-cloud/image-cloud.ts
  packages/vchart/src/chart/image-cloud/index.ts
  packages/vchart/src/chart/image-cloud/interface.ts
  packages/vchart/src/chart/index.ts
  packages/vchart/src/chart/interface/type.ts
  packages/vchart/src/series/base/base-series.ts
  packages/vchart/src/series/box-plot/animation.ts
  packages/vchart/src/series/image-cloud/animation.ts
  packages/vchart/src/series/image-cloud/constant.ts
  packages/vchart/src/series/image-cloud/image-cloud.ts
  packages/vchart/src/series/image-cloud/index.ts
  packages/vchart/src/series/image-cloud/interface.ts
  packages/vchart/src/series/image-cloud/tooltip-helper.ts
  packages/vchart/src/series/index.ts
  packages/vchart/src/series/interface/type.ts
  packages/vchart/src/typings/visual.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3705 Perf/parse theme of visible components
  common/changes/@visactor/vchart/perf-parse-theme-of-visible-components_2025-02-05-11-53.json
  packages/vchart/__tests__/unit/chart/bar.test.ts
  packages/vchart/__tests__/unit/chart/histogram.test.ts
  packages/vchart/__tests__/unit/chart/line.test.ts
  packages/vchart/__tests__/unit/chart/linearProgress.test.ts
  packages/vchart/__tests__/unit/chart/rangeColumn.test.ts
  packages/vchart/__tests__/unit/chart/treemap.test.ts
  packages/vchart/__tests__/unit/chart/word-cloud.test.ts
  packages/vchart/__tests__/unit/component/cartesian/axis/linear-axis.test.ts
  packages/vchart/__tests__/unit/data/fields.test.ts
  packages/vchart/__tests__/unit/morph/morph.test.ts
  packages/vchart/__tests__/unit/scale/global-scale.test.ts
  packages/vchart/__tests__/util/context.ts
  packages/vchart/src/chart/base/base-chart-transformer.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/axis/cartesian/util/common.ts
  packages/vchart/src/component/axis/polar/util/common.ts
  packages/vchart/src/component/base/base-component-transformer.ts
  packages/vchart/src/component/base/util.ts
  packages/vchart/src/component/crosshair/utils/common.ts
  packages/vchart/src/component/util.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/plugin/components/tooltip-handler/canvas-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/series/base/base-series-transformer.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/theme/builtin/index.ts
  packages/vchart/src/theme/color-scheme/util.ts
  packages/vchart/src/theme/theme-manager.ts
  packages/vchart/src/util/theme/common.ts
  packages/vchart/src/util/theme/merge-theme.ts
  packages/vchart/src/util/theme/preprocess.ts
Labels: vchart, chore, typescript

#3953 fix: add state animate register
  packages/vchart/src/animation/config.ts
Labels: vchart

#3964 Feat/export manual ticker stream light
  common/changes/@visactor/vchart/feat-export-ManualTicker-StreamLight_2025-05-14-10-34.json
  packages/vchart/src/core/index.ts
Labels: vchart, chore

#3966 fix: tooltip should hide when enterable, fix #3965, fix #3922
  common/changes/@visactor/vchart/fix-tooltip-enterable-hide_2025-05-15-09-32.json
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3946 Enhance/mosaic
  common/changes/@visactor/vchart/enhance-mosaic_2025-05-08-01-58.json
  docs/assets/option/en/common/cartesian-series.md
  docs/assets/option/en/common/series.md
  docs/assets/option/en/series/mosaic.md
  docs/assets/option/zh/common/cartesian-series.md
  docs/assets/option/zh/common/series.md
  docs/assets/option/zh/series/mosaic.md
  packages/vchart/src/chart/mosaic/mosaic-transformer.ts
  packages/vchart/src/chart/mosaic/mosaic.ts
  packages/vchart/src/series/mosaic/interface.ts
  packages/vchart/src/series/mosaic/mosaic.ts
  packages/vchart/src/util/data.ts
Labels: vchart, chore, typescript, docs

#3968 fix: upgrade vgrammar to 0.16.7, fix #3965
  common/changes/@visactor/vchart/fix-upgrade-vgrammar-0.16.7_2025-05-15-11-40.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3978 refactor: load theme of series by type
  packages/vchart-extension/src/charts/bar-3d/series.ts
  packages/vchart-extension/src/charts/funnel-3d/series.ts
  packages/vchart-extension/src/charts/pie-3d/series.ts
  packages/vchart-extension/src/charts/word-cloud-3d/series.ts
  packages/vchart/src/core/factory.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/series/area/area.ts
  packages/vchart/src/series/bar/bar.ts
  packages/vchart/src/series/box-plot/box-plot.ts
  packages/vchart/src/series/circle-packing/circle-packing.ts
  packages/vchart/src/series/correlation/correlation.ts
  packages/vchart/src/series/dot/dot.ts
  packages/vchart/src/series/funnel/funnel.ts
  packages/vchart/src/series/gauge/gauge-pointer.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/heatmap/heatmap.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/interface/theme.ts
  packages/vchart/src/series/line/line.ts
  packages/vchart/src/series/link/link.ts
  packages/vchart/src/series/liquid/liquid.ts
  packages/vchart/src/series/map/map.ts
  packages/vchart/src/series/mosaic/mosaic.ts
  packages/vchart/src/series/pie/pie.ts
  packages/vchart/src/series/progress/circular/circular.ts
  packages/vchart/src/series/progress/linear/linear.ts
  packages/vchart/src/series/radar/radar.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/series/range-column/range-column.ts
  packages/vchart/src/series/rose/rose.ts
  packages/vchart/src/series/sankey/sankey.ts
  packages/vchart/src/series/scatter/scatter.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/series/treemap/treemap.ts
  packages/vchart/src/series/venn/venn.ts
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/theme/builtin/common/mark.ts
  packages/vchart/src/theme/builtin/common/series/circle-packing.ts
  packages/vchart/src/theme/builtin/common/series/sunburst.ts
  packages/vchart/src/theme/builtin/light/index.ts
Labels: vchart

#3979 feat: remove marker type. close #3782
  common/changes/@visactor/vchart/dev-2.0.0_2025-05-21-10-01.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/marker/mark-point/base-mark-point.ts
  packages/vchart/src/component/marker/mark-point/interface/theme.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3936 feat: export all component and chart register function
  packages/react-vchart/src/index.ts
  packages/react-vchart/src/register.ts
Labels: react-vchart

#3984 refactor: component support builtInComponent
  packages/vchart-extension/src/charts/axis-3d/band-axis.ts
  packages/vchart-extension/src/charts/axis-3d/linear-axis.ts
  packages/vchart-extension/src/charts/axis-3d/log-axis.ts
  packages/vchart-extension/src/charts/axis-3d/symlog-axis.ts
  packages/vchart-extension/src/charts/axis-3d/theme.ts
  packages/vchart-extension/src/charts/axis-3d/time-axis.ts
  packages/vchart/__tests__/util/context.ts
  packages/vchart/src/component/axis/cartesian/band-axis.ts
  packages/vchart/src/component/axis/cartesian/linear-axis.ts
  packages/vchart/src/component/axis/cartesian/log-axis.ts
  packages/vchart/src/component/axis/cartesian/symlog-axis.ts
  packages/vchart/src/component/axis/cartesian/time-axis.ts
  packages/vchart/src/component/axis/polar/band-axis.ts
  packages/vchart/src/component/axis/polar/linear-axis.ts
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/data-zoom/data-zoom/data-zoom.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
  packages/vchart/src/component/indicator/indicator.ts
  packages/vchart/src/component/interface/theme.ts
  packages/vchart/src/component/label/total-label.ts
  packages/vchart/src/component/legend/continuous/legend.ts
  packages/vchart/src/component/legend/discrete/legend.ts
  packages/vchart/src/component/marker/mark-area/cartesian-mark-area.ts
  packages/vchart/src/component/marker/mark-area/polar-mark-area.ts
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
  packages/vchart/src/component/marker/mark-line/polar-mark-line.ts
  packages/vchart/src/component/marker/mark-point/cartesian-mark-point.ts
  packages/vchart/src/component/marker/mark-point/geo-mark-point.ts
  packages/vchart/src/component/marker/mark-point/polar-mark-point.ts
  packages/vchart/src/component/player/player.ts
  packages/vchart/src/component/title/title.ts
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/core/factory.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/range-area/range-area.ts
  packages/vchart/src/theme/builtin/common/component/axis/cartesian-axis.ts
  packages/vchart/src/theme/builtin/common/component/index.ts
  packages/vchart/src/theme/builtin/light/index.ts
  tools/bugserver-trigger/src/index.ts
Labels: vchart, typescript

#3987 Fix/tooltip children
  common/changes/@visactor/vchart/fix-tooltip-children_2025-05-23-07-49.json
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/react-vchart/src/components/tooltip/BaseTooltip.tsx
  packages/react-vchart/src/components/tooltip/CanvasTooltip.tsx
  packages/react-vchart/src/components/tooltip/Tooltip.tsx
  packages/react-vchart/src/components/tooltip/util.tsx
Labels: chore, react-vchart

#3985 Fix/data zoom of lock number domain
  common/changes/@visactor/vchart/fix-data-zoom-of-lock-number-domain_2025-05-22-08-47.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/util.ts
Labels: vchart, chore

#3996 Fix/tooltip customized render
  common/changes/@visactor/vchart/fix-tooltip-customized-render_2025-05-27-07-51.json
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/react-vchart/src/components/tooltip/util.tsx
  packages/react-vchart/src/containers/withContainer.tsx
Labels: chore, react-vchart

#3994 fix: mark and label should not be rendered before layout
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/component.ts
  packages/vchart/src/mark/interface/common.ts
  packages/vchart/src/mark/interface/mark.ts
Labels: vchart

#3993 Docs/2.x update
  docs/assets/examples/en/chart-3d/area3d.md
  docs/assets/examples/en/chart-3d/bar3d.md
  docs/assets/examples/en/chart-3d/funnel3d.md
  docs/assets/examples/en/chart-3d/line3d.md
  docs/assets/examples/en/chart-3d/pie3d.md
  docs/assets/examples/en/chart-3d/scatter3d.md
  docs/assets/examples/en/chart-3d/wordcloud3d.md
  docs/assets/examples/en/pictogram-chart/pictogram-bagua.md
  docs/assets/examples/en/pictogram-chart/pictogram-cat.md
  docs/assets/examples/en/pictogram-chart/pictogram-chinamap.md
  docs/assets/examples/en/pictogram-chart/pictogram-cow.md
  docs/assets/examples/en/pictogram-chart/pictogram-guwen.md
  docs/assets/examples/en/pictogram-chart/pictogram-heart.md
  docs/assets/examples/en/pictogram-chart/pictogram-keyboard.md
  docs/assets/examples/en/pictogram-chart/pictogram-mall.md
  docs/assets/examples/en/pictogram-chart/pictogram-route-swimming.md
  docs/assets/examples/en/pictogram-chart/pictogram-route.md
  docs/assets/examples/en/pictogram-chart/pictogram-seat-map.md
  docs/assets/examples/zh/chart-3d/area3d.md
  docs/assets/examples/zh/chart-3d/bar3d.md
  docs/assets/examples/zh/chart-3d/funnel3d.md
  docs/assets/examples/zh/chart-3d/line3d.md
  docs/assets/examples/zh/chart-3d/pie3d.md
  docs/assets/examples/zh/chart-3d/scatter3d.md
  docs/assets/examples/zh/chart-3d/wordcloud3d.md
  docs/assets/examples/zh/pictogram-chart/pictogram-bagua.md
  docs/assets/examples/zh/pictogram-chart/pictogram-cat.md
  docs/assets/examples/zh/pictogram-chart/pictogram-chinamap.md
  docs/assets/examples/zh/pictogram-chart/pictogram-cow.md
  docs/assets/examples/zh/pictogram-chart/pictogram-guwen.md
  docs/assets/examples/zh/pictogram-chart/pictogram-heart.md
  docs/assets/examples/zh/pictogram-chart/pictogram-keyboard.md
  docs/assets/examples/zh/pictogram-chart/pictogram-mall.md
  docs/assets/examples/zh/pictogram-chart/pictogram-route-swimming.md
  docs/assets/examples/zh/pictogram-chart/pictogram-route.md
  docs/assets/examples/zh/pictogram-chart/pictogram-seat-map.md
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, docs

#3998 Fix/dom tooltip title order
  common/changes/@visactor/vchart/fix-dom-tooltip-title-order_2025-05-28-03-46.json
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
Labels: vchart, chore

#4001 fix: group-mark should not run aniamtion twice
  packages/vchart/src/mark/group.ts
Labels: vchart

#3999 chore: update config of bundler.config.js
  packages/vchart-extension/bundler.config.js
Labels: bundler

#4006 fix: group can run animation too
  packages/vchart/src/mark/base/base-mark.ts
Labels: vchart
