Repository VisActor/VChart, pull requests merged in 2025-01, with the labels that each got.

#3631 fix: brush data will be undefined when mark is hovered. fix#3623
  common/changes/@visactor/vchart/fix-brush-datum-bug_2025-01-02-15-30.json
  packages/vchart/src/component/brush/brush.ts
Labels: vchart, chore

#3608 docs: supply documents for `scrollMask` of discrete legend
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/zh/component/legend-discrete.md
Labels: docs

#3641 docs: add comments of tooltips
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/tooltip/interface/common.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/tooltip/tooltip.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, react-vchart, docs, openinula-vchart

#3637 Fix/dom style when has customized content
  common/changes/@visactor/vchart/fix-dom-style-when-has-customized-content_2024-12-27-07-43.json
  common/changes/@visactor/vchart/fix-dom-style-when-has-customized-content_2024-12-27-07-57.json
  common/changes/@visactor/vchart/fix-dom-style-when-has-customized-content_2025-01-03-09-47.json
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/svg.ts
Labels: vchart, chore

#3644 chore: update pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

#3642 fix: fix invisible region blocking mark events
  common/changes/@visactor/vchart/fix-region-foreground-event_2025-01-07-07-02.json
  packages/vchart/src/region/region.ts
Labels: vchart, chore

#3657 Fix/axis break
  common/changes/@visactor/vchart/fix-axis-break_2025-01-09-07-55.json
  packages/vchart/src/component/axis/mixin/util/break-data.ts
Labels: vchart, chore

#3658 fix: fix the issue where map drag interaction cannot be terminated ou…
  common/changes/@visactor/vchart/fix-zoomable-outside_2025-01-09-07-35.json
  common/changes/@visactor/vchart/fix-zoomable-outside_2025-01-09-08-15.json
  packages/vchart/src/component/common/trigger/config.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
  packages/vchart/src/region/region.ts
Labels: vchart, chore

#3625 Refactor/map label
  common/changes/@visactor/vchart/refactor-map-label_2024-12-30-06-48.json
  docs/assets/guide/en/tutorial_docs/Chart_Extensions/map_label.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Chart_Extensions/map_label.md
  docs/public/vchart/guide/extension/map-label.png
  packages/vchart-extension/__tests__/runtime/browser/test-page/map-label/map-label.ts
  packages/vchart-extension/src/components/map-label/index.ts
  packages/vchart-extension/src/components/map-label/layout.ts
  packages/vchart-extension/src/components/map-label/map-label-transformer.ts
  packages/vchart-extension/src/components/map-label/map-label.ts
  packages/vchart-extension/src/components/map-label/theme.ts
  packages/vchart-extension/src/components/map-label/type.ts
  packages/vchart-extension/src/index.ts
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/index.ts
  packages/vchart/src/component/interface/theme.ts
  packages/vchart/src/component/interface/type.ts
  packages/vchart/src/component/map-label/index.ts
  packages/vchart/src/core/index.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/index-harmony-simple.ts
  packages/vchart/src/index-harmony.ts
  packages/vchart/src/index-lark.ts
  packages/vchart/src/index-wx.ts
  packages/vchart/src/index.ts
  packages/vchart/src/theme/builtin/common/component/index.ts
  packages/vchart/src/util/math.ts
  packages/vchart/src/vchart-all.ts
Labels: vchart, chore, typescript, docs

#3669 Fix/tooltip offset
  common/changes/@visactor/vchart/develop_2025-01-14-11-12.json
  common/changes/@visactor/vchart/develop_2025-01-14-11-15.json
  docs/assets/option/en/component/tooltip.md
  docs/assets/option/zh/component/tooltip.md
  packages/vchart/src/component/tooltip/tooltip.ts
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
Labels: vchart, chore, docs

#3659 docs: update comments
  packages/vchart/src/animation/spec.ts
  packages/vchart/src/component/axis/cartesian/interface/spec.ts
  packages/vchart/src/component/axis/interface/common.ts
  packages/vchart/src/component/axis/interface/spec.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/legend/continuous/interface.ts
  packages/vchart/src/component/legend/interface.ts
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/interface/spec.ts
  packages/vchart/src/component/marker/mark-area/interface/theme.ts
  packages/vchart/src/component/title/interface/spec.ts
  packages/vchart/src/component/tooltip/interface/spec.ts
  packages/vchart/src/component/tooltip/interface/theme.ts
  packages/vchart/src/interaction/interface.ts
  packages/vchart/src/layout/interface.ts
  packages/vchart/src/mark/interface/common.ts
  packages/vchart/src/region/interface.ts
  packages/vchart/src/series/area/interface.ts
  packages/vchart/src/series/box-plot/interface.ts
  packages/vchart/src/series/circle-packing/interface.ts
  packages/vchart/src/series/interface/common.ts
  packages/vchart/src/series/map/interface.ts
  packages/vchart/src/series/mixin/interface.ts
  packages/vchart/src/series/polar/interface.ts
  packages/vchart/src/series/progress/linear/interface.ts
  packages/vchart/src/series/radar/interface.ts
  packages/vchart/src/series/scatter/interface.ts
  packages/vchart/src/series/word-cloud/interface.ts
  packages/vchart/src/typings/layout.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/typings/tooltip/line.ts
  packages/vchart/src/typings/tooltip/shape.ts
  packages/vchart/src/typings/tooltip/tooltip.ts
  packages/vchart/src/typings/visual.ts
Labels: vchart, typescript

#3671 docs: add-mark-area-docs
  docs/assets/option/en/component/mark-area.md
  docs/assets/option/zh/component/mark-area.md
Labels: docs

#3662 feat: add wordCloudConfig in _wordCloudTransformOption()
  common/changes/@visactor/vchart/feat-wordCloudConfig_2025-01-13-03-59.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/browser/test-page/word-cloud.ts
  packages/vchart/package.json
  packages/vchart/src/series/word-cloud/base.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3681 Docs/add pictogram demo
  docs/assets/examples/en/pictogram-chart/pictogram-mall.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pictogram-chart/pictogram-mall.md
Labels: docs

#3692 docs: add how to upload imgs
  docs/assets/contributing/en/6-How to upload image.md
  docs/assets/contributing/menu.json
Labels: docs

#3693 feat: sync dependencies version
  common/autoinstallers/create/package.json
  common/autoinstallers/create/pnpm-lock.yaml
  common/autoinstallers/lint/package.json
  common/autoinstallers/lint/pnpm-lock.yaml
  common/autoinstallers/run-script/package.json
  common/autoinstallers/run-script/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Labels: chore

#3680 feat: visible crosshair can be updated by datazoom
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/interface/cartesian.ts
  packages/vchart/src/component/crosshair/interface/common.ts
  packages/vchart/src/component/crosshair/interface/index.ts
  packages/vchart/src/component/crosshair/interface/polar.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/crosshair/polar.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
  packages/vchart/src/component/crosshair/utils/polar.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
Labels: vchart

#3690 fix: fix the issue where the upper mark in stacked area overlaps the …
  common/changes/@visactor/vchart/fix-area-stack-cover_2025-01-22-06-54.json
  packages/vchart/src/series/area/area.ts
Labels: vchart, chore

#3687 Feat/label tooltip
  common/changes/@visactor/vchart/feat-label-tooltip_2025-01-21-07-31.json
  docs/assets/option/en/component/label.md
  docs/assets/option/zh/component/label.md
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/component/label/label.ts
  packages/vchart/src/component/tooltip/processor/mark-tooltip.ts
Labels: vchart, chore, typescript, docs

#3698 docs: add label tooltip demo
  docs/assets/examples/en/label/label-mark-tooltip.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/label/label-mark-tooltip.md
  docs/public/vchart/preview/label-tooltip-1.13.5.png
Labels: docs

#3697 Fix/indicator switch visible
  common/changes/@visactor/vchart/fix-indicator-switch-visible_2025-01-26-06-34.json
  packages/vchart/__tests__/unit/core/update-spec.test.ts
  packages/vchart/src/chart/base/base-chart.ts
Labels: vchart, chore

#3695 fix: fix cache of crosshair value when hide crosshair, fix #3686
  common/changes/@visactor/vchart/fix-crosshair-cache-value_2025-01-26-06-01.json
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/polar.ts
Labels: vchart, chore

#3696 fix: incorrect update animation of funnel transform mark
  common/changes/@visactor/vchart/develop_2025-01-26-06-21.json
  packages/vchart/src/series/funnel/funnel.ts
Labels: vchart, chore
