Repository VisActor/VChart, pull requests merged in 2025-04, with the labels that each got.

#3884 fix: clear event listener for normal animation when updateSpec
  common/changes/@visactor/vchart/fix-clear-normal-animate-event_2025-04-08-07-28.json
  packages/vchart/src/compile/mark/compilable-mark.ts
  packages/vchart/src/model/base-model.ts
Labels: vchart, chore

#3882 Fix/datazoom text type
  common/changes/@visactor/vchart/fix-datazoom-text-type_2025-04-08-03-13.json
  packages/vchart/src/component/data-zoom/data-zoom/interface.ts
Labels: vchart, chore, typescript

#3879 feat: add new api `filterGraphicsByDatum` to BaseChart
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/chart/sankey/sankey.ts
Labels: vchart

#3888 [WIP] Feat: animate enhance access
  docs/assets/examples/en/pictogram-chart/pictogram-route.md
  docs/assets/examples/en/storytelling/bar-oneByOne-rect.md
  docs/assets/examples/zh/pictogram-chart/pictogram-route.md
  docs/assets/examples/zh/storytelling/bar-oneByOne-rect.md
  packages/vchart/__tests__/runtime/browser/vite.config.js
  packages/vchart/src/animation/config.ts
  packages/vchart/src/animation/utils.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/mark/arc-3d.ts
  packages/vchart/src/mark/arc.ts
  packages/vchart/src/mark/area.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/interface/common.ts
  packages/vchart/src/mark/line.ts
  packages/vchart/src/mark/polygon/polygon.ts
  packages/vchart/src/mark/polygon/pyramid-3d.ts
  packages/vchart/src/mark/rect-3d.ts
  packages/vchart/src/mark/rect.ts
  packages/vchart/src/plugin/other.ts
  packages/vchart/src/series/box-plot/animation.ts
  packages/vchart/src/series/liquid/animation.ts
  packages/vchart/src/series/sunburst/animation/enter.ts
  packages/vchart/src/series/sunburst/animation/exit.ts
  packages/vchart/src/series/venn/animation.ts
  packages/vchart/src/series/word-cloud/animation.ts
  packages/vchart/src/vchart-all.ts
  packages/vchart/src/vchart-simple.ts
Labels: vchart, docs

#3897 Feat/axis datafilter callback
  common/changes/@visactor/vchart/feat-axis-datafilter-callback_2025-04-15-11-37.json
  docs/assets/option/en/component/axis-common/axis-label.md
  docs/assets/option/en/component/axis-common/base-axis.md
  docs/assets/option/zh/component/axis-common/axis-label.md
  docs/assets/option/zh/component/axis-common/base-axis.md
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/interface/spec.ts
Labels: vchart, chore, docs

#3896 fix: mark line valid judgement. fix#3857
  common/changes/@visactor/vchart/fix-mark-line-valid-bug_2025-04-15-08-42.json
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
  packages/vchart/src/component/marker/mark-point/cartesian-mark-point.ts
  packages/vchart/src/component/marker/utils.ts
Labels: vchart, chore

#3898 docs: add trigger type
  docs/assets/guide/en/tutorial_docs/Theme/Theme_Extension.md
  docs/assets/guide/zh/tutorial_docs/Theme/Theme_Extension.md
  docs/assets/option/en/common/element-active-trigger.md
  docs/assets/option/en/common/hover.md
  docs/assets/option/en/common/interaction.md
  docs/assets/option/en/common/select.md
  docs/assets/option/en/common/trigger.md
  docs/assets/option/en/series/area.md
  docs/assets/option/en/series/bar.md
  docs/assets/option/en/series/mosaic.md
  docs/assets/option/zh/common/element-active-trigger.md
  docs/assets/option/zh/common/hover.md
  docs/assets/option/zh/common/interaction.md
  docs/assets/option/zh/common/select.md
  docs/assets/option/zh/common/trigger.md
  docs/assets/option/zh/series/area.md
  docs/assets/option/zh/series/bar.md
  docs/assets/option/zh/series/mosaic.md
Labels: docs

#3903 chore: fix build problem
  packages/vchart/src/component/marker/mark-point/cartesian-mark-point.ts
  packages/vchart/src/data/transforms/pictogram.ts
Labels: vchart

#3904 Fix/crosshari default select axis index
  common/changes/@visactor/vchart/fix-crosshari-defaultSelect-axisIndex_2025-04-09-07-30.json
  packages/vchart/src/component/crosshair/base.ts
Labels: vchart, chore

#3873 Feat/issue 3868
  common/changes/@visactor/vchart/feat-issue-3868_2025-04-14-06-37.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/component/mark-area.md
  docs/assets/option/en/component/mark-line.md
  docs/assets/option/zh/component/mark-area.md
  docs/assets/option/zh/component/mark-line.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/package.json
  packages/vchart/src/component/marker/mark-area/base-mark-area.ts
  packages/vchart/src/component/marker/mark-area/interface/theme.ts
  packages/vchart/src/component/marker/mark-line/base-mark-line.ts
  packages/vchart/src/component/marker/mark-line/cartesian-mark-line.ts
  packages/vchart/src/component/marker/mark-line/interface/theme.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3895 feat: gauge support clip when mark outof axis. close#3859
  common/changes/@visactor/vchart/feat-gauge-clip_2025-04-15-08-24.json
  docs/assets/option/en/series/circular-progress.md
  docs/assets/option/en/series/gauge.md
  docs/assets/option/en/series/linear-progress.md
  docs/assets/option/zh/series/circular-progress.md
  docs/assets/option/zh/series/gauge.md
  docs/assets/option/zh/series/linear-progress.md
  packages/vchart/src/chart/progress/linear/linear-progress-transformer.ts
  packages/vchart/src/series/gauge/gauge.ts
  packages/vchart/src/series/polar/progress-like/interface.ts
  packages/vchart/src/series/polar/progress-like/progress-like.ts
  packages/vchart/src/series/progress/linear/interface.ts
  packages/vchart/src/series/progress/linear/linear.ts
Labels: vchart, chore, typescript, docs

#3887 Fix/dom tooltip autowidth of title
  common/changes/@visactor/vchart/fix-dom-tooltip-autowidth-of-title_2025-04-09-04-04.json
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
Labels: vchart, chore

#3909 Fix/crosshair size of point scale
  common/changes/@visactor/vchart/fix-crosshair-size-of-point-scale_2025-04-18-07-46.json
  packages/vchart/src/component/crosshair/utils/cartesian.ts
Labels: vchart, chore

#3908 refactor: brush
  common/changes/@visactor/vchart/refactor-brush-dev_2025-04-17-16-28.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/component/brush.md
  docs/assets/option/zh/component/brush.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/browser/index.html
  packages/vchart/__tests__/runtime/browser/test-page/brush-summary.ts
  packages/vchart/__tests__/runtime/browser/test-page/brush.ts
  packages/vchart/package.json
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/brush/interface.ts
  packages/vchart/src/constant/event.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3913 fix: fix issue with vscreen
  docs/assets/examples/en/vscreen/area-growth.md
  docs/assets/examples/en/vscreen/area-load.md
  docs/assets/examples/en/vscreen/bar-highlight.md
  docs/assets/examples/en/vscreen/column-parallel-highlight.md
  docs/assets/examples/en/vscreen/line-growth.md
  docs/assets/examples/en/vscreen/line-load.md
  docs/assets/examples/en/vscreen/pie-relocate.md
  docs/assets/examples/en/vscreen/pie-scale.md
  docs/assets/examples/en/vscreen/radar-ridial.md
  docs/assets/examples/en/vscreen/scatter-ripple.md
  docs/assets/examples/zh/vscreen/area-growth.md
  docs/assets/examples/zh/vscreen/area-load.md
  docs/assets/examples/zh/vscreen/bar-highlight.md
  docs/assets/examples/zh/vscreen/column-parallel-highlight.md
  docs/assets/examples/zh/vscreen/double-axis-load.md
  docs/assets/examples/zh/vscreen/line-growth.md
  docs/assets/examples/zh/vscreen/line-load.md
  docs/assets/examples/zh/vscreen/pie-relocate.md
  docs/assets/examples/zh/vscreen/pie-scale.md
  docs/assets/examples/zh/vscreen/radar-ridial.md
  docs/assets/examples/zh/vscreen/scatter-ripple.md
  packages/vchart/src/animation/index.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/compile/interface/compiler.ts
  packages/vchart/src/mark/base/base-mark.ts
Labels: vchart, docs

#3931 chore: add dashboard demo
  packages/vchart/__tests__/runtime/browser/dashboard/chart1.ts
  packages/vchart/__tests__/runtime/browser/dashboard/chart2.ts
  packages/vchart/__tests__/runtime/browser/dashboard/chart3.ts
  packages/vchart/__tests__/runtime/browser/dashboard/chart4.ts
  packages/vchart/__tests__/runtime/browser/dashboard/chart5.ts
  packages/vchart/__tests__/runtime/browser/dashboard/chart6.ts
  packages/vchart/__tests__/runtime/browser/index.html
  packages/vchart/__tests__/runtime/browser/index.page.dashboard.ts
Labels: vchart

#3930 Feat/tooltip position inside
  common/changes/@visactor/vchart/develop_2025-04-25-09-58.json
  packages/vchart/src/plugin/components/tooltip-handler/base.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/position.ts
  packages/vchart/src/typings/tooltip/position.ts
Labels: vchart, chore

#3934 docs: add trae guid
  docs/assets/guide/en/tutorial_docs/Basic/DeepSeek_with_Cursor.md
  docs/assets/guide/en/tutorial_docs/Basic/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Basic/DeepSeek_With_Cursor.md
  docs/assets/guide/zh/tutorial_docs/Basic/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
Labels: docs

#3933 修复 sanKey 示例文档错误。并移除 nameKey 无用类型
  docs/assets/examples/en/sankey-chart/nameKey-sankey.md
  docs/assets/examples/zh/sankey-chart/nameKey-sankey.md
  packages/vchart-types/types/series/sankey/interface.d.ts
  packages/vchart/src/series/sankey/interface.ts
Labels: vchart, typescript, docs, vchart-types
