Repository VisActor/VChart, pull requests merged in 2025-09, with the labels that each got.

#4198 fix: add beforeDoRender hook
  packages/vchart/src/compile/compiler.ts
Labels: vchart

#4183 Fix/linear gradient string in tooltip
  common/changes/@visactor/vchart/fix-linear-gradient-string-in-tooltip_2025-09-04-02-59.json
  packages/vchart/src/plugin/components/tooltip-handler/utils/svg.ts
Labels: vchart, chore

#4190 Feat/support include full band in markarea
  common/changes/@visactor/vchart/feat-support-includeFullBand-in-markarea_2025-09-10-11-13.json
  packages/vchart/src/component/marker/interface.ts
  packages/vchart/src/component/marker/mark-area/cartesian-mark-area.ts
  packages/vchart/src/component/marker/utils.ts
Labels: vchart, chore, typescript

#4200 fix: fix the bug of null value error in sankey chart
  packages/vchart/src/series/sankey/sankey.ts
Labels: vchart

#4196 feat: support zoom & drag config in roam
  packages/vchart/src/component/geo/geo-coordinate.ts
  packages/vchart/src/region/interface.ts
Labels: vchart, typescript

#4179 Feat/combination candlestick chart
  packages/vchart-extension/src/charts/candlestick/index.ts
  packages/vchart-extension/src/charts/candlestick/util.ts
  packages/vchart-extension/src/charts/combination-candlestick/combination-candlestick-transformer.ts
  packages/vchart-extension/src/charts/combination-candlestick/combination-candlestick.ts
  packages/vchart-extension/src/charts/combination-candlestick/constant.ts
  packages/vchart-extension/src/charts/combination-candlestick/index.ts
  packages/vchart-extension/src/charts/combination-candlestick/interface.ts
  packages/vchart-extension/src/index.ts
  packages/vchart/src/index.ts
  packages/vchart/src/layout/grid-layout/grid-layout.ts
Labels: vchart, typescript

#4212 fix: fix the issue of legend pager
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#4211 Feat/support calc in formatter
  common/changes/@visactor/vchart/feat-support-calc-in-formatter_2025-09-24-06-10.json
  packages/vchart/__tests__/unit/function/formatter.test.ts
  packages/vchart/src/plugin/chart/formatter/formatter.ts
Labels: vchart, chore
