Repository VisActor/VChart, pull requests merged in 2025-08, with the labels that each got.

#4114 fix: fix issue with normal after no-animate enter state
  common/changes/@visactor/vchart/fix-enter-normal_2025-07-28-12-53.json
  packages/vchart/src/mark/base/base-mark.ts
Labels: vchart, chore

#4133 fix: fix bug of types
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/mark/base/base-line.ts
  packages/vchart/src/model/interface.ts
Labels: vchart, typescript

#4149 feat: upgrade vrender vgrammar for hideOnOverflow
  common/changes/@visactor/vchart/feat-upgrade-for-hideOnOverflow_2025-08-24-01-16.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#4169 fix: fix bug of tooltip first show position
  packages/vchart/src/component/marker/mark-point/cartesian-mark-point.ts
  packages/vchart/src/plugin/components/tooltip-handler/dom-tooltip-handler.ts
Labels: vchart

#4123 feat: scrollbar support auto visible. close #3972
  common/changes/@visactor/vchart/feat-scrollbar-autovisible_2025-07-31-08-52.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/interface.ts
Labels: vchart, chore, typescript

#4171 Fix/refactor caused bugs
  packages/vchart-extension/src/charts/image-cloud/series/image-cloud.ts
  packages/vchart/__tests__/runtime/browser/test-page/debug.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/series/word-cloud/base.ts
  packages/vchart/src/typings/spec/common.ts
  packages/vchart/src/util/style.ts
Labels: vchart
