Repository VisActor/VChart, pull requests merged in 2025-03, with the labels that each got.

#3772 docs: morph animation not work in tutorial
  docs/assets/contributing/en/4-How to Contribute to a Demo.md
  docs/assets/contributing/zh/4-How to Contribute to a Demo.md
  docs/assets/guide/en/tutorial_docs/Animation/Animation_Types.md
  docs/assets/guide/zh/tutorial_docs/Animation/Animation_Types.md
Labels: docs

#3778 docs: add midscene guide
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/midscene.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/midscene.md
Labels: docs

#3779 Docs/add pictogram demo
  docs/assets/examples/en/pictogram-chart/pictogram-heart.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pictogram-chart/pictogram-heart.md
Labels: docs

#3780 docs: update docs about lynx
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/assets/guide/en/tutorial_docs/Cross-terminal_and_Developer_Ecology/react-lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/lynx.md
  docs/assets/guide/zh/tutorial_docs/Cross-terminal_and_Developer_Ecology/react-lynx.md
Labels: docs

#3777 fix: fix issue with wx get context
  common/changes/@visactor/vchart/fix-wx-get-context_2025-03-05-04-18.json
  packages/taro-vchart/src/components/general-chart/index.tsx
Labels: chore, taro-vchart

#3776 Chore: upgrade rush & fix some windows platform error
  .github/workflows/size-limit.yml
  common/autoinstallers/create/package.json
  common/autoinstallers/create/pnpm-lock.yaml
  common/autoinstallers/lint/change-all.ts
  common/autoinstallers/lint/commit-lint.js
  common/autoinstallers/lint/package.json
  common/autoinstallers/lint/pnpm-lock.yaml
  common/autoinstallers/lint/prettier.ts
  common/autoinstallers/run-script/package.json
  common/autoinstallers/run-script/pnpm-lock.yaml
  common/autoinstallers/rush-upgrade/package.json
  common/autoinstallers/rush-upgrade/pnpm-lock.yaml
  common/autoinstallers/rush-upgrade/rush-plugins/rush-upgrade-self-plugin/rush-plugin-manifest.json
  common/autoinstallers/rush-upgrade/rush-plugins/rush-upgrade-self-plugin/rush-upgrade-self-plugin/command-line.json
  common/config/rush/rush-plugins.json
  common/git-hooks/commit-msg
  common/git-hooks/pre-commit
  common/git-hooks/pre-push
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  rush.json
Labels: chore

#3783 Fix/richtext fontfamily
  common/changes/@visactor/vchart/fix-richtext-fontfamily_2025-03-06-10-45.json
  docs/assets/option/en/common/layout.md
  docs/assets/option/zh/common/layout.md
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore, docs

#3806 Fix/merge of options
  common/changes/@visactor/vchart/fix-merge-of-options_2025-03-13-06-28.json
  packages/vchart/src/core/vchart.ts
Labels: vchart, chore

#3807 docs: update vchart docs
  docs/assets/examples/en/pattern/dynamic-texture-bar.md
  docs/assets/examples/en/pattern/dynamic-texture-progress.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pattern/dynamic-texture-bar.md
  docs/assets/examples/zh/pattern/dynamic-texture-progress.md
Labels: docs

#3797 docs: add pictogram-bagua demo and related docs
  docs/assets/examples/en/pictogram-chart/pictogram-bagua.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pictogram-chart/pictogram-bagua.md
  packages/vchart/__tests__/runtime/browser/test-page/pictogram_bagua_demo.ts
Labels: vchart, docs

#3804 Fix/react dom event
  common/changes/@visactor/vchart/fix-react-dom-event_2025-03-13-03-12.json
  packages/react-vchart/src/charts/BaseChart.tsx
Labels: chore, react-vchart

#3630 feat: add ranking list extension chart
  packages/vchart-extension/__tests__/runtime/browser/test-page/ranking-list-2.ts
  packages/vchart-extension/__tests__/runtime/browser/test-page/ranking-list-3.ts
  packages/vchart-extension/__tests__/runtime/browser/test-page/ranking-list.ts
  packages/vchart-extension/package.json
  packages/vchart-extension/src/charts/ranking-list/constant.ts
  packages/vchart-extension/src/charts/ranking-list/interface.ts
  packages/vchart-extension/src/charts/ranking-list/ranking-list-transformer.ts
  packages/vchart-extension/src/charts/ranking-list/ranking-list.ts
  packages/vchart-extension/src/charts/ranking-list/utils.ts
  packages/vchart-extension/src/index.ts
  packages/vchart/src/index.ts
Labels: vchart, typescript

#3809 Docs/region options
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/common/layout-item.md
  docs/assets/option/en/common/region.md
  docs/assets/option/zh/common/layout-item.md
  docs/assets/option/zh/common/region.md
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3813 fix: type defination of `ILabelSpec`
  packages/vchart/src/component/label/interface.ts
Labels: vchart, typescript

#3812 fix: fix the issue where the bar chart grow animation does not work c…
  common/changes/@visactor/vchart/fix-bar-appear-growFrom_2025-03-14-06-09.json
  packages/vchart/src/series/bar/bar.ts
Labels: vchart, chore

#3817 Docs/fix layout item
  docs/assets/option/en/common/layout-item.md
  packages/vchart/src/component/label/interface.ts
Labels: vchart, typescript, docs

#3823 refactor: graphic animation state
  packages/vchart/src/animation/animate-manager.ts
  packages/vchart/src/animation/interface.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/component/base/base-component.ts
  packages/vchart/src/component/interface/common.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/group.ts
  packages/vchart/src/mark/interface/common.ts
  packages/vchart/src/region/region.ts
Labels: vchart, typescript

#3754 Docs/add pictogram demo
  docs/assets/examples/en/pictogram-chart/pictogram-chinamap.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pictogram-chart/pictogram-chinamap.md
Labels: docs

#3821 docs: update map tutorial
  docs/assets/guide/en/tutorial_docs/Chart_Types/Map.md
  docs/assets/guide/zh/tutorial_docs/Chart_Types/Map.md
Labels: docs

#3825 docs: optimize demo
  docs/assets/examples/en/pictogram-chart/pictogram-bagua.md
  docs/assets/examples/en/pictogram-chart/pictogram-chinamap.md
  docs/assets/examples/en/pictogram-chart/pictogram-heart.md
  docs/assets/examples/en/pictogram-chart/pictogram-mall.md
  docs/assets/examples/zh/pictogram-chart/pictogram-bagua.md
  docs/assets/examples/zh/pictogram-chart/pictogram-chinamap.md
  docs/assets/examples/zh/pictogram-chart/pictogram-heart.md
  docs/assets/examples/zh/pictogram-chart/pictogram-mall.md
  packages/vchart/__tests__/runtime/browser/test-page/pictogram_bagua_demo.ts
Labels: vchart, docs

#3833 Fix: pictogram path color
  common/changes/@visactor/vchart/fix-pictogram-path-color_2025-03-24-03-22.json
  packages/vchart/src/data/transforms/pictogram.ts
Labels: vchart, chore

#3837 fix: fix error when load gauge chart on demand
  common/changes/@visactor/vchart/fix-gauge-load-on-demand_2025-03-24-09-59.json
  packages/vchart/src/chart/gauge/gauge.ts
Labels: vchart, chore

#3839 Fix/crosshair band label
  common/changes/@visactor/vchart/fix-crosshair-band-label_2025-03-24-10-08.json
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
Labels: vchart, chore

#3824 fix: fix bug of zoomable in mobile device which only use pointer event
  common/changes/@visactor/vchart/fix-zoomable-drag_2025-03-19-08-05.json
  common/changes/@visactor/vchart/fix-zoomable-drag_2025-03-19-09-02.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/__tests__/runtime/browser/index.html
  packages/vchart/package.json
  packages/vchart/src/component/common/trigger/config.ts
  packages/vchart/src/component/common/trigger/desktop.ts
  packages/vchart/src/component/common/trigger/interface.ts
  packages/vchart/src/component/common/trigger/mobile.ts
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, typescript, react-vchart, docs, openinula-vchart

#3840 refactor: add mark api `hasAnimationByState`
  packages/vchart/src/mark/base/base-mark.ts
Labels: vchart

#3842 Fix/set domain of field
  common/changes/@visactor/vchart/fix-set-domain-of-field_2025-03-25-07-57.json
  common/changes/@visactor/vchart/fix-set-domain-of-field_2025-03-26-02-12.json
  packages/vchart/src/data/transforms/dimension-statistics.ts
  packages/vchart/src/typings/spec/common.ts
Labels: vchart, chore

#3850 Fix: event prevent level
  common/changes/@visactor/vchart/fix-event-prevent-level_2025-03-26-10-08.json
  packages/vchart/src/constant/event.ts
  packages/vchart/src/event/event-dispatcher.ts
  packages/vchart/src/event/interface.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore, typescript

#3852 Fix/react vchart children
  common/changes/@visactor/vchart/fix-react-vchart-children_2025-03-27-02-02.json
  packages/react-vchart/src/charts/BaseChart.tsx
  packages/react-vchart/src/components/BaseComponent.tsx
Labels: chore, react-vchart

#3841 Fix/crosshair remain
  common/changes/@visactor/vchart/fix-crosshair-remain_2025-03-25-03-38.json
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/interface/spec.ts
  packages/vchart/src/component/crosshair/polar.ts
Labels: vchart, chore

#3847 Fix/legend title visible
  common/changes/@visactor/vchart/fix-legend-title-visible_2025-03-26-04-03.json
  packages/vchart/src/component/legend/continuous/util.ts
  packages/vchart/src/component/legend/discrete/util.ts
Labels: vchart, chore

#3853 docs: update readme
  packages/react-vchart/README.md
Labels: react-vchart, docs

#3856 fix: upgrade vgrammar to 0.16.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3858 Feat/calculate top default
  common/changes/@visactor/vchart/feat-calculate-top-default_2025-03-28-03-03.json
  packages/vchart/src/chart/stack.ts
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/event/event.ts
Labels: vchart, chore, typescript

#3871 feat: add new pictogram-guwen demo
  docs/assets/examples/en/pictogram-chart/pictogram-guwen.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/pictogram-chart/pictogram-guwen.md
Labels: docs
