Repository VisActor/VChart, pull requests merged in 2025-02, with the labels that each got.

#3721 Feat/support stack inverse in waterfall
  common/changes/@visactor/vchart/feat-support-stack-inverse-in-waterfall_2025-02-11-08-07.json
  packages/vchart/__tests__/runtime/browser/index.page.ts
  packages/vchart/src/data/transforms/waterfall.ts
  packages/vchart/src/series/waterfall/waterfall.ts
Labels: vchart, chore

#3701 Fix/morphing of circular progress
  common/changes/@visactor/vchart/fix-morphing-of-circular-progress_2025-02-05-10-28.json
  packages/vchart/src/series/progress/circular/circular.ts
Labels: vchart, chore

#3722 Fix/fix issue if tick align accuracy
  common/changes/@visactor/vchart/fix-fix-issue-if-tick-align-accuracy_2025-02-11-09-51.json
  packages/vchart/src/plugin/components/axis-sync/tick-align-transform.ts
Labels: vchart, chore

#3702 Docs/poptip of text
  common/changes/@visactor/vchart/docs-poptip-of-text_2025-02-05-08-17.json
  docs/assets/option/en/component/legend-discrete.md
  docs/assets/option/en/graphic/text-font.md
  docs/assets/option/en/graphic/text-poptip.md
  docs/assets/option/en/graphic/text.md
  docs/assets/option/zh/component/legend-discrete.md
  docs/assets/option/zh/graphic/text-font.md
  docs/assets/option/zh/graphic/text-poptip.md
  docs/assets/option/zh/graphic/text.md
Labels: chore, docs

#3707 feat: add event filter of scrollbar event
  common/changes/@visactor/vchart/feat-scrollvar-event-filter_2025-02-08-08-55.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/interface.ts
  packages/vchart/src/event/index.ts
Labels: vchart, chore, typescript

#3723 Fix/tooltip max width
  common/changes/@visactor/vchart/fix-tooltip-max-width_2025-02-12-03-29.json
  packages/vchart/src/plugin/components/tooltip-handler/utils/attribute.ts
  packages/vchart/src/plugin/components/tooltip-handler/utils/style.ts
Labels: vchart, chore

#3725 Fix/tooltip enterable effect
  common/changes/@visactor/vchart/fix-tooltip-enterable-effect_2025-02-12-04-11.json
  packages/vchart/src/component/tooltip/tooltip.ts
Labels: vchart, chore

#3715 fix: datazoom/scrollbar roam and realtime error
  common/changes/@visactor/vchart/fix-data-zoom-roam_2025-02-10-12-22.json
  common/changes/@visactor/vchart/fix-data-zoom-roam_2025-02-11-09-18.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/data-zoom/data-filter-base-component.ts
  packages/vchart/src/component/data-zoom/scroll-bar/scroll-bar.ts
  packages/vchart/src/interaction/zoom/zoomable.ts
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3724 Perf/pictogram
  common/changes/@visactor/vchart/perf-pictogram_2025-02-12-03-15.json
  packages/vchart/src/series/pictogram/pictogram.ts
Labels: vchart, chore

#3726 Fix/type of text
  common/changes/@visactor/vchart/fix-type-of-text_2025-02-12-07-55.json
  docs/assets/option/en/component/label.md
  docs/assets/option/zh/component/label.md
  packages/vchart/src/component/label/interface.ts
  packages/vchart/src/core/index.ts
  packages/vchart/src/series/pictogram/pictogram.ts
  packages/vchart/src/series/sunburst/sunburst.ts
  packages/vchart/src/typings/visual.ts
Labels: vchart, chore, typescript, docs

#3733 Add cusor + deepseek docs into guide
  docs/assets/guide/en/tutorial_docs/Basic/DeepSeek_with_Cursor.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/tutorial_docs/Basic/DeepSeek_With_Cursor.md
Labels: docs

#3746 fix: map zoom error bug. fix#3743
  common/changes/@visactor/vchart/fix-zoom-error_2025-02-20-03-00.json
  packages/vchart/src/interaction/zoom/zoomable.ts
Labels: vchart, chore

#3750 feat: support `clamp` in linear scales
  common/changes/@visactor/vchart/feat-linear-scale-clamp_2025-02-20-11-12.json
  docs/assets/option/en/common/visual-scale-spec.md
  docs/assets/option/zh/common/visual-scale-spec.md
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/scale/global-scale.ts
  packages/vchart/src/typings/visual.ts
  packages/vchart/src/util/scale.ts
Labels: vchart, chore, docs

#3751 fix: display line label normally when seriesField is missing, #3709
  common/changes/@visactor/vchart/fix-line-label-when-no-grouping_2025-02-20-12-17.json
  packages/vchart/src/component/label/util.ts
  packages/vchart/src/series/mixin/line-mixin.ts
Labels: vchart, chore

#3758 Feat/optimization waterfall link
  common/changes/@visactor/vchart/feat-optimization-waterfall-link_2025-02-24-12-10.json
  packages/vchart/src/series/waterfall/waterfall.ts
  packages/vchart/src/util/scale.ts
Labels: vchart, chore

#3719 Feat: transform ratio text content config in funnel tooltip
  common/changes/@visactor/vchart/feat-transformRatio-locales_2025-02-11-03-29.json
  docs/assets/option/en/series/funnel.md
  docs/assets/option/zh/series/funnel.md
  packages/vchart/src/chart/funnel/funnel-transformer.ts
  packages/vchart/src/series/funnel/interface.ts
  packages/vchart/src/series/funnel/tooltip-helper.ts
Labels: vchart, chore, typescript, docs

#3761 fix: upgrade vrender to 0.22.3
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#3763 docs: support dynamic texture docs
  docs/assets/examples/en/storytelling/dynamic-texture-bar.md
  docs/assets/examples/en/storytelling/dynamic-texture-progress.md
  docs/assets/examples/menu.json
  docs/assets/examples/zh/storytelling/dynamic-texture-bar.md
  docs/assets/examples/zh/storytelling/dynamic-texture-progress.md
Labels: docs

#3764 feat: export dynamic texture tools
  common/config/rush/pnpm-config.json
  packages/vchart/src/index.ts
  packages/vchart/src/vrender-tools.ts
Labels: vchart, chore
