Repository VisActor/VChart, pull requests merged in 2025-06, with the labels that each got.

#4013 fix: marker porint default style bug
  common/changes/@visactor/vchart/fix-marker-offset-problem_2025-06-04-01-32.json
  packages/vchart/src/component/marker/mark-point/base-mark-point.ts
Labels: vchart, chore

#4028 Fix/merge bug
  docs/assets/changelog/en/release-v1.md
  docs/assets/changelog/en/release.md
  docs/assets/changelog/menu.json
  docs/assets/changelog/zh/release-v1.md
  docs/assets/changelog/zh/release.md
  packages/vchart/src/core/index.ts
Labels: vchart, docs

#4020 Fix/brush and datazoom problem
  common/changes/@visactor/vchart/fix-brush-and-datazoom-problem_2025-06-06-04-00.json
  common/changes/@visactor/vchart/fix-brush-and-datazoom-problem_2025-06-06-07-33.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  package-lock.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/crosshair/cartesian.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
  packages/vchart/src/component/marker/utils.ts
  packages/vstory/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#4032 build: prelease version 1.13.12
  common/changes/@visactor/vchart/fix-brush-and-datazoom-problem_2025-06-06-04-00.json
  common/changes/@visactor/vchart/fix-brush-and-datazoom-problem_2025-06-06-07-33.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/block-vchart/block/vchart/index.js
  packages/harmony_vchart/library/oh-package.json5
  packages/harmony_vchart/library/src/main/ets/index-harmony-simple.es.min.js
  packages/harmony_vchart/library/src/main/ets/index-harmony.es.min.js
  packages/lark-vchart/package.json
  packages/lark-vchart/src/vchart/index.js
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/taro-vchart/package.json
  packages/tt-vchart/src/vchart/index.js
  packages/vchart-extension/package.json
  packages/vchart-schema/package.json
  packages/vchart-schema/vchart.json
  packages/vchart-types/package.json
  packages/vchart-types/types/component/brush/brush.d.ts
  packages/vchart-types/types/component/crosshair/interface/common.d.ts
  packages/vchart-types/types/component/crosshair/interface/spec.d.ts
  packages/vchart/CHANGELOG.json
  packages/vchart/CHANGELOG.md
  packages/vchart/dist/index-wx-simple.min.js
  packages/vchart/package.json
  packages/vutils-extension/package.json
  packages/wx-vchart/miniprogram/src/vchart/index.js
  packages/wx-vchart/package.json
  tools/bugserver-trigger/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, taro-vchart, block-vchart, lark-vchart, tt-vchart, vchart-schema, docs, vchart-types, openinula-vchart

#4040 fix: fix bug of crosshair default select
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/chart/interface/chart.ts
  packages/vchart/src/compile/compiler.ts
  packages/vchart/src/component/axis/base-axis.ts
  packages/vchart/src/component/axis/interface/common.ts
  packages/vchart/src/component/crosshair/base.ts
  packages/vchart/src/component/crosshair/utils/cartesian.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
Labels: vchart, typescript

#4036 feat: add config to avoid brush state update. close #4035
  common/changes/@visactor/vchart/dev-2.0.0_2025-06-16-11-50.json
  docs/assets/option/en/component/brush.md
  docs/assets/option/zh/component/brush.md
  packages/vchart/src/component/brush/brush.ts
  packages/vchart/src/component/brush/interface.ts
Labels: vchart, chore, typescript, docs

#4045 Fix/tooltip title text align
  common/changes/@visactor/vchart/fix-tooltip-title-textAlign_2025-06-20-02-03.json
  packages/vchart/src/plugin/components/tooltip-handler/utils/style.ts
Labels: vchart, chore

#4052 Fix/init animation state of mark
  packages/vchart/src/animation/animate-manager.ts
  packages/vchart/src/core/vchart.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/group.ts
  packages/vchart/src/mark/interface/common.ts
  packages/vchart/src/model/base-model.ts
  packages/vchart/src/model/interface.ts
  packages/vchart/src/region/region.ts
Labels: vchart, typescript

#4048 Docs/scatter 3d
  .github/workflows/pre-release.yml
  docs/assets/examples/zh/chart-3d/scatter3d.md
  packages/vchart-extension/src/charts/sequence-scatter-link/utils.ts
Labels: chore, docs

#4055 feat: optimize datazoom animation
  common/changes/@visactor/vchart/feat-optimize-datazoom-animation_2025-06-24-09-30.json
  packages/vchart/src/chart/base/base-chart.ts
  packages/vchart/src/mark/base/base-mark.ts
  packages/vchart/src/mark/interface/common.ts
Labels: vchart, chore

#4058 Fix/multi layer performance
  common/changes/@visactor/vchart/fix-multi-layer-performance_2025-06-25-09-04.json
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
Labels: vchart, chore

#4062 Fix/upgrade vrender 0.19.7
  common/changes/@visactor/vchart/fix-upgrade-vrender-0.19.7_2025-06-26-00-42.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vchart/package.json
  packages/react-vchart/package.json
  packages/vchart-extension/package.json
  packages/vchart/package.json
  packages/vstory/package.json
  packages/vutils-extension/package.json
  tools/story-player/package.json
Labels: vchart, chore, react-vchart, docs, openinula-vchart

#4061 fix: tickData of axis should update when `sampling` is changed, fix #…
  common/changes/@visactor/vchart/fix-axis-update-about-sampling_2025-06-27-06-07.json
  packages/vchart/src/component/axis/cartesian/band-axis.ts
  packages/vchart/src/component/axis/mixin/band-axis-mixin.ts
Labels: vchart, chore
